workflows/02-planning-execution/12-sprint-planning-assistant/workflow.json
{
  "meta": { "id": "12", "name": "Sprint Planning Assistant", "description": "Convert a prioritized backlog into a balanced sprint plan: capacity-check, assign items to team members, flag over-commitments, and share the draft plan for approval.", "category": "Planning & Execution", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "intermediate", "setupTime": "20 min", "requiredIntegrations": ["OpenAI API", "Google Sheets"], "optionalIntegrations": ["Linear API", "Jira API", "Slack API"], "triggerType": "manual", "aiRequired": true, "humanApproval": true, "tags": ["sprint", "planning", "capacity", "agile"] },
  "name": "12 – Sprint Planning Assistant",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 12 — Sprint Planning Assistant\n\n**Required:**\n- BACKLOG_SHEET_ID: sheet with columns id, title, estimate_days, assignee, priority\n- TEAM_SHEET_ID: sheet with columns name, capacity_days (available days this sprint)\n- Sprint duration: set SPRINT_DAYS (default: 10)\n\n**Status:** Beta.", "height": 280, "width": 360, "color": 7 } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 40], "parameters": {} },
    { "id": "n-load-backlog", "name": "Load Priority Backlog", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, -40], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.BACKLOG_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Backlog", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-load-team", "name": "Load Team Capacity", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 100], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.TEAM_SHEET_ID || $env.BACKLOG_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Team", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-plan", "name": "Build Sprint Plan (AI)", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.7, "position": [300, 40], "parameters": { "resource": "text", "operation": "message", "model": { "__rl": true, "value": "={{ $env.AI_MODEL_SMART || 'gpt-4o' }}", "mode": "id" }, "messages": { "values": [{ "role": "system", "content": "You are a sprint planning assistant. Create a balanced sprint plan respecting team capacity. Never overcommit. Return JSON only." }, { "role": "user", "content": "Sprint duration: {{ $env.SPRINT_DAYS || 10 }} days\n\nBacklog (priority-ordered):\n{{ JSON.stringify($('Load Priority Backlog').all().map(i=>i.json), null, 2) }}\n\nTeam capacity:\n{{ JSON.stringify($('Load Team Capacity').all().map(i=>i.json), null, 2) }}\n\nCreate a sprint plan. Return JSON:\n{ \"sprint_items\": [{ \"id\": str, \"title\": str, \"assignee\": str, \"estimate_days\": num, \"rationale\": str }], \"backlog_deferred\": [{ \"id\": str, \"reason\": str }], \"capacity_summary\": [{ \"name\": str, \"capacity\": num, \"allocated\": num, \"remaining\": num }], \"risks\": [str], \"sprint_goal\": str }" }] }, "options": {} }, "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI API" } } },
    { "id": "n-parse", "name": "Parse Sprint Plan", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [540, 40], "parameters": { "jsCode": "let plan;\ntry { plan = JSON.parse(($input.first().json.message?.content||'{}').replace(/```json|```/g,'').trim()); } catch { plan = {}; }\nreturn [{ json: { generated_at: new Date().toISOString(), sprint_days: parseInt($env.SPRINT_DAYS||10,10), ...plan } }];" } },
    { "id": "n-approve", "name": "Request Approval", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 2, "position": [780, 40], "parameters": { "workflowId": { "__rl": true, "value": "HUMAN_APPROVAL_WORKFLOW_ID", "mode": "id" }, "mode": "each", "workflowInputs": { "mappingMode": "defineBelow", "value": { "title": "Approve: Sprint Plan", "summary": "{{ $json.sprint_items?.length || 0 }} items planned. Goal: {{ $json.sprint_goal || 'N/A' }}", "details": "={{ $json }}", "approver_email": "={{ $env.NOTIFICATION_EMAIL_TO }}", "timeout_hours": 24 } } } },
    { "id": "n-check", "name": "Approved?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1020, 40], "parameters": { "conditions": { "conditions": [{ "leftValue": "={{ $json.approved }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }] } } },
    { "id": "n-send", "name": "Share Sprint Plan", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 2, "position": [1260, -20], "parameters": { "workflowId": { "__rl": true, "value": "NOTIFICATION_ROUTER_WORKFLOW_ID", "mode": "id" }, "mode": "each", "workflowInputs": { "mappingMode": "defineBelow", "value": { "channel": "={{ $env.NOTIFICATION_CHANNEL || 'slack' }}", "title": "🏃 Sprint Plan Ready: {{ $('Parse Sprint Plan').first().json.sprint_items?.length || 0 }} items", "body": "Sprint goal: {{ $('Parse Sprint Plan').first().json.sprint_goal || 'N/A' }}", "urgency": "medium" } } } }
  ],
  "connections": { "Manual Trigger": { "main": [[{ "node": "Load Priority Backlog", "type": "main", "index": 0 }, { "node": "Load Team Capacity", "type": "main", "index": 0 }]] }, "Load Priority Backlog": { "main": [[{ "node": "Build Sprint Plan (AI)", "type": "main", "index": 0 }]] }, "Load Team Capacity": { "main": [[{ "node": "Build Sprint Plan (AI)", "type": "main", "index": 0 }]] }, "Build Sprint Plan (AI)": { "main": [[{ "node": "Parse Sprint Plan", "type": "main", "index": 0 }]] }, "Parse Sprint Plan": { "main": [[{ "node": "Request Approval", "type": "main", "index": 0 }]] }, "Request Approval": { "main": [[{ "node": "Approved?", "type": "main", "index": 0 }]] }, "Approved?": { "main": [[{ "node": "Share Sprint Plan", "type": "main", "index": 0 }], []] } },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "sprint" }, { "name": "planning" }], "triggerCount": 0, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "12-v1.0.0"
}
