workflows/05-founder-intelligence/49-product-news-digest/workflow.json
{
  "meta": { "id": "49", "name": "Product News Digest", "description": "Compile a weekly digest of product announcements, launches, and updates from across the product industry. Curated for product managers and founders.", "category": "Founder Intelligence", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "beginner", "setupTime": "10 min", "requiredIntegrations": ["OpenAI API", "SMTP Email"], "optionalIntegrations": ["RSS Feeds"], "triggerType": "schedule", "aiRequired": true, "humanApproval": false, "tags": ["product", "news", "digest", "curation"] },
  "name": "49 – Product News Digest",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 49 — Product News Digest\n\nWeekly curated digest of product management and SaaS news.\n\n**Required:**\n- OpenAI API, SMTP Email, NOTIFICATION_EMAIL_TO\n- Optionally configure PRODUCT_RSS_URL_1/_2/_3 with your preferred feeds\n\n**Default feeds:** Product Hunt, Mind The Product, TechCrunch\n**Schedule:** Every Monday at 07:30\n**Status:** Beta.", "height": 280, "width": 380, "color": 7 } },
    { "id": "n-schedule", "name": "Monday 07:30", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1, "triggerAtDay": [1], "triggerAtHour": 7, "triggerAtMinute": 30 }] } } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-feed1", "name": "Product Hunt Top", "type": "n8n-nodes-base.rssFeedRead", "typeVersion": 1.1, "position": [60, -40], "parameters": { "url": "={{ $env.PRODUCT_RSS_URL_1 || 'https://www.producthunt.com/feed' }}" } },
    { "id": "n-feed2", "name": "TechCrunch Products", "type": "n8n-nodes-base.rssFeedRead", "typeVersion": 1.1, "position": [60, 80], "parameters": { "url": "={{ $env.PRODUCT_RSS_URL_2 || 'https://techcrunch.com/category/startups/feed/' }}" } },
    { "id": "n-feed3", "name": "Hacker News", "type": "n8n-nodes-base.rssFeedRead", "typeVersion": 1.1, "position": [60, 200], "parameters": { "url": "={{ $env.PRODUCT_RSS_URL_3 || 'https://news.ycombinator.com/rss' }}" } },
    { "id": "n-collect", "name": "Collect and Deduplicate", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 80], "parameters": { "jsCode": "const weekAgo = new Date(); weekAgo.setDate(weekAgo.getDate()-7);\nconst seen = new Set();\nconst items = $input.all().map(i=>i.json).filter(item => {\n  const key = item.link || item.title;\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return !item.isoDate || new Date(item.isoDate) >= weekAgo;\n}).map(i=>({ title: i.title, link: i.link, date: i.isoDate?.slice(0,10)||'', snippet: (i.contentSnippet||i.content||'').slice(0,200) })).slice(0,30);\nreturn [{ json: { week: new Date().toISOString().slice(0,10), count: items.length, items } }];" } },
    { "id": "n-curate", "name": "Curate Digest (AI)", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.7, "position": [540, 80], "parameters": { "resource": "text", "operation": "message", "model": { "__rl": true, "value": "={{ $env.AI_MODEL_SMART || 'gpt-4o' }}", "mode": "id" }, "messages": { "values": [{ "role": "system", "content": "Curate a weekly product news digest for a product manager at a SaaS startup. Select the 5-7 most relevant stories. Add a one-line insight for each. Return JSON only." }, { "role": "user", "content": "Week: {{ $json.week }}\n{{ $json.count }} stories collected:\n\n{{ JSON.stringify($json.items, null, 2) }}\n\nReturn JSON:\n{ \"week_headline\": str, \"stories\": [{ \"title\": str, \"link\": str, \"category\": str, \"pm_insight\": str }], \"theme_of_the_week\": str, \"one_thing_to_try\": str }" }] }, "options": {} }, "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI API" } } },
    { "id": "n-parse", "name": "Build Digest", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [780, 80], "parameters": { "jsCode": "const data = $('Collect and Deduplicate').first().json;\nlet digest;\ntry { digest = JSON.parse(($input.first().json.message?.content||'{}').replace(/```json|```/g,'').trim()); } catch { digest = {}; }\nreturn [{ json: { week: data.week, raw_count: data.count, generated_at: new Date().toISOString(), ...digest } }];" } },
    { "id": "n-email", "name": "Email Product Digest", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1020, 80], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "📦 Product News {{ $json.week }}: {{ $json.week_headline || ($json.stories||[]).length + ' curated stories' }}", "emailType": "text", "message": "Product News Digest — {{ $json.week }}\n\n{{ $json.week_headline }}\n\n{{ ($json.stories||[]).map(s => `📌 ${s.title}\\n   ${s.link}\\n   💡 ${s.pm_insight}`).join('\\n\\n') }}\n\n🔍 THEME OF THE WEEK: {{ $json.theme_of_the_week }}\n\n✅ ONE THING TO TRY: {{ $json.one_thing_to_try }}\n\n({{ $json.raw_count }} stories scanned, {{ ($json.stories||[]).length }} curated)\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Monday 07:30": { "main": [[{ "node": "Product Hunt Top", "type": "main", "index": 0 }, { "node": "TechCrunch Products", "type": "main", "index": 0 }, { "node": "Hacker News", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Product Hunt Top", "type": "main", "index": 0 }, { "node": "TechCrunch Products", "type": "main", "index": 0 }, { "node": "Hacker News", "type": "main", "index": 0 }]] },
    "Product Hunt Top": { "main": [[{ "node": "Collect and Deduplicate", "type": "main", "index": 0 }]] },
    "TechCrunch Products": { "main": [[{ "node": "Collect and Deduplicate", "type": "main", "index": 0 }]] },
    "Hacker News": { "main": [[{ "node": "Collect and Deduplicate", "type": "main", "index": 0 }]] },
    "Collect and Deduplicate": { "main": [[{ "node": "Curate Digest (AI)", "type": "main", "index": 0 }]] },
    "Curate Digest (AI)": { "main": [[{ "node": "Build Digest", "type": "main", "index": 0 }]] },
    "Build Digest": { "main": [[{ "node": "Email Product Digest", "type": "main", "index": 0 }]] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "product" }, { "name": "news" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "49-v1.0.0"
}
