workflows/01-discovery-research/06-feature-request-analyzer/workflow.json
{
  "meta": {
    "id": "06",
    "name": "Feature Request Analyzer",
    "description": "Merge duplicate feature requests, estimate frequency and affected segments, connect to underlying problems, and identify supporting evidence.",
    "category": "Discovery & Research",
    "status": "beta",
    "version": "1.0.0",
    "testedN8nVersion": "2.30.0",
    "difficulty": "intermediate",
    "setupTime": "20 min",
    "estimatedMonthlyCost": "$0.10–0.50",
    "requiredIntegrations": ["OpenAI API", "Google Sheets"],
    "optionalIntegrations": ["Slack API", "Linear API", "Jira API"],
    "triggerType": "schedule",
    "inputTypes": ["feature request list", "feedback batch"],
    "outputTypes": ["deduplicated request analysis", "backlog candidates"],
    "aiRequired": true,
    "humanApproval": true,
    "selfHosted": true,
    "n8nCloud": true,
    "tags": ["features", "requests", "deduplication", "prioritization", "research"]
  },
  "name": "06 – Feature Request Analyzer",
  "nodes": [
    {
      "id": "node-setup",
      "name": "⚙️ SETUP",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-480, -320],
      "parameters": {
        "content": "## 06 — Feature Request Analyzer\n\n**Required:**\n- OpenAI API credential\n- Google Sheets credential\n- FEATURE_REQUESTS_SHEET_ID (sheet with raw requests)\n- RESEARCH_SHEET_ID (research repository)\n\n**Schedule:** Runs weekly on Wednesday at 09:00.\n**Status:** Beta.",
        "height": 280,
        "width": 360,
        "color": 7
      }
    },
    {
      "id": "node-schedule",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-200, -60],
      "parameters": {
        "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1, "triggerAtDay": [3], "triggerAtHour": 9 }] }
      }
    },
    {
      "id": "node-manual",
      "name": "Manual Trigger (Testing)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-200, 80],
      "parameters": {}
    },
    {
      "id": "node-load",
      "name": "Load Feature Requests",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [60, 20],
      "parameters": {
        "operation":  "read",
        "documentId": { "__rl": true, "value": "={{ $env.FEATURE_REQUESTS_SHEET_ID }}", "mode": "id" },
        "sheetName":  { "__rl": true, "value": "Requests", "mode": "name" },
        "options":    {}
      },
      "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } }
    },
    {
      "id": "node-batch",
      "name": "Prepare Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 20],
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nconst batch = items.map((r,idx) => ({ index: idx, text: r.text || r.description || r.feature || '', segment: r.segment || r.customer_segment || 'unknown', source: r.source || 'unknown', count: parseInt(r.vote_count||r.count||1,10) })).filter(r => r.text.length > 10);\nreturn [{ json: { requests: batch, total: batch.length, analysisDate: new Date().toISOString().slice(0,10) } }];"
      }
    },
    {
      "id": "node-analyze",
      "name": "Deduplicate and Analyze (AI)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [540, 20],
      "parameters": {
        "resource": "text",
        "operation": "message",
        "model": { "__rl": true, "value": "={{ $env.AI_MODEL_SMART || 'gpt-4o' }}", "mode": "id" },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a product manager analyzing feature requests. Your job is to find duplicate/similar requests, cluster them, and identify the underlying need. Be conservative — only merge requests that are clearly about the same thing. Return valid JSON only."
            },
            {
              "role": "user",
              "content": "Analyze these {{ $json.total }} feature requests from {{ $json.analysisDate }}.\n\nRequests:\n{{ JSON.stringify($json.requests, null, 2) }}\n\nReturn JSON:\n{\n  \"clusters\": [{\n    \"cluster_id\": \"c01\",\n    \"title\": \"concise cluster name\",\n    \"underlying_need\": \"...\",\n    \"request_indices\": [0,3,7],\n    \"total_mentions\": 12,\n    \"affected_segments\": [\"enterprise\"],\n    \"evidence_quotes\": [\"...\"],\n    \"confidence\": 0.0-1.0,\n    \"recommended_action\": \"add_to_backlog|investigate_further|decline|merge_with_existing\",\n    \"reasoning\": \"...\"\n  }],\n  \"singletons\": [{ \"index\": 2, \"reason\": \"unique request\" }]\n}"
            }
          ]
        },
        "options": {}
      },
      "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI API" } }
    },
    {
      "id": "node-parse",
      "name": "Parse Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 20],
      "parameters": {
        "jsCode": "let analysis;\ntry { analysis = JSON.parse(($input.first().json.message?.content||'{}').replace(/```json|```/g,'').trim()); }\ncatch { analysis = { clusters:[], singletons:[] }; }\nconst requests = $('Prepare Batch').first().json.requests;\nreturn [{ json: { analysis_date: $('Prepare Batch').first().json.analysisDate, total_requests: requests.length, clusters: analysis.clusters||[], singletons: analysis.singletons||[], top_cluster: (analysis.clusters||[]).sort((a,b)=>b.total_mentions-a.total_mentions)[0]||null } }];"
      }
    },
    {
      "id": "node-approve",
      "name": "Request Human Approval",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 2,
      "position": [1020, 20],
      "parameters": {
        "workflowId": { "__rl": true, "value": "HUMAN_APPROVAL_WORKFLOW_ID", "mode": "id" },
        "mode": "each",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "title":          "Approve: Feature Request Analysis",
            "summary":        "{{ $json.total_requests }} requests → {{ $json.clusters.length }} clusters. Top cluster: {{ $json.top_cluster?.title || 'none' }} ({{ $json.top_cluster?.total_mentions || 0 }} mentions)",
            "details":        "={{ $json }}",
            "approver_email": "={{ $env.NOTIFICATION_EMAIL_TO }}",
            "timeout_hours":  48
          }
        }
      }
    },
    {
      "id": "node-check",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1260, 20],
      "parameters": {
        "conditions": {
          "conditions": [{ "leftValue": "={{ $json.approved }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }]
        }
      }
    },
    {
      "id": "node-notify",
      "name": "Send Analysis Report",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 2,
      "position": [1500, -60],
      "parameters": {
        "workflowId": { "__rl": true, "value": "NOTIFICATION_ROUTER_WORKFLOW_ID", "mode": "id" },
        "mode": "each",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "channel": "={{ $env.NOTIFICATION_CHANNEL || 'email' }}",
            "title":   "🔧 Feature Request Analysis: {{ $('Parse Analysis').first().json.clusters.length }} clusters from {{ $('Parse Analysis').first().json.total_requests }} requests",
            "body":    "Analysis complete. See attached JSON for clusters, evidence, and recommended actions.",
            "urgency": "low"
          }
        }
      }
    }
  ],
  "connections": {
    "Weekly Schedule":              { "main": [[{ "node": "Load Feature Requests", "type": "main", "index": 0 }]] },
    "Manual Trigger (Testing)":     { "main": [[{ "node": "Load Feature Requests", "type": "main", "index": 0 }]] },
    "Load Feature Requests":        { "main": [[{ "node": "Prepare Batch",           "type": "main", "index": 0 }]] },
    "Prepare Batch":                { "main": [[{ "node": "Deduplicate and Analyze (AI)", "type": "main", "index": 0 }]] },
    "Deduplicate and Analyze (AI)": { "main": [[{ "node": "Parse Analysis",          "type": "main", "index": 0 }]] },
    "Parse Analysis":               { "main": [[{ "node": "Request Human Approval",  "type": "main", "index": 0 }]] },
    "Request Human Approval":       { "main": [[{ "node": "Approved?",               "type": "main", "index": 0 }]] },
    "Approved?": {
      "main": [[{ "node": "Send Analysis Report", "type": "main", "index": 0 }], []]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": [{ "name": "discovery" }, { "name": "features" }],
  "triggerCount": 1,
  "updatedAt": "2025-01-13T00:00:00.000Z",
  "versionId": "06-v1.0.0"
}
