workflows/06-strategy-market-intelligence/57-funding-ma-tracker/workflow.json
{
  "name": "Funding and M&A Tracker",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Funding and M&A Tracker\n\n**Setup:**\n1. Create YOUR_OPENAI_CREDENTIAL and YOUR_SMTP_CREDENTIAL\n2. Set FUNDING_EMAIL_TO, FUNDING_COMPETITORS env vars\n3. Add Crunchbase/TechCrunch RSS feeds in production (replace sample data node)\n4. Test with Manual Trigger\n\n**Flow:** Reads funding/acquisition/hire news → LLM produces positioning implications → alert sent after approval",
        "height": 280,
        "width": 440,
        "color": 6
      },
      "id": "sticky-setup",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, -260]
    },
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "={{ $env.FUNDING_SCHEDULE || '0 9 * * 2' }}" }] }
      },
      "id": "schedule-trigger",
      "name": "Weekly Tuesday Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 100]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 280]
    },
    {
      "parameters": {
        "jsCode": "const events = [\n  { id: 'e001', type: 'funding', company: 'CompetitorX', amount_usd: 80000000, round: 'Series C', investors: ['Sequoia','Andreessen Horowitz'], date: '2026-07-10', source: 'TechCrunch', url: 'https://example.com/competitorx-series-c', notes: 'Plans to expand sales team and launch enterprise tier.' },\n  { id: 'e002', type: 'acquisition', company: 'CompetitorY', acquired: 'DataMesh Inc', price_usd: 12000000, date: '2026-07-08', source: 'Crunchbase', url: 'https://example.com/competitory-datamesh', notes: 'DataMesh builds data pipeline tooling. Likely to add native connectors to CompetitorY product.' },\n  { id: 'e003', type: 'key_hire', company: 'CompetitorX', hire_name: 'Sarah Chen', hire_role: 'VP Enterprise Sales (from Salesforce)', date: '2026-07-07', source: 'LinkedIn', url: 'https://example.com/competitorx-vp-hire', notes: 'Chen scaled Salesforce enterprise motion from $10M to $150M ARR. Signal: CompetitorX targeting enterprise seriously.' },\n  { id: 'e004', type: 'funding', company: 'NewEntrant Co', amount_usd: 5000000, round: 'Seed', investors: ['YCombinator'], date: '2026-07-06', source: 'YC', url: 'https://example.com/newentrant-seed', notes: 'Building AI-native project management. YC S26. 200 waitlist signups.' }\n];\nreturn [{ json: { events, total: events.length, period: 'week of 2026-07-07 to 2026-07-14' } }];"
      },
      "id": "load-sample",
      "name": "Load Sample Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 280]
    },
    {
      "parameters": {
        "jsCode": "const { events, total, period } = $input.first().json;\nif (!events || events.length === 0) {\n  throw new Error('No funding/MA events found');\n}\nconst competitors = $env.FUNDING_COMPETITORS || 'CompetitorX,CompetitorY';\nconst eventText = events.map((e, i) =>\n  `[${i+1}] Type: ${e.type} | Company: ${e.company}\\nDate: ${e.date} | Source: ${e.source}\\nDetails: ${e.type === 'funding' ? `$${(e.amount_usd/1e6).toFixed(0)}M ${e.round} from ${(e.investors||[]).join(', ')}` : e.type === 'acquisition' ? `Acquired ${e.acquired} for $${((e.price_usd||0)/1e6).toFixed(0)}M` : `${e.hire_name || 'unnamed'} as ${e.hire_role}`}\\nNotes: ${e.notes}`\n).join('\\n\\n');\nconst system = `You are a competitive intelligence analyst. You interpret market events and explain their implications for positioning, pricing, and product strategy. Be specific, not generic. Return ONLY valid JSON.`;\nconst user = `Analyse these ${events.length} market events from ${period} and explain their implications for positioning.\n\nOur tracked competitors: ${competitors}\n\nEvents:\n${eventText}\n\nReturn JSON:\n{\n  \"event_assessments\": [\n    {\n      \"id\": \"string\",\n      \"company\": \"string\",\n      \"event_type\": \"string\",\n      \"significance\": \"high|medium|low\",\n      \"positioning_implications\": \"string\",\n      \"estimated_timeline_impact\": \"string — when this might affect deals\",\n      \"recommended_response\": \"string\"\n    }\n  ],\n  \"aggregate_signal\": \"string — what these events collectively signal about market direction\",\n  \"our_biggest_risk\": \"string\",\n  \"our_biggest_opportunity\": \"string\",\n  \"confidence\": \"low|medium|high\"\n}`;\nreturn [{ json: { events, total, period, system_prompt: system, user_prompt: user } }];"
      },
      "id": "prepare-prompt",
      "name": "Prepare Analysis Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENAI_BASE_URL || 'https://api.openai.com' }}/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "={{ $env.AI_MODEL || 'gpt-4o-mini' }}" },
            { "name": "messages", "value": "=[{\"role\":\"system\",\"content\":\"{{ $json.system_prompt }}\"},{\"role\":\"user\",\"content\":\"{{ $json.user_prompt }}\"}]" },
            { "name": "temperature", "value": "=0.2" },
            { "name": "response_format", "value": "={\"type\":\"json_object\"}" }
          ]
        },
        "options": { "timeout": 60000 }
      },
      "id": "llm-call",
      "name": "LLM: Assess Implications",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 200],
      "credentials": { "httpHeaderAuth": { "name": "YOUR_OPENAI_CREDENTIAL" } }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst upstream = $('Prepare Analysis Prompt').first().json;\nlet parsed;\ntry {\n  const content = response.choices?.[0]?.message?.content;\n  if (!content) throw new Error('No content');\n  parsed = JSON.parse(content);\n} catch(e) { return [{ json: { _error: true, reason: e.message } }]; }\nif (!parsed.event_assessments || !Array.isArray(parsed.event_assessments)) {\n  return [{ json: { _error: true, reason: 'Missing event_assessments array' } }];\n}\nreturn [{ json: { _error: false, analysis: parsed, meta: { period: upstream.period, total: upstream.total, generated_at: new Date().toISOString() } } }];"
      },
      "id": "validate-llm",
      "name": "Validate LLM Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "id": "ce", "leftValue": "={{ $json._error }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "error-check",
      "name": "LLM Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1400, 200]
    },
    {
      "parameters": {
        "assignments": { "assignments": [{ "id": "e1", "name": "status", "value": "error", "type": "string" }, { "id": "e2", "name": "message", "value": "={{ $json.reason }}", "type": "string" }] },
        "options": {}
      },
      "id": "error-handler",
      "name": "LLM Error Handler",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1620, 100]
    },
    {
      "parameters": {
        "jsCode": "const { analysis: a, meta: m } = $input.first().json;\nconst assessLines = (a.event_assessments || []).map(e =>\n  `  [${e.significance.toUpperCase()}] ${e.company} — ${e.event_type}\\n  Implications: ${e.positioning_implications}\\n  Timeline: ${e.estimated_timeline_impact}\\n  Response: ${e.recommended_response}`\n).join('\\n\\n');\nconst report = [\n  `FUNDING & M&A TRACKER — ${m.period}`,\n  `Events reviewed: ${m.total} | Generated: ${m.generated_at} | Confidence: ${a.confidence}`,\n  ``,\n  `AGGREGATE SIGNAL: ${a.aggregate_signal}`,\n  ``,\n  `OUR BIGGEST RISK: ${a.our_biggest_risk}`,\n  `OUR BIGGEST OPPORTUNITY: ${a.our_biggest_opportunity}`,\n  ``,\n  `EVENT ASSESSMENTS:`,\n  assessLines || '  (none)',\n].join('\\n');\nreturn [{ json: { ...($input.first().json), report_text: report } }];"
      },
      "id": "format-report",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1620, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.NOTIFICATION_EMAIL_FROM || 'automation@acme-analytics.com' }}",
        "toEmail": "={{ $env.FUNDING_EMAIL_TO || 'strategy@acme-analytics.com' }}",
        "subject": "=APPROVAL REQUIRED: Funding & M&A Tracker — {{ $json.meta.period }}",
        "emailType": "html",
        "message": "=<pre style=\"font-family:monospace;white-space:pre-wrap\">{{ $json.report_text }}</pre><p><a href=\"{{ $execution.resumeUrl }}?decision=approved\">Approve and send</a> | <a href=\"{{ $execution.resumeUrl }}?decision=rejected\">Reject</a></p>",
        "options": {}
      },
      "id": "send-approval",
      "name": "Send for Approval",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1840, 300],
      "credentials": { "smtp": { "name": "YOUR_SMTP_CREDENTIAL" } }
    },
    {
      "parameters": { "resume": "webhook", "options": { "webhookSuffix": "/approval" } },
      "id": "wait-approval",
      "name": "Wait for Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2060, 300],
      "webhookId": "funding-tracker-approval"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "id": "cd", "leftValue": "={{ $json.query?.decision || $json.body?.decision }}", "rightValue": "approved", "operator": { "type": "string", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-decision",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2280, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.NOTIFICATION_EMAIL_FROM || 'automation@acme-analytics.com' }}",
        "toEmail": "={{ $env.FUNDING_EMAIL_TO || 'strategy@acme-analytics.com' }}",
        "subject": "=Funding & M&A Report — {{ $('Format Report').first().json.meta.period }}",
        "emailType": "html",
        "message": "=<pre style=\"font-family:monospace;white-space:pre-wrap\">{{ $('Format Report').first().json.report_text }}</pre>",
        "options": {}
      },
      "id": "send-report",
      "name": "Send Final Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2500, 200],
      "credentials": { "smtp": { "name": "YOUR_SMTP_CREDENTIAL" } }
    },
    {
      "parameters": {
        "assignments": { "assignments": [{ "id": "r1", "name": "status", "value": "rejected", "type": "string" }] },
        "options": {}
      },
      "id": "log-rejection",
      "name": "Log Rejection",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2500, 400]
    }
  ],
  "connections": {
    "Weekly Tuesday Schedule": { "main": [[{ "node": "Prepare Analysis Prompt", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Load Sample Events", "type": "main", "index": 0 }]] },
    "Load Sample Events": { "main": [[{ "node": "Prepare Analysis Prompt", "type": "main", "index": 0 }]] },
    "Prepare Analysis Prompt": { "main": [[{ "node": "LLM: Assess Implications", "type": "main", "index": 0 }]] },
    "LLM: Assess Implications": { "main": [[{ "node": "Validate LLM Output", "type": "main", "index": 0 }]] },
    "Validate LLM Output": { "main": [[{ "node": "LLM Error?", "type": "main", "index": 0 }]] },
    "LLM Error?": { "main": [[{ "node": "LLM Error Handler", "type": "main", "index": 0 }], [{ "node": "Format Report", "type": "main", "index": 0 }]] },
    "Format Report": { "main": [[{ "node": "Send for Approval", "type": "main", "index": 0 }]] },
    "Send for Approval": { "main": [[{ "node": "Wait for Approval", "type": "main", "index": 0 }]] },
    "Wait for Approval": { "main": [[{ "node": "Approved?", "type": "main", "index": 0 }]] },
    "Approved?": { "main": [[{ "node": "Send Final Report", "type": "main", "index": 0 }], [{ "node": "Log Rejection", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true, "callerPolicy": "workflowsFromSameOwner", "errorWorkflow": "" },
  "staticData": null,
  "tags": ["strategy", "competitive", "funding", "beta"],
  "triggerCount": 0,
  "updatedAt": "2026-07-14T00:00:00.000Z",
  "versionId": "57-funding-ma-tracker-v0.1.0"
}
