workflows/02-planning-execution/18-launch-checklist-automator/workflow.json
{
  "meta": { "id": "18", "name": "Launch Checklist Automator", "description": "Track a product launch checklist, assign owners, send reminders for overdue items, and provide a real-time launch readiness score.", "category": "Planning & Execution", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "beginner", "setupTime": "15 min", "requiredIntegrations": ["Google Sheets", "SMTP Email"], "optionalIntegrations": ["Slack API", "Linear API"], "triggerType": "schedule", "aiRequired": false, "humanApproval": false, "tags": ["launch", "checklist", "gtm", "execution"] },
  "name": "18 – Launch Checklist Automator",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 18 — Launch Checklist Automator\n\n**Required:**\n- LAUNCH_SHEET_ID: sheet with columns: item, category, owner, due_date, status (not_started|in_progress|done|blocked), priority (critical|high|medium|low), notes\n- NOTIFICATION_EMAIL_TO\n\n**Schedule:** Daily at 08:00 starting T-14 days before launch.\n\n**Status:** Beta.", "height": 300, "width": 360, "color": 7 } },
    { "id": "n-schedule", "name": "Daily Morning", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "days", "daysInterval": 1, "triggerAtHour": 8 }] } } },
    { "id": "n-manual", "name": "Manual Trigger (Testing)", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-load", "name": "Load Checklist", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 40], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.LAUNCH_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Checklist", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-analyze", "name": "Calculate Readiness", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 40], "parameters": { "jsCode": "const today = new Date();\nconst items = $input.all().map(i => {\n  const d = i.json;\n  const due = d.due_date ? new Date(d.due_date) : null;\n  const overdue = due && due < today && d.status !== 'done';\n  const daysUntilDue = due ? Math.ceil((due - today) / 86400000) : null;\n  return { ...d, is_overdue: overdue, days_until_due: daysUntilDue };\n});\nconst total = items.length;\nconst done = items.filter(i => i.status === 'done').length;\nconst blocked = items.filter(i => i.status === 'blocked');\nconst overdue = items.filter(i => i.is_overdue);\nconst critical_incomplete = items.filter(i => i.priority === 'critical' && i.status !== 'done');\nconst readiness_score = total > 0 ? Math.round((done / total) * 100) : 0;\nconst launch_ready = critical_incomplete.length === 0 && blocked.length === 0 && readiness_score >= 90;\nreturn [{ json: { date: today.toISOString().slice(0,10), total, done, in_progress: items.filter(i=>i.status==='in_progress').length, blocked_count: blocked.length, overdue_count: overdue.length, critical_incomplete_count: critical_incomplete.length, readiness_score, launch_ready, blocked, overdue, critical_incomplete, all_items: items } }];" } },
    { "id": "n-email", "name": "Email Launch Status", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [540, 40], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "🚀 Launch Readiness {{ $json.readiness_score }}% — {{ $json.date }}{{ $json.launch_ready ? ' ✅ READY' : '' }}", "emailType": "text", "message": "Launch Checklist Status — {{ $json.date }}\n\nReadiness: {{ $json.readiness_score }}% ({{ $json.done }}/{{ $json.total }} items done){{ $json.launch_ready ? '\\n✅ GO FOR LAUNCH — no critical blockers' : '\\n⚠️ NOT READY — review items below' }}\n\n🔴 BLOCKED ({{ $json.blocked_count }})\n{{ $json.blocked.map(i => `• [${i.category}] ${i.item} — ${i.owner||'no owner'}`).join('\\n') || 'None.' }}\n\n⏰ OVERDUE ({{ $json.overdue_count }})\n{{ $json.overdue.map(i => `• [${i.priority}] ${i.item} — ${i.owner||'no owner'} (due ${i.due_date})`).join('\\n') || 'None.' }}\n\n🚨 CRITICAL INCOMPLETE ({{ $json.critical_incomplete_count }})\n{{ $json.critical_incomplete.map(i => `• ${i.item} — ${i.owner||'no owner'} — ${i.status}`).join('\\n') || 'None.' }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": { "Daily Morning": { "main": [[{ "node": "Load Checklist", "type": "main", "index": 0 }]] }, "Manual Trigger (Testing)": { "main": [[{ "node": "Load Checklist", "type": "main", "index": 0 }]] }, "Load Checklist": { "main": [[{ "node": "Calculate Readiness", "type": "main", "index": 0 }]] }, "Calculate Readiness": { "main": [[{ "node": "Email Launch Status", "type": "main", "index": 0 }]] } },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "launch" }, { "name": "checklist" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "18-v1.0.0"
}
