workflows/04-customer-feedback/32-churn-reason-analyzer/workflow.json
{
  "meta": { "id": "32", "name": "Churn Reason Analyzer", "description": "Process cancellation survey responses and CRM notes to identify churn reasons, cluster patterns, and produce a monthly churn reason report.", "category": "Customer & Feedback", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "intermediate", "setupTime": "15 min", "requiredIntegrations": ["OpenAI API", "Google Sheets", "SMTP Email"], "triggerType": "schedule", "aiRequired": true, "humanApproval": false, "tags": ["churn", "cancellation", "analysis", "customer"] },
  "name": "32 – Churn Reason Analyzer",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 32 — Churn Reason Analyzer\n\n**Required:**\n- CHURN_SHEET_ID: columns date, customer_id, segment, reason_category, reason_text, mrr_lost, tenure_days\n- OpenAI API, SMTP Email, NOTIFICATION_EMAIL_TO\n\n**Schedule:** 1st of month at 10:00\n**Status:** Beta.", "height": 260, "width": 360, "color": 7 } },
    { "id": "n-schedule", "name": "Monthly", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 10 1 * *" }] } } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-load", "name": "Load Churn Data", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 40], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.CHURN_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Churn", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-filter", "name": "Filter This Month", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 40], "parameters": { "jsCode": "const monthAgo = new Date(); monthAgo.setDate(1); monthAgo.setMonth(monthAgo.getMonth()-1);\nconst records = $input.all().map(i=>i.json).filter(r => r.date && new Date(r.date) >= monthAgo);\nconst total_mrr_lost = records.reduce((s,r)=>s+parseFloat(r.mrr_lost||0),0);\nreturn [{ json: { records, count: records.length, total_mrr_lost: Math.round(total_mrr_lost), period: new Date().toISOString().slice(0,7) } }];" } },
    { "id": "n-analyze", "name": "Cluster Churn Reasons (AI)", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.7, "position": [540, 40], "parameters": { "resource": "text", "operation": "message", "model": { "__rl": true, "value": "={{ $env.AI_MODEL_SMART || 'gpt-4o' }}", "mode": "id" }, "messages": { "values": [{ "role": "system", "content": "Analyze churn reasons and identify patterns. Focus on actionable insights. Return JSON only." }, { "role": "user", "content": "{{ $json.count }} churns this month (MRR lost: ${{ $json.total_mrr_lost }}):\n\n{{ JSON.stringify($json.records, null, 2) }}\n\nReturn JSON:\n{ \"top_reasons\": [{ \"reason\": str, \"count\": num, \"mrr_impact\": num, \"segments\": [str], \"is_preventable\": bool, \"recommendation\": str }], \"summary\": str, \"highest_impact_reason\": str, \"early_warning_signals\": [str] }" }] }, "options": {} }, "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI API" } } },
    { "id": "n-parse", "name": "Build Report", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [780, 40], "parameters": { "jsCode": "const data = $('Filter This Month').first().json;\nlet analysis;\ntry { analysis = JSON.parse(($input.first().json.message?.content||'{}').replace(/```json|```/g,'').trim()); } catch { analysis = {}; }\nreturn [{ json: { period: data.period, count: data.count, total_mrr_lost: data.total_mrr_lost, generated_at: new Date().toISOString(), ...analysis } }];" } },
    { "id": "n-email", "name": "Email Churn Report", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1020, 40], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "📉 Churn Analysis {{ $json.period }}: {{ $json.count }} churns, ${{ $json.total_mrr_lost }} MRR lost", "emailType": "text", "message": "Churn Reason Analysis — {{ $json.period }}\n\n{{ $json.count }} churns | ${{ $json.total_mrr_lost }} MRR lost\n\nSUMMARY\n{{ $json.summary }}\n\nTOP REASONS:\n{{ ($json.top_reasons||[]).map(r => `• ${r.reason} (×${r.count}, $${r.mrr_impact} MRR)${r.is_preventable?' [PREVENTABLE]':''}\n  Action: ${r.recommendation}`).join('\\n\\n') }}\n\nEARLY WARNING SIGNALS:\n{{ ($json.early_warning_signals||[]).map(s=>`→ ${s}`).join('\\n') }}\n\nHighest impact: {{ $json.highest_impact_reason }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Monthly": { "main": [[{ "node": "Load Churn Data", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Load Churn Data", "type": "main", "index": 0 }]] },
    "Load Churn Data": { "main": [[{ "node": "Filter This Month", "type": "main", "index": 0 }]] },
    "Filter This Month": { "main": [[{ "node": "Cluster Churn Reasons (AI)", "type": "main", "index": 0 }]] },
    "Cluster Churn Reasons (AI)": { "main": [[{ "node": "Build Report", "type": "main", "index": 0 }]] },
    "Build Report": { "main": [[{ "node": "Email Churn Report", "type": "main", "index": 0 }]] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "churn" }, { "name": "analysis" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "32-v1.0.0"
}
