workflows/05-founder-intelligence/41-market-signal-radar/workflow.json
{
  "meta": { "id": "41", "name": "Market Signal Radar", "description": "Scan curated sources (blogs, Twitter/X, Reddit, Hacker News, newsletters) for market signals relevant to your product category and synthesize a weekly radar report.", "category": "Founder Intelligence", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "intermediate", "setupTime": "20 min", "requiredIntegrations": ["OpenAI API", "SMTP Email"], "optionalIntegrations": ["RSS Feeds", "Google Sheets", "Slack API"], "triggerType": "schedule", "aiRequired": true, "humanApproval": false, "tags": ["market", "intelligence", "radar", "trends"] },
  "name": "41 – Market Signal Radar",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 41 — Market Signal Radar\n\n**Required:**\n- OpenAI API, SMTP Email, NOTIFICATION_EMAIL_TO\n- MARKET_RSS_URL_1 / _2 / _3: RSS feed URLs for your category\n- MARKET_KEYWORDS: comma-separated keywords to watch\n\n**Schedule:** Every Friday at 16:00\n**Status:** Beta.", "height": 260, "width": 360, "color": 7 } },
    { "id": "n-schedule", "name": "Friday 16:00", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1, "triggerAtDay": [5], "triggerAtHour": 16 }] } } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-feed1", "name": "Fetch RSS Feed 1", "type": "n8n-nodes-base.rssFeedRead", "typeVersion": 1.1, "position": [60, -20], "parameters": { "url": "={{ $env.MARKET_RSS_URL_1 || 'https://news.ycombinator.com/rss' }}" } },
    { "id": "n-feed2", "name": "Fetch RSS Feed 2", "type": "n8n-nodes-base.rssFeedRead", "typeVersion": 1.1, "position": [60, 100], "parameters": { "url": "={{ $env.MARKET_RSS_URL_2 || 'https://techcrunch.com/feed/' }}" } },
    { "id": "n-merge", "name": "Merge and Filter", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 40], "parameters": { "jsCode": "const keywords = ($env.MARKET_KEYWORDS || '').toLowerCase().split(',').map(k=>k.trim()).filter(Boolean);\nconst weekAgo = new Date(); weekAgo.setDate(weekAgo.getDate()-7);\nconst allItems = $input.all().map(i=>i.json);\nconst filtered = allItems.filter(item => {\n  const text = ((item.title||'')+(item.contentSnippet||item.content||item.summary||'')).toLowerCase();\n  const recent = !item.isoDate || new Date(item.isoDate) >= weekAgo;\n  const relevant = keywords.length === 0 || keywords.some(k=>text.includes(k));\n  return recent && relevant;\n}).slice(0,25);\nreturn [{ json: { week: new Date().toISOString().slice(0,10), count: filtered.length, items: filtered.map(i=>({ title: i.title, link: i.link, date: i.isoDate?.slice(0,10), snippet: (i.contentSnippet||i.summary||'').slice(0,200) })) } }];" } },
    { "id": "n-synthesize", "name": "Synthesize Signals (AI)", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.7, "position": [540, 40], "parameters": { "resource": "text", "operation": "message", "model": { "__rl": true, "value": "={{ $env.AI_MODEL_SMART || 'gpt-4o' }}", "mode": "id" }, "messages": { "values": [{ "role": "system", "content": "You are a market analyst for a product-led SaaS company. Synthesize market signals into actionable intelligence. Prioritize signals with product implications. Return JSON only." }, { "role": "user", "content": "Week: {{ $json.week }}\nKeywords: {{ $env.MARKET_KEYWORDS || 'AI, product, automation' }}\n\n{{ $json.count }} signals collected:\n{{ JSON.stringify($json.items, null, 2) }}\n\nReturn JSON:\n{ \"summary\": str, \"top_signals\": [{ \"headline\": str, \"signal_type\": \"trend|competitor|regulatory|technology|customer_behaviour\", \"implication\": str, \"urgency\": \"watch|act|ignore\" }], \"emerging_themes\": [str], \"recommended_actions\": [str] }" }] }, "options": {} }, "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI API" } } },
    { "id": "n-parse", "name": "Build Radar Report", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [780, 40], "parameters": { "jsCode": "const data = $('Merge and Filter').first().json;\nlet analysis;\ntry { analysis = JSON.parse(($input.first().json.message?.content||'{}').replace(/```json|```/g,'').trim()); } catch { analysis = {}; }\nreturn [{ json: { week: data.week, signals_scanned: data.count, generated_at: new Date().toISOString(), ...analysis } }];" } },
    { "id": "n-email", "name": "Email Radar Report", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1020, 40], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "📡 Market Signal Radar {{ $json.week }}: {{ ($json.top_signals||[]).filter(s=>s.urgency==='act').length }} act-now signals", "emailType": "text", "message": "Market Signal Radar — {{ $json.week }}\n({{ $json.signals_scanned }} signals scanned)\n\nSUMMARY\n{{ $json.summary }}\n\nTOP SIGNALS:\n{{ ($json.top_signals||[]).map(s => `${s.urgency==='act'?'🔴':s.urgency==='watch'?'🟡':'⬜'} [${s.signal_type.toUpperCase()}] ${s.headline}\\n  Implication: ${s.implication}`).join('\\n\\n') }}\n\nEMERGING THEMES:\n{{ ($json.emerging_themes||[]).map(t=>`→ ${t}`).join('\\n') }}\n\nACTIONS:\n{{ ($json.recommended_actions||[]).map(a=>`• ${a}`).join('\\n') }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Friday 16:00": { "main": [[{ "node": "Fetch RSS Feed 1", "type": "main", "index": 0 }, { "node": "Fetch RSS Feed 2", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Fetch RSS Feed 1", "type": "main", "index": 0 }, { "node": "Fetch RSS Feed 2", "type": "main", "index": 0 }]] },
    "Fetch RSS Feed 1": { "main": [[{ "node": "Merge and Filter", "type": "main", "index": 0 }]] },
    "Fetch RSS Feed 2": { "main": [[{ "node": "Merge and Filter", "type": "main", "index": 0 }]] },
    "Merge and Filter": { "main": [[{ "node": "Synthesize Signals (AI)", "type": "main", "index": 0 }]] },
    "Synthesize Signals (AI)": { "main": [[{ "node": "Build Radar Report", "type": "main", "index": 0 }]] },
    "Build Radar Report": { "main": [[{ "node": "Email Radar Report", "type": "main", "index": 0 }]] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "market" }, { "name": "intelligence" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "41-v1.0.0"
}
