workflows/04-customer-feedback/33-customer-health-scorer/workflow.json
{
  "meta": { "id": "33", "name": "Customer Health Scorer", "description": "Calculate a composite health score for each account based on usage, support, NPS, and engagement signals. Identify at-risk accounts proactively.", "category": "Customer & Feedback", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "intermediate", "setupTime": "20 min", "requiredIntegrations": ["Google Sheets", "SMTP Email"], "optionalIntegrations": ["Slack API"], "triggerType": "schedule", "aiRequired": false, "humanApproval": false, "tags": ["health-score", "customer-success", "retention", "at-risk"] },
  "name": "33 – Customer Health Scorer",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 33 — Customer Health Scorer\n\n**Required:**\n- HEALTH_SHEET_ID: columns customer_id, company, segment, mrr, login_days_30d, features_used, support_tickets_30d, nps_score, days_since_last_login, contract_end_date\n- HEALTH_AT_RISK_THRESHOLD: score below which account is at-risk (default: 50)\n- NOTIFICATION_EMAIL_TO\n\n**Schedule:** Weekly on Sunday at 20:00\n**Status:** Beta.", "height": 300, "width": 380, "color": 7 } },
    { "id": "n-schedule", "name": "Weekly Sunday", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1, "triggerAtDay": [0], "triggerAtHour": 20 }] } } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-load", "name": "Load Account Data", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 40], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.HEALTH_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Accounts", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-score", "name": "Calculate Health Scores", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 40], "parameters": { "jsCode": "const threshold = parseInt($env.HEALTH_AT_RISK_THRESHOLD || 50, 10);\nconst scored = $input.all().map(i => {\n  const d = i.json;\n  // Scoring components (each 0-100, weighted)\n  const usage_score = Math.min(100, parseInt(d.login_days_30d||0) / 20 * 100); // target 20 days/month = 100\n  const feature_score = Math.min(100, parseInt(d.features_used||0) / 5 * 100); // target 5 features = 100\n  const support_score = Math.max(0, 100 - parseInt(d.support_tickets_30d||0) * 15); // each ticket -15pts\n  const nps_score = d.nps_score !== '' && d.nps_score !== undefined ? (parseInt(d.nps_score||0) / 10 * 100) : 60; // default neutral\n  const recency_score = Math.max(0, 100 - parseInt(d.days_since_last_login||0) * 3); // each day away -3pts\n  // Weighted composite\n  const health = Math.round(usage_score*0.3 + feature_score*0.2 + support_score*0.2 + nps_score*0.15 + recency_score*0.15);\n  const status = health >= 80 ? 'healthy' : health >= threshold ? 'at_risk' : 'critical';\n  return { ...d, health_score: Math.min(100, Math.max(0, health)), status, components: { usage: Math.round(usage_score), features: Math.round(feature_score), support: Math.round(support_score), nps: Math.round(nps_score), recency: Math.round(recency_score) } };\n}).sort((a, b) => a.health_score - b.health_score);\nconst critical = scored.filter(s => s.status === 'critical');\nconst at_risk = scored.filter(s => s.status === 'at_risk');\nreturn [{ json: { week: new Date().toISOString().slice(0,10), total: scored.length, critical_count: critical.length, at_risk_count: at_risk.length, critical, at_risk, all: scored } }];" } },
    { "id": "n-email", "name": "Email Health Report", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [540, 40], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "❤️ Customer Health {{ $json.week }}: {{ $json.critical_count }} critical, {{ $json.at_risk_count }} at-risk / {{ $json.total }} accounts", "emailType": "text", "message": "Customer Health Scores — {{ $json.week }}\n\nTotal: {{ $json.total }} | Critical (<50): {{ $json.critical_count }} | At-risk: {{ $json.at_risk_count }}\n\n🔴 CRITICAL:\n{{ $json.critical.map(c => `• ${c.company} [${c.segment}] MRR: $${c.mrr} | Score: ${c.health_score}/100 | Usage: ${c.components.usage} | Recency: ${c.components.recency}`).join('\\n') || 'None.' }}\n\n🟠 AT-RISK:\n{{ $json.at_risk.map(c => `• ${c.company} [${c.segment}] | Score: ${c.health_score}/100`).join('\\n') || 'None.' }}\n\nTop 5 healthiest accounts:\n{{ $json.all.slice(-5).reverse().map(c => `✅ ${c.company}: ${c.health_score}/100`).join('\\n') }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Weekly Sunday": { "main": [[{ "node": "Load Account Data", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Load Account Data", "type": "main", "index": 0 }]] },
    "Load Account Data": { "main": [[{ "node": "Calculate Health Scores", "type": "main", "index": 0 }]] },
    "Calculate Health Scores": { "main": [[{ "node": "Email Health Report", "type": "main", "index": 0 }]] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "health-score" }, { "name": "customer-success" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "33-v1.0.0"
}
