workflows/02-planning-execution/14-okr-progress-tracker/workflow.json
{
  "meta": { "id": "14", "name": "OKR Progress Tracker", "description": "Aggregate key result updates from Sheets or webhooks, calculate OKR progress scores, flag at-risk objectives, and send weekly status reports.", "category": "Planning & Execution", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "beginner", "setupTime": "15 min", "requiredIntegrations": ["Google Sheets", "SMTP Email"], "optionalIntegrations": ["Slack API", "Notion API"], "triggerType": "schedule", "aiRequired": false, "humanApproval": false, "tags": ["OKR", "goals", "reporting", "tracking", "strategy"] },
  "name": "14 – OKR Progress Tracker",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 14 — OKR Progress Tracker\n\n**Required:**\n- OKR_SHEET_ID: sheet with columns: objective, key_result, target, current, unit, owner, quarter\n- NOTIFICATION_EMAIL_TO\n\n**At-risk threshold:** OKR_AT_RISK_THRESHOLD (default: 0.5 = 50% progress by mid-quarter)\n**Schedule:** Every Monday at 08:00\n\n**Status:** Beta.", "height": 300, "width": 360, "color": 7 } },
    { "id": "n-schedule", "name": "Monday Morning", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1, "triggerAtDay": [1], "triggerAtHour": 8 }] } } },
    { "id": "n-manual", "name": "Manual Trigger (Testing)", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-load", "name": "Load OKRs", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 40], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.OKR_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "OKRs", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-calculate", "name": "Calculate Progress", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 40], "parameters": { "jsCode": "const threshold = parseFloat($env.OKR_AT_RISK_THRESHOLD || 0.5);\nconst items = $input.all().map(i => {\n  const d = i.json;\n  const target = parseFloat(d.target || 1);\n  const current = parseFloat(d.current || 0);\n  const progress = target > 0 ? current / target : 0;\n  const status = progress >= 1 ? 'achieved' : progress >= threshold ? 'on_track' : 'at_risk';\n  return { ...d, progress_pct: Math.round(progress * 100), status, progress_ratio: Math.round(progress * 100) / 100 };\n});\nconst byObjective = {};\nfor (const item of items) {\n  if (!byObjective[item.objective]) byObjective[item.objective] = { objective: item.objective, key_results: [], avg_progress: 0, status: 'on_track' };\n  byObjective[item.objective].key_results.push(item);\n}\nfor (const obj of Object.values(byObjective)) {\n  obj.avg_progress = Math.round(obj.key_results.reduce((s,kr) => s + kr.progress_pct, 0) / obj.key_results.length);\n  obj.status = obj.key_results.some(kr => kr.status === 'at_risk') ? 'at_risk' : obj.key_results.every(kr => kr.status === 'achieved') ? 'achieved' : 'on_track';\n}\nconst objectives = Object.values(byObjective);\nreturn [{ json: { week: new Date().toISOString().slice(0,10), total_krs: items.length, at_risk: items.filter(i => i.status === 'at_risk').length, on_track: items.filter(i => i.status === 'on_track').length, achieved: items.filter(i => i.status === 'achieved').length, objectives } }];" } },
    { "id": "n-email", "name": "Email OKR Report", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [540, 40], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "📈 OKR Status Week of {{ $json.week }}: {{ $json.at_risk }} at risk / {{ $json.total_krs }} KRs", "emailType": "text", "message": "OKR Weekly Status — {{ $json.week }}\n\nSummary:\n✅ On track: {{ $json.on_track }}\n🎯 Achieved: {{ $json.achieved }}\n⚠️ At risk: {{ $json.at_risk }}\n\n{{ $json.objectives.map(o => `OBJECTIVE: ${o.objective} (${o.avg_progress}% avg) — ${o.status.toUpperCase()}\\n${o.key_results.map(kr => `  ${kr.status === 'at_risk' ? '⚠️' : '✅'} ${kr.key_result}: ${kr.current}/${kr.target} ${kr.unit} (${kr.progress_pct}%)`).join('\\n')}`).join('\\n\\n') }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": { "Monday Morning": { "main": [[{ "node": "Load OKRs", "type": "main", "index": 0 }]] }, "Manual Trigger (Testing)": { "main": [[{ "node": "Load OKRs", "type": "main", "index": 0 }]] }, "Load OKRs": { "main": [[{ "node": "Calculate Progress", "type": "main", "index": 0 }]] }, "Calculate Progress": { "main": [[{ "node": "Email OKR Report", "type": "main", "index": 0 }]] } },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "OKR" }, { "name": "planning" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "14-v1.0.0"
}
