workflows/09-engineering-ai-reliability/83-tech-debt-register/workflow.json
{
  "name": "Tech Debt Register",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Tech Debt Register\n\n**Setup:**\n1. Create YOUR_OPENAI_CREDENTIAL and YOUR_SMTP_CREDENTIAL\n2. Set TECH_DEBT_EMAIL_TO\n3. Feed tech debt items from engineering (or use sample)\n4. LLM scores each item by blast radius, velocity impact, and risk\n5. Approval gate before prioritised debt list is shared",
        "height": 240,
        "width": 400,
        "color": 7
      },
      "id": "sticky-setup",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, -240]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 200]
    },
    {
      "parameters": {
        "jsCode": "const items = [\n  { id: 'TD-001', title: 'Legacy auth middleware still uses synchronous bcrypt', area: 'backend/auth', description: 'The auth middleware uses bcrypt.compareSync() which blocks the event loop. Under concurrent login spikes this creates latency for all active requests, not just authentication ones.', age_months: 14, reported_by: 'Senior BE engineer', workaround: 'Rate limit login endpoint', risk: 'Under a DDoS-style login flood this could take down all API endpoints simultaneously' },\n  { id: 'TD-002', title: 'Frontend task list re-renders entire list on any state change', area: 'frontend/performance', description: 'The task list component has no memoisation. Any change to any task (even in another project) triggers a full re-render of the entire task list. With 200+ tasks this causes noticeable jank.', age_months: 8, reported_by: 'Frontend engineer', workaround: 'None — visible to users with large projects', risk: 'Users with large projects experience degraded UI performance' },\n  { id: 'TD-003', title: 'Direct database access in three API routes bypasses ORM', area: 'backend/data', description: 'Routes /api/v1/admin/stats, /api/v1/reports/export, and /api/v1/billing/usage use raw SQL queries that bypass the ORM layer. These routes are not covered by the connection pool and lack the query timeout middleware.', age_months: 22, reported_by: 'Staff engineer', workaround: 'None', risk: 'A slow query on these routes can exhaust the database connection pool, affecting all other queries' },\n  { id: 'TD-004', title: 'CSS bundle includes unused component styles', area: 'frontend/build', description: 'The CSS bundle (340kb gzipped) includes styles for 12 deprecated components that were removed from the UI 6 months ago. PurgeCSS is not configured.', age_months: 6, reported_by: 'Frontend engineer', workaround: 'None needed — cosmetic issue only', risk: 'Bundle size slightly increases initial page load time' }\n];\nreturn [{ json: { items, product: 'ProjectFlow', sprint_capacity_available: 8 } }];"
      },
      "id": "load-sample",
      "name": "Load Sample Tech Debt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "jsCode": "const { items, product, sprint_capacity_available } = $input.first().json;\nconst itemsText = items.map(i => `  [${i.id}] ${i.title} (${i.area}, ${i.age_months}mo old)\\n  ${i.description}\\n  Risk: ${i.risk}\\n  Workaround: ${i.workaround}`).join('\\n\\n');\nconst system = `You are a staff engineer reviewing a tech debt register to help a PM and engineering manager prioritise paydown. You score each item using three dimensions: (1) blast radius — how many users/systems are affected if this fails; (2) velocity tax — how much this slows down feature development; (3) risk trajectory — is this getting worse over time? Return ONLY valid JSON.`;\nconst user = `Score and prioritise this tech debt register for: ${product}\\nSprint capacity available for debt paydown: ${sprint_capacity_available} story points\\n\\nDebt items:\\n${itemsText}\\n\\nReturn JSON:\\n{\\n  \"scored_items\": [\\n    {\\n      \"id\": \"string\",\\n      \"blast_radius\": \"high|medium|low\",\\n      \"velocity_tax\": \"high|medium|low\",\\n      \"risk_trajectory\": \"increasing|stable|decreasing\",\\n      \"priority_rank\": 1,\\n      \"estimated_effort_points\": 5,\\n      \"recommended_action\": \"pay-now|schedule-next-quarter|monitor|accept\",\\n      \"rationale\": \"string\"\n    }\\n  ],\\n  \"paydown_recommendation\": \"string — which items to tackle this sprint given the capacity\",\\n  \"total_estimated_effort\": 0\\n}`;\nreturn [{ json: { items, sprint_capacity_available, system_prompt: system, user_prompt: user } }];"
      },
      "id": "prepare-prompt",
      "name": "Prepare Scoring Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENAI_BASE_URL || 'https://api.openai.com' }}/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "={{ $env.AI_MODEL || 'gpt-4o-mini' }}" },
            { "name": "messages", "value": "=[{\"role\":\"system\",\"content\":\"{{ $json.system_prompt }}\"},{\"role\":\"user\",\"content\":\"{{ $json.user_prompt }}\"}]" },
            { "name": "temperature", "value": "=0.2" },
            { "name": "response_format", "value": "={\"type\":\"json_object\"}" }
          ]
        },
        "options": { "timeout": 60000 }
      },
      "id": "llm-call",
      "name": "LLM: Score Tech Debt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 200],
      "credentials": { "httpHeaderAuth": { "name": "YOUR_OPENAI_CREDENTIAL" } }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst upstream = $('Prepare Scoring Prompt').first().json;\nlet parsed;\ntry {\n  const c = response.choices?.[0]?.message?.content;\n  if (!c) throw new Error('No content');\n  parsed = JSON.parse(c);\n} catch(e) { return [{ json: { _error: true, reason: e.message } }]; }\nif (!parsed.scored_items || !Array.isArray(parsed.scored_items)) return [{ json: { _error: true, reason: 'Missing scored_items' } }];\nreturn [{ json: { _error: false, result: parsed, source_items: upstream.items, meta: { item_count: upstream.items.length, sprint_capacity: upstream.sprint_capacity_available, generated_at: new Date().toISOString() } } }];"
      },
      "id": "validate-llm",
      "name": "Validate LLM Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "id": "ce", "leftValue": "={{ $json._error }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "error-check",
      "name": "LLM Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1400, 200]
    },
    {
      "parameters": { "assignments": { "assignments": [{ "id": "e1", "name": "status", "value": "error", "type": "string" }] }, "options": {} },
      "id": "error-handler",
      "name": "LLM Error Handler",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1600, 100]
    },
    {
      "parameters": {
        "jsCode": "const { result: r, source_items: src, meta: m } = $input.first().json;\nconst sorted = [...(r.scored_items||[])].sort((a,b) => a.priority_rank - b.priority_rank);\nconst lines = sorted.map(s => {\n  const orig = src.find(i => i.id === s.id) || {};\n  return [\n    `  [#${s.priority_rank}] ${s.id}: ${orig.title || ''}`,\n    `  Blast radius: ${s.blast_radius} | Velocity tax: ${s.velocity_tax} | Risk trend: ${s.risk_trajectory}`,\n    `  Action: ${s.recommended_action.toUpperCase()} | Effort: ${s.estimated_effort_points}pt`,\n    `  Rationale: ${s.rationale}`,\n    ''\n  ].join('\\n');\n}).join('\\n');\nconst report = [\n  `TECH DEBT REGISTER: ${m.item_count} items | Sprint capacity: ${m.sprint_capacity}pt | Generated: ${m.generated_at}`,\n  ``,\n  `SPRINT RECOMMENDATION: ${r.paydown_recommendation}`,\n  `Total estimated effort: ${r.total_estimated_effort}pt`,\n  ``,\n  `DEBT ITEMS (priority order):`,\n  lines,\n].join('\\n');\nreturn [{ json: { ...($input.first().json), report_text: report } }];"
      },
      "id": "format-register",
      "name": "Format Debt Register",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.NOTIFICATION_EMAIL_FROM || 'automation@example.com' }}",
        "toEmail": "={{ $env.TECH_DEBT_APPROVER_EMAIL || $env.TECH_DEBT_EMAIL_TO }}",
        "subject": "=APPROVAL REQUIRED: Tech Debt Register — {{ $json.meta.item_count }} items",
        "emailType": "html",
        "message": "=<pre style=\"font-family:monospace;white-space:pre-wrap\">{{ $json.report_text }}</pre><p><a href=\"{{ $execution.resumeUrl }}?decision=approved\">Approve and share with team</a> | <a href=\"{{ $execution.resumeUrl }}?decision=rejected\">Reject</a></p>",
        "options": {}
      },
      "id": "send-approval",
      "name": "Send for Approval",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1820, 300],
      "credentials": { "smtp": { "name": "YOUR_SMTP_CREDENTIAL" } }
    },
    {
      "parameters": { "resume": "webhook", "options": { "webhookSuffix": "/approval" } },
      "id": "wait-approval",
      "name": "Wait for Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2040, 300],
      "webhookId": "tech-debt-approval"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "id": "cd", "leftValue": "={{ $json.query?.decision || $json.body?.decision }}", "rightValue": "approved", "operator": { "type": "string", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-decision",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2260, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.NOTIFICATION_EMAIL_FROM || 'automation@example.com' }}",
        "toEmail": "={{ $env.TECH_DEBT_EMAIL_TO || 'engineering@example.com' }}",
        "subject": "=Tech Debt Register — Prioritised {{ $('Format Debt Register').first().json.meta.item_count }} items",
        "emailType": "html",
        "message": "=<pre style=\"font-family:monospace;white-space:pre-wrap\">{{ $('Format Debt Register').first().json.report_text }}</pre>",
        "options": {}
      },
      "id": "send-register",
      "name": "Share Register with Team",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2480, 200],
      "credentials": { "smtp": { "name": "YOUR_SMTP_CREDENTIAL" } }
    },
    {
      "parameters": { "assignments": { "assignments": [{ "id": "r1", "name": "status", "value": "rejected", "type": "string" }] }, "options": {} },
      "id": "log-rejection",
      "name": "Log Rejection",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2480, 400]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Load Sample Tech Debt", "type": "main", "index": 0 }]] },
    "Load Sample Tech Debt": { "main": [[{ "node": "Prepare Scoring Prompt", "type": "main", "index": 0 }]] },
    "Prepare Scoring Prompt": { "main": [[{ "node": "LLM: Score Tech Debt", "type": "main", "index": 0 }]] },
    "LLM: Score Tech Debt": { "main": [[{ "node": "Validate LLM Output", "type": "main", "index": 0 }]] },
    "Validate LLM Output": { "main": [[{ "node": "LLM Error?", "type": "main", "index": 0 }]] },
    "LLM Error?": { "main": [[{ "node": "LLM Error Handler", "type": "main", "index": 0 }], [{ "node": "Format Debt Register", "type": "main", "index": 0 }]] },
    "Format Debt Register": { "main": [[{ "node": "Send for Approval", "type": "main", "index": 0 }]] },
    "Send for Approval": { "main": [[{ "node": "Wait for Approval", "type": "main", "index": 0 }]] },
    "Wait for Approval": { "main": [[{ "node": "Approved?", "type": "main", "index": 0 }]] },
    "Approved?": { "main": [[{ "node": "Share Register with Team", "type": "main", "index": 0 }], [{ "node": "Log Rejection", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true, "callerPolicy": "workflowsFromSameOwner", "errorWorkflow": "" },
  "staticData": null,
  "tags": ["engineering", "reliability", "tech-debt", "beta"],
  "triggerCount": 0,
  "updatedAt": "2026-07-14T00:00:00.000Z",
  "versionId": "83-tech-debt-register-v0.1.0"
}
