workflows/05-founder-intelligence/46-burn-rate-runway-tracker/workflow.json
{
  "meta": { "id": "46", "name": "Burn Rate Runway Tracker", "description": "Calculate current burn rate, cash runway, and breakeven timeline. Alert founder when runway drops below threshold.", "category": "Founder Intelligence", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "beginner", "setupTime": "10 min", "requiredIntegrations": ["Google Sheets", "SMTP Email"], "optionalIntegrations": ["Slack API"], "triggerType": "schedule", "aiRequired": false, "humanApproval": false, "tags": ["burn-rate", "runway", "finance", "founder"] },
  "name": "46 – Burn Rate Runway Tracker",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 46 — Burn Rate Runway Tracker\n\n**Required:**\n- FINANCE_SHEET_ID: columns month, revenue, expenses, cash_balance, headcount\n- RUNWAY_ALERT_MONTHS: runway months that trigger alert (default: 12)\n- NOTIFICATION_EMAIL_TO\n\n**Schedule:** 5th of each month at 08:00\n**Status:** Beta.", "height": 260, "width": 360, "color": 7 } },
    { "id": "n-schedule", "name": "Monthly 5th", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 5 * *" }] } } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-load", "name": "Load Finance Data", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 40], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.FINANCE_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Finance", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-calc", "name": "Calculate Runway", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 40], "parameters": { "jsCode": "const alertMonths = parseInt($env.RUNWAY_ALERT_MONTHS || 12, 10);\nconst rows = $input.all().map(i=>i.json).sort((a,b)=>a.month<b.month?-1:1);\nconst last = rows[rows.length-1] || {};\nconst prev = rows[rows.length-2] || {};\nconst revenue = parseFloat(last.revenue||0);\nconst expenses = parseFloat(last.expenses||0);\nconst cash = parseFloat(last.cash_balance||0);\nconst burn = expenses - revenue;\nconst runway = burn > 0 ? Math.floor(cash/burn) : 9999;\nconst prev_burn = parseFloat(prev.expenses||0) - parseFloat(prev.revenue||0);\nconst burn_change = prev_burn > 0 ? ((burn-prev_burn)/prev_burn*100).toFixed(1) : null;\n// Trailing 3-month average burn\nconst recent3 = rows.slice(-3);\nconst avg_burn_3m = recent3.length > 0 ? recent3.reduce((s,r)=>s+(parseFloat(r.expenses||0)-parseFloat(r.revenue||0)),0)/recent3.length : burn;\nconst runway_conservative = avg_burn_3m > 0 ? Math.floor(cash/avg_burn_3m) : 9999;\nconst default_rate = (revenue/expenses*100).toFixed(1);\nconst alert = runway <= alertMonths;\nreturn [{ json: { month: last.month, revenue, expenses, net_burn: Math.round(burn), cash_balance: cash, runway_months: runway, runway_conservative_months: runway_conservative, burn_change_pct: burn_change, default_rate_pct: parseFloat(default_rate), headcount: last.headcount, alert, alert_threshold_months: alertMonths, generated_at: new Date().toISOString() } }];" } },
    { "id": "n-email", "name": "Email Runway Report", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [540, 40], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "{{ $json.alert ? '🔴 RUNWAY ALERT' : '💰 Runway Update' }} {{ $json.month }}: {{ $json.runway_months }} months (conservative: {{ $json.runway_conservative_months }}mo)", "emailType": "text", "message": "Burn Rate & Runway — {{ $json.month }}\n\nCash Balance: ${{ $json.cash_balance?.toLocaleString() }}\nRevenue: ${{ $json.revenue?.toLocaleString() }}\nExpenses: ${{ $json.expenses?.toLocaleString() }}\nNet Burn: ${{ $json.net_burn?.toLocaleString() }}/mo\nBurn Change MoM: {{ $json.burn_change_pct !== null ? $json.burn_change_pct + '%' : 'N/A' }}\nDefault Rate: {{ $json.default_rate_pct }}%\n\nRunway (current burn): {{ $json.runway_months }} months\nRunway (3mo avg burn): {{ $json.runway_conservative_months }} months\nHeadcount: {{ $json.headcount }}\n\n{{ $json.alert ? '🔴 ALERT: Runway below ' + $json.alert_threshold_months + ' months — consider fundraising or extending runway.' : '✅ Runway within safe range.' }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Monthly 5th": { "main": [[{ "node": "Load Finance Data", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Load Finance Data", "type": "main", "index": 0 }]] },
    "Load Finance Data": { "main": [[{ "node": "Calculate Runway", "type": "main", "index": 0 }]] },
    "Calculate Runway": { "main": [[{ "node": "Email Runway Report", "type": "main", "index": 0 }]] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "burn-rate" }, { "name": "finance" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "46-v1.0.0"
}
