workflows/05-founder-intelligence/44-hiring-signal-tracker/workflow.json
{
  "meta": { "id": "44", "name": "Hiring Signal Tracker", "description": "Monitor competitor and strategic company job listings via RSS or direct scraping to detect growth signals, strategic pivots, and talent needs.", "category": "Founder Intelligence", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "intermediate", "setupTime": "20 min", "requiredIntegrations": ["OpenAI API", "Google Sheets", "SMTP Email"], "optionalIntegrations": ["RSS Feeds"], "triggerType": "schedule", "aiRequired": true, "humanApproval": false, "tags": ["hiring", "competitive-intel", "signals", "founder"] },
  "name": "44 – Hiring Signal Tracker",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 44 — Hiring Signal Tracker\n\nMonitor competitor hiring patterns for strategic intelligence.\n\n**Required:**\n- HIRING_SHEET_ID: columns company, role_title, department, location, posted_date, link, notes\n- OpenAI API, SMTP Email, NOTIFICATION_EMAIL_TO\n- COMPETITOR_NAMES: comma-separated list of competitor company names to watch\n\n**Schedule:** Every Wednesday at 09:00\n**Status:** Beta.", "height": 280, "width": 380, "color": 7 } },
    { "id": "n-schedule", "name": "Weekly Wednesday", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1, "triggerAtDay": [3], "triggerAtHour": 9 }] } } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-load", "name": "Load Job Listings", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 40], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.HIRING_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Jobs", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-filter", "name": "Filter Recent", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 40], "parameters": { "jsCode": "const weekAgo = new Date(); weekAgo.setDate(weekAgo.getDate()-7);\nconst records = $input.all().map(i=>i.json).filter(r=>r.posted_date && new Date(r.posted_date)>=weekAgo);\n// Group by company\nconst byCompany = {};\nfor (const r of records) {\n  if (!byCompany[r.company]) byCompany[r.company] = [];\n  byCompany[r.company].push(r);\n}\nreturn [{ json: { week: new Date().toISOString().slice(0,10), total_new_jobs: records.length, companies: Object.keys(byCompany).length, by_company: byCompany, records } }];" } },
    { "id": "n-analyze", "name": "Analyze Hiring Signals (AI)", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.7, "position": [540, 40], "parameters": { "resource": "text", "operation": "message", "model": { "__rl": true, "value": "={{ $env.AI_MODEL_SMART || 'gpt-4o' }}", "mode": "id" }, "messages": { "values": [{ "role": "system", "content": "Analyze competitor job postings to infer strategic intent and market signals. Think like a competitive intelligence analyst. Return JSON only." }, { "role": "user", "content": "Competitors to watch: {{ $env.COMPETITOR_NAMES || 'our competitors' }}\nWeek: {{ $json.week }}\n{{ $json.total_new_jobs }} new job postings across {{ $json.companies }} companies:\n\n{{ JSON.stringify($json.by_company, null, 2) }}\n\nReturn JSON:\n{ \"summary\": str, \"company_insights\": [{ \"company\": str, \"new_jobs\": num, \"dominant_department\": str, \"strategic_signal\": str, \"urgency\": \"high|medium|low\" }], \"cross_company_patterns\": [str], \"recommended_actions\": [str] }" }] }, "options": {} }, "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI API" } } },
    { "id": "n-parse", "name": "Build Report", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [780, 40], "parameters": { "jsCode": "const data = $('Filter Recent').first().json;\nlet analysis;\ntry { analysis = JSON.parse(($input.first().json.message?.content||'{}').replace(/```json|```/g,'').trim()); } catch { analysis = {}; }\nreturn [{ json: { week: data.week, total_new_jobs: data.total_new_jobs, companies: data.companies, generated_at: new Date().toISOString(), ...analysis } }];" } },
    { "id": "n-email", "name": "Email Hiring Signals", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1020, 40], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "👀 Hiring Signals {{ $json.week }}: {{ $json.total_new_jobs }} new jobs across {{ $json.companies }} companies", "emailType": "text", "message": "Competitor Hiring Signal Tracker — {{ $json.week }}\n({{ $json.total_new_jobs }} new listings, {{ $json.companies }} companies)\n\nSUMMARY\n{{ $json.summary }}\n\nCOMPANY INSIGHTS:\n{{ ($json.company_insights||[]).map(c => `${c.urgency==='high'?'🔴':c.urgency==='medium'?'🟡':'🟢'} ${c.company} (${c.new_jobs} new jobs | ${c.dominant_department})\\n  Signal: ${c.strategic_signal}`).join('\\n\\n') }}\n\nCROSS-COMPANY PATTERNS:\n{{ ($json.cross_company_patterns||[]).map(p=>`→ ${p}`).join('\\n') }}\n\nACTIONS:\n{{ ($json.recommended_actions||[]).map(a=>`• ${a}`).join('\\n') }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Weekly Wednesday": { "main": [[{ "node": "Load Job Listings", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Load Job Listings", "type": "main", "index": 0 }]] },
    "Load Job Listings": { "main": [[{ "node": "Filter Recent", "type": "main", "index": 0 }]] },
    "Filter Recent": { "main": [[{ "node": "Analyze Hiring Signals (AI)", "type": "main", "index": 0 }]] },
    "Analyze Hiring Signals (AI)": { "main": [[{ "node": "Build Report", "type": "main", "index": 0 }]] },
    "Build Report": { "main": [[{ "node": "Email Hiring Signals", "type": "main", "index": 0 }]] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "hiring" }, { "name": "competitive-intel" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "44-v1.0.0"
}
