workflows/02-planning-execution/15-stakeholder-update-generator/workflow.json
{
  "meta": { "id": "15", "name": "Stakeholder Update Generator", "description": "Transform sprint data, OKR progress, and key decisions into polished, audience-appropriate stakeholder updates for board, execs, and team.", "category": "Planning & Execution", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "beginner", "setupTime": "15 min", "requiredIntegrations": ["OpenAI API", "SMTP Email"], "optionalIntegrations": ["Google Sheets", "Slack API", "Linear API"], "triggerType": "schedule", "aiRequired": true, "humanApproval": true, "tags": ["stakeholder", "communication", "update", "reporting"] },
  "name": "15 – Stakeholder Update Generator",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 15 — Stakeholder Update Generator\n\n**Required:** OpenAI API, SMTP Email, NOTIFICATION_EMAIL_TO\n\n**How to use:** Send a JSON payload to the webhook with sprint/OKR/decision data, OR connect the output of workflows 11 and 14 to this workflow's webhook.\n\n**Audience types:** board | exec | team | customer\n\n**Schedule:** Biweekly (1st and 15th, 09:00)\n\n**Status:** Beta.", "height": 300, "width": 360, "color": 7 } },
    { "id": "n-schedule", "name": "Biweekly Schedule", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -40], "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 1,15 * *" }] } } },
    { "id": "n-webhook", "name": "Webhook — Update Data", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-200, 60], "parameters": { "path": "stakeholder-update", "httpMethod": "POST", "responseMode": "onReceived", "options": {} }, "webhookId": "stakeholder-update-webhook" },
    { "id": "n-manual", "name": "Manual Trigger (Testing)", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 160], "parameters": {} },
    { "id": "n-prepare", "name": "Prepare Update Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [60, 60], "parameters": { "jsCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{ json: { period: body.period || new Date().toISOString().slice(0,10), audience: body.audience || 'exec', highlights: body.highlights || body.wins || [], challenges: body.challenges || body.blockers || [], metrics: body.metrics || [], decisions: body.decisions || [], next_steps: body.next_steps || [], context: body.context || '' } }];" } },
    { "id": "n-generate", "name": "Generate Update (AI)", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.7, "position": [300, 60], "parameters": { "resource": "text", "operation": "message", "model": { "__rl": true, "value": "={{ $env.AI_MODEL_SMART || 'gpt-4o' }}", "mode": "id" }, "messages": { "values": [{ "role": "system", "content": "You are an executive communications writer. Write clear, appropriately detailed updates for different stakeholder audiences. Never add data not in the input. Adapt tone to the audience (board=concise/financial; exec=strategic; team=detailed/human; customer=benefit-focused)." }, { "role": "user", "content": "Write a stakeholder update.\n\nPeriod: {{ $json.period }}\nAudience: {{ $json.audience }}\nHighlights: {{ JSON.stringify($json.highlights) }}\nChallenges: {{ JSON.stringify($json.challenges) }}\nMetrics: {{ JSON.stringify($json.metrics) }}\nDecisions: {{ JSON.stringify($json.decisions) }}\nNext steps: {{ JSON.stringify($json.next_steps) }}\nContext: {{ $json.context }}\n\nReturn JSON:\n{ \"subject_line\": str, \"opening\": str, \"highlights_section\": str, \"challenges_section\": str, \"metrics_section\": str, \"next_steps_section\": str, \"closing\": str, \"full_text\": str }" }] }, "options": {} }, "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI API" } } },
    { "id": "n-parse", "name": "Build Update", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [540, 60], "parameters": { "jsCode": "const data = $('Prepare Update Data').first().json;\nlet upd;\ntry { upd = JSON.parse(($input.first().json.message?.content||'{}').replace(/```json|```/g,'').trim()); } catch { upd = {}; }\nreturn [{ json: { period: data.period, audience: data.audience, generated_at: new Date().toISOString(), status: 'draft', ...upd } }];" } },
    { "id": "n-approve", "name": "Request PM Approval", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 2, "position": [780, 60], "parameters": { "workflowId": { "__rl": true, "value": "HUMAN_APPROVAL_WORKFLOW_ID", "mode": "id" }, "mode": "each", "workflowInputs": { "mappingMode": "defineBelow", "value": { "title": "Approve: {{ $json.audience }} Update for {{ $json.period }}", "summary": "{{ $json.subject_line || 'Stakeholder update draft ready for review' }}", "details": "={{ $json }}", "approver_email": "={{ $env.NOTIFICATION_EMAIL_TO }}", "timeout_hours": 24 } } } },
    { "id": "n-check", "name": "Approved?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1020, 60], "parameters": { "conditions": { "conditions": [{ "leftValue": "={{ $json.approved }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }] } } },
    { "id": "n-send", "name": "Send Update", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 2, "position": [1260, 0], "parameters": { "workflowId": { "__rl": true, "value": "NOTIFICATION_ROUTER_WORKFLOW_ID", "mode": "id" }, "mode": "each", "workflowInputs": { "mappingMode": "defineBelow", "value": { "channel": "={{ $env.NOTIFICATION_CHANNEL || 'email' }}", "title": "={{ $('Build Update').first().json.subject_line || 'Stakeholder Update' }}", "body": "={{ $('Build Update').first().json.full_text }}", "urgency": "low" } } } }
  ],
  "connections": { "Biweekly Schedule": { "main": [[{ "node": "Prepare Update Data", "type": "main", "index": 0 }]] }, "Webhook — Update Data": { "main": [[{ "node": "Prepare Update Data", "type": "main", "index": 0 }]] }, "Manual Trigger (Testing)": { "main": [[{ "node": "Prepare Update Data", "type": "main", "index": 0 }]] }, "Prepare Update Data": { "main": [[{ "node": "Generate Update (AI)", "type": "main", "index": 0 }]] }, "Generate Update (AI)": { "main": [[{ "node": "Build Update", "type": "main", "index": 0 }]] }, "Build Update": { "main": [[{ "node": "Request PM Approval", "type": "main", "index": 0 }]] }, "Request PM Approval": { "main": [[{ "node": "Approved?", "type": "main", "index": 0 }]] }, "Approved?": { "main": [[{ "node": "Send Update", "type": "main", "index": 0 }], []] } },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "stakeholder" }, { "name": "communication" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "15-v1.0.0"
}
