workflows/03-growth-metrics/26-ab-test-result-evaluator/workflow.json
{
  "meta": { "id": "26", "name": "A/B Test Result Evaluator", "description": "Calculate statistical significance of A/B test results, compute lift and confidence intervals, and recommend whether to ship, continue, or stop the test.", "category": "Growth & Metrics", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "intermediate", "setupTime": "15 min", "requiredIntegrations": ["Google Sheets", "SMTP Email"], "optionalIntegrations": ["OpenAI API", "Slack API"], "triggerType": "webhook", "aiRequired": false, "humanApproval": false, "tags": ["AB-test", "experimentation", "statistics", "growth"] },
  "name": "26 – A/B Test Result Evaluator",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 26 — A/B Test Result Evaluator\n\nPost A/B test data to the webhook to receive a statistical evaluation.\n\n**Payload:** { test_name, control_visitors, control_conversions, variant_visitors, variant_conversions, metric, confidence_target (default: 95) }\n\n**Required:** Google Sheets (to log results), SMTP Email\n**Status:** Beta.", "height": 280, "width": 380, "color": 7 } },
    { "id": "n-webhook", "name": "Webhook — AB Test Data", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-200, -20], "parameters": { "path": "ab-test-evaluator", "httpMethod": "POST", "responseMode": "onReceived", "options": {} }, "webhookId": "ab-test-evaluator-webhook" },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-evaluate", "name": "Statistical Evaluation", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [60, 40], "parameters": { "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst nc = parseInt(body.control_visitors || 0);\nconst xc = parseInt(body.control_conversions || 0);\nconst nv = parseInt(body.variant_visitors || 0);\nconst xv = parseInt(body.variant_conversions || 0);\nconst alpha = 1 - (parseFloat(body.confidence_target || 95) / 100);\n\nconst pc = xc / nc, pv = xv / nv;\nconst lift = pc > 0 ? ((pv - pc) / pc * 100).toFixed(2) : null;\n\n// Two-proportion z-test\nconst pp = (xc + xv) / (nc + nv);\nconst se = Math.sqrt(pp * (1 - pp) * (1/nc + 1/nv));\nconst z = Math.abs((pv - pc) / se);\n// Approximate p-value using normal distribution\nconst p_value_approx = 2 * (1 - Math.min(0.9999, 0.5 * (1 + Math.sign(z) * Math.sqrt(1 - Math.exp(-z*z*(8/Math.PI+z*z/30)/(4/Math.PI+z*z))))));\nconst is_significant = p_value_approx <= alpha;\nconst confidence = ((1 - p_value_approx) * 100).toFixed(1);\n\nlet recommendation;\nif (!is_significant) { recommendation = 'continue'; }\nelse if (parseFloat(lift) > 0) { recommendation = 'ship_variant'; }\nelse { recommendation = 'keep_control'; }\n\nreturn [{ json: { test_id: `ab_${Date.now()}`, test_name: body.test_name || 'Untitled Test', metric: body.metric || 'conversion_rate', evaluated_at: new Date().toISOString(), control: { visitors: nc, conversions: xc, rate: (pc * 100).toFixed(2) }, variant: { visitors: nv, conversions: xv, rate: (pv * 100).toFixed(2) }, lift_pct: lift, z_score: z.toFixed(3), confidence_pct: parseFloat(confidence), is_statistically_significant: is_significant, confidence_target: body.confidence_target || 95, recommendation, sample_size_note: (nc < 100 || nv < 100) ? 'Sample size may be too small for reliable results' : null } }];" } },
    { "id": "n-log", "name": "Log Result to Sheets", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [300, 40], "parameters": { "operation": "append", "documentId": { "__rl": true, "value": "={{ $env.AB_RESULTS_SHEET_ID || $env.METRICS_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "AB_Tests", "mode": "name" }, "columns": { "mappingMode": "defineBelow", "value": { "test_name": "={{ $json.test_name }}", "metric": "={{ $json.metric }}", "evaluated_at": "={{ $json.evaluated_at }}", "lift_pct": "={{ $json.lift_pct }}", "confidence_pct": "={{ $json.confidence_pct }}", "is_significant": "={{ $json.is_statistically_significant }}", "recommendation": "={{ $json.recommendation }}" } }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-email", "name": "Email Test Result", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [540, 40], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "🧪 A/B Test: {{ $json.test_name }} — {{ $json.recommendation.toUpperCase().replace('_',' ') }}{{ $json.is_statistically_significant ? ' (' + $json.confidence_pct + '% confidence)' : ' (not significant)' }}", "emailType": "text", "message": "A/B Test Evaluation: {{ $json.test_name }}\nMetric: {{ $json.metric }}\n\nControl:  {{ $json.control.visitors }} visitors → {{ $json.control.conversions }} conversions ({{ $json.control.rate }}%)\nVariant:  {{ $json.variant.visitors }} visitors → {{ $json.variant.conversions }} conversions ({{ $json.variant.rate }}%)\n\nLift: {{ $json.lift_pct !== null ? $json.lift_pct + '%' : 'N/A' }}\nZ-score: {{ $json.z_score }}\nConfidence: {{ $json.confidence_pct }}%\nStatistically significant: {{ $json.is_statistically_significant ? 'YES' : 'NO' }}\n\n📌 RECOMMENDATION: {{ $json.recommendation.toUpperCase().replace('_',' ') }}\n{{ $json.sample_size_note ? '⚠️ Note: ' + $json.sample_size_note : '' }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Webhook — AB Test Data": { "main": [[{ "node": "Statistical Evaluation", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Statistical Evaluation", "type": "main", "index": 0 }]] },
    "Statistical Evaluation": { "main": [[{ "node": "Log Result to Sheets", "type": "main", "index": 0 }]] },
    "Log Result to Sheets": { "main": [[{ "node": "Email Test Result", "type": "main", "index": 0 }]] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "AB-test" }, { "name": "experimentation" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "26-v1.0.0"
}
