workflows/10-team-founder-operations/97-documentation-freshness-checker/workflow.json
{
  "name": "Documentation Freshness Checker",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Documentation Freshness Checker\n\n**Setup:**\n1. Create YOUR_SMTP_CREDENTIAL\n2. Set DOCS_EMAIL_TO\n3. Provide doc inventory with last-updated dates and owners\n4. Code nodes flag stale docs (configurable staleness threshold) — no LLM\n5. Approval gate before stale doc list is sent to document owners",
        "height": 220,
        "width": 400,
        "color": 4
      },
      "id": "sticky-setup",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, -240]
    },
    {
      "parameters": { "rule": { "interval": [{ "field": "weeks", "triggerAtDay": [1], "triggerAtHour": 9 }] } },
      "id": "cron-trigger",
      "name": "Weekly Schedule (Monday 9am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 200]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 380]
    },
    {
      "parameters": {
        "jsCode": "// Replace with Notion/Confluence API call for production\nconst docs = [\n  { title: 'Product Roadmap — Q3 2026', owner: 'Head of Product', category: 'strategy', last_updated: '2026-07-01', stale_threshold_days: 14 },\n  { title: 'API Authentication Guide', owner: 'Maria Santos', category: 'technical', last_updated: '2026-04-15', stale_threshold_days: 60 },\n  { title: 'Onboarding Flow Spec', owner: 'Head of Product', category: 'product', last_updated: '2026-02-20', stale_threshold_days: 30 },\n  { title: 'Design System Components', owner: 'James Kim', category: 'design', last_updated: '2026-06-28', stale_threshold_days: 30 },\n  { title: 'Sprint Retro Template', owner: 'Alex Chen', category: 'process', last_updated: '2026-07-05', stale_threshold_days: 90 },\n  { title: 'Incident Response Runbook', owner: 'Maria Santos', category: 'operations', last_updated: '2026-01-10', stale_threshold_days: 30 },\n  { title: 'Pricing & Packaging Overview', owner: 'Head of Product', category: 'strategy', last_updated: '2026-05-01', stale_threshold_days: 60 }\n];\nconst today = '2026-07-14';\nreturn [{ json: { docs, today } }];"
      },
      "id": "load-docs",
      "name": "Load Doc Inventory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 280]
    },
    {
      "parameters": {
        "jsCode": "const { docs, today } = $input.first().json;\nconst todayMs = new Date(today).getTime();\nconst results = docs.map(doc => {\n  const lastMs = new Date(doc.last_updated).getTime();\n  const days_since_update = Math.floor((todayMs - lastMs)/(1000*60*60*24));\n  const is_stale = days_since_update > doc.stale_threshold_days;\n  const staleness_ratio = parseFloat((days_since_update / doc.stale_threshold_days).toFixed(2));\n  const severity = staleness_ratio >= 3 ? 'critical' : staleness_ratio >= 2 ? 'warning' : is_stale ? 'stale' : 'fresh';\n  return { ...doc, days_since_update, is_stale, staleness_ratio, severity };\n});\nconst stale = results.filter(r => r.is_stale);\nconst by_severity = { critical: stale.filter(r=>r.severity==='critical'), warning: stale.filter(r=>r.severity==='warning'), stale: stale.filter(r=>r.severity==='stale') };\nconst by_owner = {};\nstale.forEach(r => { if(!by_owner[r.owner]) by_owner[r.owner]=[]; by_owner[r.owner].push(r.title); });\nreturn [{ json: { results, stale, by_severity, by_owner, today, meta: { total: docs.length, stale_count: stale.length, critical_count: by_severity.critical.length, fresh_count: results.length - stale.length } } }];"
      },
      "id": "check-freshness",
      "name": "Check Doc Freshness",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 280]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "id": "fs", "leftValue": "={{ $json.meta.stale_count }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "any-stale",
      "name": "Any Stale Docs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 280]
    },
    {
      "parameters": { "assignments": { "assignments": [{ "id": "ok", "name": "status", "value": "all_docs_fresh", "type": "string" }] }, "options": {} },
      "id": "all-fresh",
      "name": "All Docs Fresh",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1160, 180]
    },
    {
      "parameters": {
        "jsCode": "const { stale, by_severity, by_owner, meta: m, today } = $input.first().json;\nconst fmt = arr => arr.map(d => `  [${d.severity.toUpperCase()}] \"${d.title}\" — ${d.days_since_update}d since update (threshold ${d.stale_threshold_days}d) — owner: ${d.owner}`).join('\\n');\nconst ownerLines = Object.entries(by_owner).map(([owner, docs]) => `  ${owner}: ${docs.join(', ')}`).join('\\n');\nconst report = [\n  `DOCUMENTATION FRESHNESS REPORT`,\n  `As of: ${today} | Total: ${m.total} | Stale: ${m.stale_count} | Critical: ${m.critical_count} | Fresh: ${m.fresh_count}`,\n  ``,\n  by_severity.critical.length > 0 ? `CRITICAL (3x+ past due):\\n${fmt(by_severity.critical)}` : '',\n  by_severity.warning.length > 0 ? `\\nWARNING (2x past due):\\n${fmt(by_severity.warning)}` : '',\n  by_severity.stale.length > 0 ? `\\nSTALE (past threshold):\\n${fmt(by_severity.stale)}` : '',\n  ``,\n  `BY OWNER (action required):`,\n  ownerLines,\n].filter(Boolean).join('\\n');\nreturn [{ json: { ...($input.first().json), report_text: report } }];"
      },
      "id": "format-report",
      "name": "Format Freshness Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 380]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.NOTIFICATION_EMAIL_FROM || 'automation@example.com' }}",
        "toEmail": "={{ $env.DOCS_APPROVER_EMAIL || $env.DOCS_EMAIL_TO }}",
        "subject": "=APPROVAL REQUIRED: {{ $json.meta.stale_count }} stale doc{{ $json.meta.stale_count !== 1 ? 's' : '' }} ({{ $json.meta.critical_count }} critical)",
        "emailType": "html",
        "message": "=<pre style=\"font-family:monospace;white-space:pre-wrap\">{{ $json.report_text }}</pre><p><a href=\"{{ $execution.resumeUrl }}?decision=approved\">Approve and notify owners</a> | <a href=\"{{ $execution.resumeUrl }}?decision=rejected\">Reject</a></p>",
        "options": {}
      },
      "id": "send-approval",
      "name": "Send for Approval",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1380, 380],
      "credentials": { "smtp": { "name": "YOUR_SMTP_CREDENTIAL" } }
    },
    {
      "parameters": { "resume": "webhook", "options": { "webhookSuffix": "/approval" } },
      "id": "wait-approval",
      "name": "Wait for Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1600, 380],
      "webhookId": "docs-freshness-approval"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "id": "cd", "leftValue": "={{ $json.query?.decision || $json.body?.decision }}", "rightValue": "approved", "operator": { "type": "string", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-decision",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1820, 380]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.NOTIFICATION_EMAIL_FROM || 'automation@example.com' }}",
        "toEmail": "={{ $env.DOCS_EMAIL_TO || 'team@example.com' }}",
        "subject": "=Documentation Update Required: {{ $('Format Freshness Report').first().json.meta.stale_count }} docs need review",
        "emailType": "html",
        "message": "=<pre style=\"font-family:monospace;white-space:pre-wrap\">{{ $('Format Freshness Report').first().json.report_text }}</pre>",
        "options": {}
      },
      "id": "notify-owners",
      "name": "Notify Doc Owners",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2040, 280],
      "credentials": { "smtp": { "name": "YOUR_SMTP_CREDENTIAL" } }
    },
    {
      "parameters": { "assignments": { "assignments": [{ "id": "r1", "name": "status", "value": "rejected", "type": "string" }] }, "options": {} },
      "id": "log-rejection",
      "name": "Log Rejection",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2040, 480]
    }
  ],
  "connections": {
    "Weekly Schedule (Monday 9am)": { "main": [[{ "node": "Load Doc Inventory", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Load Doc Inventory", "type": "main", "index": 0 }]] },
    "Load Doc Inventory": { "main": [[{ "node": "Check Doc Freshness", "type": "main", "index": 0 }]] },
    "Check Doc Freshness": { "main": [[{ "node": "Any Stale Docs?", "type": "main", "index": 0 }]] },
    "Any Stale Docs?": { "main": [[{ "node": "All Docs Fresh", "type": "main", "index": 0 }], [{ "node": "Format Freshness Report", "type": "main", "index": 0 }]] },
    "Format Freshness Report": { "main": [[{ "node": "Send for Approval", "type": "main", "index": 0 }]] },
    "Send for Approval": { "main": [[{ "node": "Wait for Approval", "type": "main", "index": 0 }]] },
    "Wait for Approval": { "main": [[{ "node": "Approved?", "type": "main", "index": 0 }]] },
    "Approved?": { "main": [[{ "node": "Notify Doc Owners", "type": "main", "index": 0 }], [{ "node": "Log Rejection", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true, "callerPolicy": "workflowsFromSameOwner", "errorWorkflow": "" },
  "staticData": null,
  "tags": ["team", "founder", "documentation", "freshness", "beta"],
  "triggerCount": 0,
  "updatedAt": "2026-07-14T00:00:00.000Z",
  "versionId": "97-documentation-freshness-checker-v0.1.0"
}
