workflows/02-planning-execution/11-roadmap-prioritization-engine/workflow.json
{
  "meta": { "id": "11", "name": "Roadmap Prioritization Engine", "description": "Score backlog items using a configurable formula (RICE, ICE, or custom), enrich with research evidence, and produce a ranked roadmap.", "category": "Planning & Execution", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "intermediate", "setupTime": "20 min", "estimatedMonthlyCost": "$0.10–0.50", "requiredIntegrations": ["OpenAI API", "Google Sheets"], "optionalIntegrations": ["Linear API", "Jira API", "Notion API", "Slack API"], "triggerType": "schedule", "aiRequired": true, "humanApproval": true, "tags": ["roadmap", "prioritization", "RICE", "ICE", "planning"] },
  "name": "11 – Roadmap Prioritization Engine",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 11 — Roadmap Prioritization Engine\n\n**Required:**\n- Google Sheets: BACKLOG_SHEET_ID with columns: id, title, description, reach, impact, confidence, effort, tags\n- OpenAI API credential\n- NOTIFICATION_EMAIL_TO\n\n**Formula:** RICE by default (Reach × Impact × Confidence / Effort)\nChange PRIORITIZATION_FORMULA to 'ICE' for Impact × Confidence × Ease.\n\n**Schedule:** Every Friday at 14:00", "height": 320, "width": 380, "color": 7 } },
    { "id": "n-schedule", "name": "Weekly Schedule", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1, "triggerAtDay": [5], "triggerAtHour": 14 }] } } },
    { "id": "n-manual", "name": "Manual Trigger (Testing)", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-load", "name": "Load Backlog", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 40], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.BACKLOG_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Backlog", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-score", "name": "Calculate Scores", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 40], "parameters": { "jsCode": "const formula = $env.PRIORITIZATION_FORMULA || 'RICE';\nconst items = $input.all().map(i => {\n  const d = i.json;\n  const R = parseFloat(d.reach||1), I = parseFloat(d.impact||1), C = parseFloat(d.confidence||100)/100, E = parseFloat(d.effort||1);\n  let score;\n  if (formula === 'ICE') { score = I * C * (1/E) * 100; }\n  else { score = (R * I * C) / E; } // RICE\n  return { ...d, score: Math.round(score * 10) / 10, formula };\n});\nconst ranked = items.sort((a,b) => b.score - a.score);\nreturn ranked.map(r => ({ json: r }));" } },
    { "id": "n-enrich", "name": "AI Evidence Enrichment", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.7, "position": [540, 40], "parameters": { "resource": "text", "operation": "message", "model": { "__rl": true, "value": "={{ $env.AI_MODEL_FAST || 'gpt-4o-mini' }}", "mode": "id" }, "messages": { "values": [{ "role": "system", "content": "You are a product manager reviewing a prioritized backlog. Add brief rationale for the top items. Return JSON only." }, { "role": "user", "content": "Here is the prioritized backlog ({{ $input.all().length }} items, RICE scored):\n\n{{ JSON.stringify($input.all().map(i=>i.json).slice(0,10), null, 2) }}\n\nFor each item, add:\n{ \"rationale\": \"1 sentence why this is ranked here\", \"risks\": [\"key risk\"], \"suggested_team\": \"team or role\" }\n\nReturn a JSON array of these objects in the same order." }] }, "options": {} }, "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI API" } } },
    { "id": "n-merge", "name": "Merge Enrichment", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [780, 40], "parameters": { "jsCode": "const ranked = $('Calculate Scores').all().map(i => i.json);\nlet enriched;\ntry { enriched = JSON.parse(($input.first().json.message?.content||'[]').replace(/```json|```/g,'').trim()); if (!Array.isArray(enriched)) enriched = []; } catch { enriched = []; }\nconst result = ranked.map((item, i) => ({ ...item, ...(enriched[i]||{}) }));\nreturn [{ json: { generated_at: new Date().toISOString(), formula: $env.PRIORITIZATION_FORMULA||'RICE', total: result.length, ranked_roadmap: result } }];" } },
    { "id": "n-approve", "name": "Request Human Approval", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 2, "position": [1020, 40], "parameters": { "workflowId": { "__rl": true, "value": "HUMAN_APPROVAL_WORKFLOW_ID", "mode": "id" }, "mode": "each", "workflowInputs": { "mappingMode": "defineBelow", "value": { "title": "Approve: Roadmap Prioritization", "summary": "{{ $json.total }} items ranked by {{ $json.formula }}. Top: {{ $json.ranked_roadmap[0]?.title || 'N/A' }} (score: {{ $json.ranked_roadmap[0]?.score || 0 }})", "details": "={{ $json }}", "approver_email": "={{ $env.NOTIFICATION_EMAIL_TO }}", "timeout_hours": 48 } } } },
    { "id": "n-check", "name": "Approved?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1260, 40], "parameters": { "conditions": { "conditions": [{ "leftValue": "={{ $json.approved }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }] } } },
    { "id": "n-send", "name": "Send Roadmap", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 2, "position": [1500, -20], "parameters": { "workflowId": { "__rl": true, "value": "NOTIFICATION_ROUTER_WORKFLOW_ID", "mode": "id" }, "mode": "each", "workflowInputs": { "mappingMode": "defineBelow", "value": { "channel": "={{ $env.NOTIFICATION_CHANNEL || 'email' }}", "title": "📊 Roadmap Priority Update: {{ $('Merge Enrichment').first().json.total }} items ranked", "body": "Weekly roadmap prioritization complete. Top item: {{ $('Merge Enrichment').first().json.ranked_roadmap[0]?.title || 'N/A' }}", "urgency": "low" } } } }
  ],
  "connections": { "Weekly Schedule": { "main": [[{ "node": "Load Backlog", "type": "main", "index": 0 }]] }, "Manual Trigger (Testing)": { "main": [[{ "node": "Load Backlog", "type": "main", "index": 0 }]] }, "Load Backlog": { "main": [[{ "node": "Calculate Scores", "type": "main", "index": 0 }]] }, "Calculate Scores": { "main": [[{ "node": "AI Evidence Enrichment", "type": "main", "index": 0 }]] }, "AI Evidence Enrichment": { "main": [[{ "node": "Merge Enrichment", "type": "main", "index": 0 }]] }, "Merge Enrichment": { "main": [[{ "node": "Request Human Approval", "type": "main", "index": 0 }]] }, "Request Human Approval": { "main": [[{ "node": "Approved?", "type": "main", "index": 0 }]] }, "Approved?": { "main": [[{ "node": "Send Roadmap", "type": "main", "index": 0 }], []] } },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "planning" }, { "name": "roadmap" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "11-v1.0.0"
}
