workflows/03-growth-metrics/28-growth-experiment-logger/workflow.json
{
  "meta": { "id": "28", "name": "Growth Experiment Logger", "description": "Log growth experiments with hypothesis, metric, owner, and outcome. Track win rate, learnings, and send weekly experiment digests.", "category": "Growth & Metrics", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "beginner", "setupTime": "10 min", "requiredIntegrations": ["Google Sheets", "SMTP Email"], "optionalIntegrations": ["Slack API"], "triggerType": "webhook", "aiRequired": false, "humanApproval": false, "tags": ["experiments", "growth", "logging", "learnings"] },
  "name": "28 – Growth Experiment Logger",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 28 — Growth Experiment Logger\n\nLog experiments via webhook and receive weekly experiment digests.\n\n**Payload:** { id, name, hypothesis, metric, owner, status, outcome, learning, started_at, ended_at }\n\n**Required:** EXPERIMENT_SHEET_ID, NOTIFICATION_EMAIL_TO\n**Digest:** Every Sunday at 17:00\n**Status:** Beta.", "height": 260, "width": 360, "color": 7 } },
    { "id": "n-webhook", "name": "Webhook — Log Experiment", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-200, -60], "parameters": { "path": "experiment-log", "httpMethod": "POST", "responseMode": "onReceived", "options": {} }, "webhookId": "experiment-log-webhook" },
    { "id": "n-schedule", "name": "Weekly Digest", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, 60], "parameters": { "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1, "triggerAtDay": [0], "triggerAtHour": 17 }] } } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 160], "parameters": {} },
    { "id": "n-route", "name": "Log or Digest?", "type": "n8n-nodes-base.switch", "typeVersion": 3.3, "position": [60, 60], "parameters": { "mode": "expression", "output": "={{ $input.first().json.body?.name || $input.first().json.name ? 'log' : 'digest' }}", "rules": { "rules": [{ "outputKey": "log", "conditions": { "conditions": [{ "leftValue": "={{ $input.first().json.body?.name || $input.first().json.name }}", "rightValue": "", "operator": { "type": "string", "operation": "notEquals" } }] } }] }, "options": {} } },
    { "id": "n-save", "name": "Save Experiment", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [300, -40], "parameters": { "operation": "append", "documentId": { "__rl": true, "value": "={{ $env.EXPERIMENT_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Experiments", "mode": "name" }, "columns": { "mappingMode": "defineBelow", "value": { "id": "={{ $input.first().json.body?.id || $input.first().json.id || 'exp_'+Date.now() }}", "name": "={{ $input.first().json.body?.name || $input.first().json.name }}", "hypothesis": "={{ $input.first().json.body?.hypothesis || $input.first().json.hypothesis }}", "metric": "={{ $input.first().json.body?.metric || $input.first().json.metric }}", "owner": "={{ $input.first().json.body?.owner || $input.first().json.owner }}", "status": "={{ $input.first().json.body?.status || $input.first().json.status || 'running' }}", "outcome": "={{ $input.first().json.body?.outcome || $input.first().json.outcome }}", "learning": "={{ $input.first().json.body?.learning || $input.first().json.learning }}", "logged_at": "={{ new Date().toISOString() }}" } }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-load-digest", "name": "Load All Experiments", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [300, 140], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.EXPERIMENT_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Experiments", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-digest", "name": "Build Digest", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [540, 140], "parameters": { "jsCode": "const all = $input.all().map(i => i.json);\nconst running = all.filter(e => e.status === 'running');\nconst completed = all.filter(e => e.status === 'completed' || e.status === 'done');\nconst won = completed.filter(e => e.outcome === 'win' || e.outcome === 'positive');\nconst win_rate = completed.length > 0 ? Math.round(won.length / completed.length * 100) : null;\nreturn [{ json: { date: new Date().toISOString().slice(0,10), total: all.length, running: running.length, completed: completed.length, win_rate, running_experiments: running, recent_completed: completed.slice(-5), learnings: completed.map(e => e.learning).filter(Boolean).slice(-10) } }];" } },
    { "id": "n-email-digest", "name": "Email Experiment Digest", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [780, 140], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "🧪 Experiment Digest {{ $json.date }}: {{ $json.running }} running | {{ $json.win_rate !== null ? $json.win_rate + '% win rate' : 'tracking' }}", "emailType": "text", "message": "Growth Experiment Weekly Digest — {{ $json.date }}\n\nTotal: {{ $json.total }} | Running: {{ $json.running }} | Completed: {{ $json.completed }} | Win rate: {{ $json.win_rate !== null ? $json.win_rate + '%' : 'N/A' }}\n\nRUNNING NOW:\n{{ $json.running_experiments.map(e => `→ ${e.name} [${e.metric}] — ${e.owner}`).join('\\n') || 'None.' }}\n\nRECENT LEARNINGS:\n{{ $json.learnings.map(l => `• ${l}`).join('\\n') || 'None recorded yet.' }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Webhook — Log Experiment": { "main": [[{ "node": "Log or Digest?", "type": "main", "index": 0 }]] },
    "Weekly Digest": { "main": [[{ "node": "Load All Experiments", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Log or Digest?", "type": "main", "index": 0 }]] },
    "Log or Digest?": { "main": [[{ "node": "Save Experiment", "type": "main", "index": 0 }], [{ "node": "Load All Experiments", "type": "main", "index": 0 }]] },
    "Load All Experiments": { "main": [[{ "node": "Build Digest", "type": "main", "index": 0 }]] },
    "Build Digest": { "main": [[{ "node": "Email Experiment Digest", "type": "main", "index": 0 }]] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "experiments" }, { "name": "growth" }], "triggerCount": 2, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "28-v1.0.0"
}
