workflows/02-planning-execution/13-prd-auto-drafter/workflow.json
{
  "meta": { "id": "13", "name": "PRD Auto-Drafter", "description": "Turn a product brief (problem, audience, goals, constraints) into a structured PRD draft with goals, scope, user stories, success metrics, and open questions.", "category": "Planning & Execution", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "beginner", "setupTime": "10 min", "requiredIntegrations": ["OpenAI API", "SMTP Email"], "optionalIntegrations": ["Notion API", "Google Docs"], "triggerType": "webhook", "aiRequired": true, "humanApproval": true, "tags": ["PRD", "documentation", "planning", "product-spec"] },
  "name": "13 – PRD Auto-Drafter",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 13 — PRD Auto-Drafter\n\nSend a product brief to the webhook and receive a structured PRD draft.\n\n**Required:** OpenAI API credential, NOTIFICATION_EMAIL_TO\n\n**Tip:** The PRD is a draft — review and refine before sharing with engineers.\n\n**Status:** Beta.", "height": 260, "width": 340, "color": 7 } },
    { "id": "n-webhook", "name": "Webhook — Product Brief", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-200, -20], "parameters": { "path": "prd-drafter", "httpMethod": "POST", "responseMode": "onReceived", "options": {} }, "webhookId": "prd-drafter-webhook" },
    { "id": "n-manual", "name": "Manual Trigger (Testing)", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-normalise", "name": "Normalise Brief", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [60, 40], "parameters": { "jsCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{ json: { id: body.id || `prd_${Date.now()}`, feature_name: body.feature_name || body.title || 'Untitled Feature', problem: body.problem || body.description || '', target_audience: body.target_audience || body.audience || '', goals: body.goals || body.success_criteria || '', constraints: body.constraints || body.limitations || '', context: body.context || '', requested_by: body.requested_by || 'Unknown', created_at: new Date().toISOString() } }];" } },
    { "id": "n-draft", "name": "Draft PRD (AI)", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.7, "position": [300, 40], "parameters": { "resource": "text", "operation": "message", "model": { "__rl": true, "value": "={{ $env.AI_MODEL_SMART || 'gpt-4o' }}", "mode": "id" }, "messages": { "values": [{ "role": "system", "content": "You are a senior product manager writing a PRD. Be concise, specific, and avoid padding. Only write what is grounded in the brief. Mark anything inferred with [ASSUMPTION]. Return valid JSON only." }, { "role": "user", "content": "Write a PRD draft for this feature.\n\nFeature: {{ $json.feature_name }}\nProblem: {{ $json.problem }}\nTarget audience: {{ $json.target_audience }}\nGoals: {{ $json.goals }}\nConstraints: {{ $json.constraints }}\nContext: {{ $json.context }}\n\nReturn JSON:\n{ \"title\": str, \"tldr\": str, \"problem_statement\": str, \"goals\": [str], \"non_goals\": [str], \"target_users\": [{ \"segment\": str, \"need\": str }], \"user_stories\": [{ \"as_a\": str, \"i_want\": str, \"so_that\": str, \"acceptance_criteria\": [str] }], \"proposed_solution\": str, \"success_metrics\": [{ \"metric\": str, \"target\": str, \"measurement\": str }], \"open_questions\": [{ \"question\": str, \"owner\": str, \"deadline\": str }], \"risks\": [{ \"risk\": str, \"mitigation\": str }], \"out_of_scope\": [str] }" }] }, "options": {} }, "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI API" } } },
    { "id": "n-parse", "name": "Build PRD Document", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [540, 40], "parameters": { "jsCode": "const brief = $('Normalise Brief').first().json;\nlet prd;\ntry { prd = JSON.parse(($input.first().json.message?.content||'{}').replace(/```json|```/g,'').trim()); } catch { prd = {}; }\nreturn [{ json: { prd_id: brief.id, requested_by: brief.requested_by, created_at: brief.created_at, status: 'draft', ...prd } }];" } },
    { "id": "n-approve", "name": "Request PM Review", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 2, "position": [780, 40], "parameters": { "workflowId": { "__rl": true, "value": "HUMAN_APPROVAL_WORKFLOW_ID", "mode": "id" }, "mode": "each", "workflowInputs": { "mappingMode": "defineBelow", "value": { "title": "Review PRD Draft: {{ $json.title || 'Untitled' }}", "summary": "PRD draft for {{ $json.title }}. {{ $json.user_stories?.length || 0 }} user stories, {{ $json.open_questions?.length || 0 }} open questions.", "details": "={{ $json }}", "approver_email": "={{ $env.NOTIFICATION_EMAIL_TO }}", "timeout_hours": 48 } } } },
    { "id": "n-check", "name": "Approved?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1020, 40], "parameters": { "conditions": { "conditions": [{ "leftValue": "={{ $json.approved }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }] } } },
    { "id": "n-send", "name": "Send PRD Draft", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 2, "position": [1260, -20], "parameters": { "workflowId": { "__rl": true, "value": "NOTIFICATION_ROUTER_WORKFLOW_ID", "mode": "id" }, "mode": "each", "workflowInputs": { "mappingMode": "defineBelow", "value": { "channel": "={{ $env.NOTIFICATION_CHANNEL || 'email' }}", "title": "📄 PRD Draft Ready: {{ $('Build PRD Document').first().json.title }}", "body": "PRD draft approved and ready for engineering review. TL;DR: {{ $('Build PRD Document').first().json.tldr }}", "urgency": "low" } } } }
  ],
  "connections": { "Webhook — Product Brief": { "main": [[{ "node": "Normalise Brief", "type": "main", "index": 0 }]] }, "Manual Trigger (Testing)": { "main": [[{ "node": "Normalise Brief", "type": "main", "index": 0 }]] }, "Normalise Brief": { "main": [[{ "node": "Draft PRD (AI)", "type": "main", "index": 0 }]] }, "Draft PRD (AI)": { "main": [[{ "node": "Build PRD Document", "type": "main", "index": 0 }]] }, "Build PRD Document": { "main": [[{ "node": "Request PM Review", "type": "main", "index": 0 }]] }, "Request PM Review": { "main": [[{ "node": "Approved?", "type": "main", "index": 0 }]] }, "Approved?": { "main": [[{ "node": "Send PRD Draft", "type": "main", "index": 0 }], []] } },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "PRD" }, { "name": "planning" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "13-v1.0.0"
}
