subworkflows/human-approval/workflow.json
{
  "name": "Subworkflow: Human Approval Gate",
  "nodes": [
    {
      "parameters": {
        "content": "## 🛑 Human Approval Gate\n\n**Purpose:** Pauses a workflow and sends an approval request via email (or Slack). Resumes only after a human clicks Approve or Reject.\n\n**Setup:**\n1. Create an SMTP credential named `SMTP Email`\n2. Set `NOTIFICATION_EMAIL_TO` environment variable\n3. Ensure the n8n webhook URL is accessible from the approver's email client\n\n**Input:**\n```json\n{\n  \"title\": \"Approve: Weekly Feedback Report\",\n  \"summary\": \"3 critical insights, 12 feature requests...\",\n  \"details\": {},\n  \"approver_email\": \"pm@yourcompany.com\",\n  \"timeout_hours\": 24\n}\n```\n\n**Output:**\n```json\n{\n  \"decision\": \"approved\",\n  \"decided_at\": \"2025-01-01T10:00:00Z\",\n  \"comment\": \"\"\n}\n```\n\n⚠️ The workflow pauses here until the approver responds or the timeout expires.",
        "height": 420,
        "width": 520,
        "color": 3
      },
      "id": "sticky-approval-setup",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, -240]
    },
    {
      "parameters": {},
      "id": "trigger-approval",
      "name": "When Called by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 100]
    },
    {
      "parameters": {
        "jsCode": "// Prepare approval request metadata\nconst input = $input.first().json;\n\nconst approvalId = `approval_${Date.now()}_${Math.random().toString(36).substring(2, 9)}`;\nconst approverEmail = input.approver_email || process.env.NOTIFICATION_EMAIL_TO || 'team@example.com';\nconst timeoutHours = input.timeout_hours || 24;\nconst expiresAt = new Date(Date.now() + timeoutHours * 60 * 60 * 1000).toISOString();\n\n// Build approval and rejection URLs (using n8n's resume URL pattern)\n// In production these are generated by the Wait node — this is for the email template\nconst webhookBase = process.env.WEBHOOK_URL || 'http://localhost:5678';\n\nreturn [{\n  json: {\n    ...input,\n    approvalId,\n    approverEmail,\n    timeoutHours,\n    expiresAt,\n    webhookBase,\n    createdAt: new Date().toISOString(),\n  }\n}];"
      },
      "id": "prepare-approval",
      "name": "Prepare Approval Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 100]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.approverEmail }}",
        "subject": "Action required: {{ $json.title }}",
        "message": "<html><body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n<h2 style=\"color: #333;\">{{ $json.title }}</h2>\n\n<p style=\"font-size: 16px; color: #555;\">{{ $json.summary }}</p>\n\n<div style=\"background: #f5f5f5; padding: 15px; border-radius: 8px; margin: 20px 0;\">\n<strong>Details:</strong>\n<pre style=\"overflow-x: auto; white-space: pre-wrap;\">{{ JSON.stringify($json.details, null, 2) }}</pre>\n</div>\n\n<p style=\"color: #888; font-size: 13px;\">This request expires at: {{ $json.expiresAt }}</p>\n\n<div style=\"margin: 30px 0;\">\n  <a href=\"{{ $execution.resumeUrl }}?approve=true\" style=\"background: #22c55e; color: white; padding: 12px 24px; border-radius: 6px; text-decoration: none; margin-right: 12px; font-size: 16px;\">✅ Approve</a>\n  <a href=\"{{ $execution.resumeUrl }}?approve=false\" style=\"background: #ef4444; color: white; padding: 12px 24px; border-radius: 6px; text-decoration: none; font-size: 16px;\">❌ Reject</a>\n</div>\n\n<p style=\"color: #aaa; font-size: 12px;\">Sent by n8n Product & Founder Automation OS</p>\n</body></html>",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "id": "send-approval-email",
      "name": "Send Approval Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [680, 100],
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL_ID",
          "name": "SMTP Email"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "={{ $json.approvalId }}",
          "limitWaitTime": true,
          "limitType": "afterTimeInterval",
          "resumeAmount": "={{ $('Prepare Approval Request').first().json.timeoutHours }}",
          "resumeUnit": "hours"
        }
      },
      "id": "wait-for-approval",
      "name": "Wait for Approval (or Timeout)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [900, 100],
      "webhookId": "approval-gate-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Process the approval response\nconst waitResponse = $input.first().json;\nconst originalRequest = $('Prepare Approval Request').first().json;\n\n// Check if this was a timeout (no query params) or a webhook response\nconst isTimeout = !waitResponse?.query?.approve && !waitResponse?.body?.approve;\nconst isApproved = String(waitResponse?.query?.approve || waitResponse?.body?.approve).toLowerCase() === 'true';\n\nconst decision = isTimeout ? 'timeout' : (isApproved ? 'approved' : 'rejected');\nconst comment = waitResponse?.query?.comment || waitResponse?.body?.comment || '';\n\nreturn [{\n  json: {\n    approvalId: originalRequest.approvalId,\n    title: originalRequest.title,\n    decision,\n    decided_at: new Date().toISOString(),\n    comment,\n    approved: decision === 'approved',\n    timeout: decision === 'timeout',\n  }\n}];"
      },
      "id": "process-decision",
      "name": "Process Approval Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 100]
    }
  ],
  "connections": {
    "When Called by Another Workflow": {
      "main": [
        [{ "node": "Prepare Approval Request", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Approval Request": {
      "main": [
        [{ "node": "Send Approval Email", "type": "main", "index": 0 }]
      ]
    },
    "Send Approval Email": {
      "main": [
        [{ "node": "Wait for Approval (or Timeout)", "type": "main", "index": 0 }]
      ]
    },
    "Wait for Approval (or Timeout)": {
      "main": [
        [{ "node": "Process Approval Decision", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "errorWorkflow": ""
  },
  "meta": {
    "n8nVersion": "2.30.0",
    "description": "Shared subworkflow: pauses execution and sends an approval email. Resumes when the approver clicks Approve or Reject, or after timeout.",
    "tags": ["subworkflow", "approval", "human-in-the-loop"]
  }
}
