workflows/03-growth-metrics/29-activation-rate-monitor/workflow.json
{
  "meta": { "id": "29", "name": "Activation Rate Monitor", "description": "Track new user activation rates (completing key actions within N days), segment by cohort, and alert when activation rate falls below target.", "category": "Growth & Metrics", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "intermediate", "setupTime": "15 min", "requiredIntegrations": ["Google Sheets", "SMTP Email"], "triggerType": "schedule", "aiRequired": false, "humanApproval": false, "tags": ["activation", "onboarding", "growth", "metrics"] },
  "name": "29 – Activation Rate Monitor",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 29 — Activation Rate Monitor\n\n**Required:**\n- ACTIVATION_SHEET_ID: columns cohort_week, segment, new_users, activated_7d, activated_14d, activated_30d\n- ACTIVATION_TARGET_PCT: target activation % within 14d (default: 40)\n- NOTIFICATION_EMAIL_TO\n\n**Schedule:** Weekly on Monday at 09:30\n**Status:** Beta.", "height": 280, "width": 360, "color": 7 } },
    { "id": "n-schedule", "name": "Weekly Monday", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1, "triggerAtDay": [1], "triggerAtHour": 9, "triggerAtMinute": 30 }] } } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-load", "name": "Load Activation Data", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 40], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.ACTIVATION_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Activation", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-calc", "name": "Calculate Activation Rates", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 40], "parameters": { "jsCode": "const target = parseFloat($env.ACTIVATION_TARGET_PCT || 40);\nconst cohorts = $input.all().map(i => {\n  const d = i.json;\n  const n = parseInt(d.new_users || 1);\n  const a7 = (parseInt(d.activated_7d||0)/n*100).toFixed(1);\n  const a14 = (parseInt(d.activated_14d||0)/n*100).toFixed(1);\n  const a30 = (parseInt(d.activated_30d||0)/n*100).toFixed(1);\n  const is_below_target = parseFloat(a14) < target;\n  return { ...d, activation_7d_pct: parseFloat(a7), activation_14d_pct: parseFloat(a14), activation_30d_pct: parseFloat(a30), is_below_target };\n}).sort((a, b) => b.activation_14d_pct - a.activation_14d_pct);\nconst below = cohorts.filter(c => c.is_below_target);\nconst avg14 = cohorts.length > 0 ? (cohorts.reduce((s,c)=>s+c.activation_14d_pct,0)/cohorts.length).toFixed(1) : 0;\nreturn [{ json: { week: new Date().toISOString().slice(0,10), target_pct: target, avg_14d_activation: parseFloat(avg14), cohorts, below_target_count: below.length, below_target: below } }];" } },
    { "id": "n-email", "name": "Email Activation Report", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [540, 40], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "🚀 Activation Report {{ $json.week }}: avg 14d {{ $json.avg_14d_activation }}% (target {{ $json.target_pct }}%) | {{ $json.below_target_count }} cohorts below", "emailType": "text", "message": "Activation Rate Monitor — {{ $json.week }}\n\nAverage 14d activation: {{ $json.avg_14d_activation }}% (target: {{ $json.target_pct }}%)\n\n⚠️ BELOW TARGET:\n{{ $json.below_target.map(c => `• ${c.cohort_week} [${c.segment||'all'}]: 14d ${c.activation_14d_pct}% | 7d ${c.activation_7d_pct}% | 30d ${c.activation_30d_pct}%`).join('\\n') || 'None.' }}\n\nALL COHORTS:\n{{ $json.cohorts.map(c => `${c.is_below_target?'⚠️':'✅'} ${c.cohort_week} [${c.segment||'all'}]: 14d ${c.activation_14d_pct}%`).join('\\n') }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Weekly Monday": { "main": [[{ "node": "Load Activation Data", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Load Activation Data", "type": "main", "index": 0 }]] },
    "Load Activation Data": { "main": [[{ "node": "Calculate Activation Rates", "type": "main", "index": 0 }]] },
    "Calculate Activation Rates": { "main": [[{ "node": "Email Activation Report", "type": "main", "index": 0 }]] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "activation" }, { "name": "growth" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "29-v1.0.0"
}
