workflows/05-founder-intelligence/42-founder-daily-brief/workflow.json
{
  "meta": { "id": "42", "name": "Founder Daily Brief", "description": "Compile a personalised daily brief for the founder: key metrics, team blockers, upcoming meetings, market news, and one thing to decide today.", "category": "Founder Intelligence", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "beginner", "setupTime": "15 min", "requiredIntegrations": ["OpenAI API", "SMTP Email", "Google Sheets"], "optionalIntegrations": ["Google Calendar", "Slack API"], "triggerType": "schedule", "aiRequired": true, "humanApproval": false, "tags": ["founder", "daily-brief", "productivity", "intelligence"] },
  "name": "42 – Founder Daily Brief",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 42 — Founder Daily Brief\n\nA morning email with everything that matters to the founder today.\n\n**Required:**\n- BRIEF_SHEET_ID: sheet with tabs: Metrics (latest KPIs), Blockers (team blockers + owners), Decisions (open decisions)\n- OpenAI API, SMTP Email, NOTIFICATION_EMAIL_TO\n\n**Schedule:** Weekdays at 07:00\n**Status:** Beta.", "height": 280, "width": 360, "color": 7 } },
    { "id": "n-schedule", "name": "Weekdays 07:00", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 7 * * 1-5" }] } } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-metrics", "name": "Load Metrics", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, -20], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.BRIEF_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Metrics", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-blockers", "name": "Load Blockers", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 100], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.BRIEF_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Blockers", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-decisions", "name": "Load Open Decisions", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 220], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.BRIEF_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Decisions", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-compile", "name": "Compile Brief (AI)", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.7, "position": [300, 100], "parameters": { "resource": "text", "operation": "message", "model": { "__rl": true, "value": "={{ $env.AI_MODEL_SMART || 'gpt-4o' }}", "mode": "id" }, "messages": { "values": [{ "role": "system", "content": "You are a sharp executive assistant. Compile a concise founder daily brief. Be direct. Surface only what matters. Maximum 400 words. Return JSON only." }, { "role": "user", "content": "Today: {{ new Date().toDateString() }}\n\nKey Metrics:\n{{ JSON.stringify($('Load Metrics').all().map(i=>i.json).slice(0,10), null, 2) }}\n\nTeam Blockers:\n{{ JSON.stringify($('Load Blockers').all().map(i=>i.json), null, 2) }}\n\nOpen Decisions:\n{{ JSON.stringify($('Load Open Decisions').all().map(i=>i.json), null, 2) }}\n\nReturn JSON:\n{ \"date\": str, \"headline\": str, \"metrics_summary\": str, \"top_blocker\": str|null, \"decision_of_the_day\": str|null, \"watch_list\": [str], \"full_brief\": str }" }] }, "options": {} }, "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI API" } } },
    { "id": "n-parse", "name": "Parse Brief", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [540, 100], "parameters": { "jsCode": "let brief;\ntry { brief = JSON.parse(($input.first().json.message?.content||'{}').replace(/```json|```/g,'').trim()); } catch { brief = {}; }\nreturn [{ json: { generated_at: new Date().toISOString(), ...brief } }];" } },
    { "id": "n-email", "name": "Email Daily Brief", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [780, 100], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "☀️ {{ $json.date || new Date().toDateString() }}: {{ $json.headline || 'Your Daily Brief' }}", "emailType": "text", "message": "{{ $json.full_brief }}\n\n{{ $json.decision_of_the_day ? '📌 DECIDE TODAY: ' + $json.decision_of_the_day : '' }}\n{{ $json.top_blocker ? '🚧 TOP BLOCKER: ' + $json.top_blocker : '' }}\n\nWATCH:\n{{ ($json.watch_list||[]).map(w=>`→ ${w}`).join('\\n') }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Weekdays 07:00": { "main": [[{ "node": "Load Metrics", "type": "main", "index": 0 }, { "node": "Load Blockers", "type": "main", "index": 0 }, { "node": "Load Open Decisions", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Load Metrics", "type": "main", "index": 0 }, { "node": "Load Blockers", "type": "main", "index": 0 }, { "node": "Load Open Decisions", "type": "main", "index": 0 }]] },
    "Load Metrics": { "main": [[{ "node": "Compile Brief (AI)", "type": "main", "index": 0 }]] },
    "Load Blockers": { "main": [[{ "node": "Compile Brief (AI)", "type": "main", "index": 0 }]] },
    "Load Open Decisions": { "main": [[{ "node": "Compile Brief (AI)", "type": "main", "index": 0 }]] },
    "Compile Brief (AI)": { "main": [[{ "node": "Parse Brief", "type": "main", "index": 0 }]] },
    "Parse Brief": { "main": [[{ "node": "Email Daily Brief", "type": "main", "index": 0 }]] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "founder" }, { "name": "daily-brief" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "42-v1.0.0"
}
