workflows/04-customer-feedback/37-feedback-to-feature-bridge/workflow.json
{
  "meta": { "id": "37", "name": "Feedback to Feature Bridge", "description": "Identify feedback items that can be directly linked to roadmap features, score the connection strength, and notify the PM when strong links are found.", "category": "Customer & Feedback", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "intermediate", "setupTime": "15 min", "requiredIntegrations": ["OpenAI API", "Google Sheets", "SMTP Email"], "triggerType": "schedule", "aiRequired": true, "humanApproval": false, "tags": ["feedback", "roadmap", "linking", "product-discovery"] },
  "name": "37 – Feedback to Feature Bridge",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 37 — Feedback to Feature Bridge\n\n**Required:**\n- FEEDBACK_SHEET_ID: feedback with columns id, text, source, segment\n- ROADMAP_SHEET_ID: roadmap items with columns id, title, description, status\n- OpenAI API, SMTP Email, NOTIFICATION_EMAIL_TO\n\n**Schedule:** Every Wednesday at 14:00\n**Status:** Beta.", "height": 280, "width": 360, "color": 7 } },
    { "id": "n-schedule", "name": "Wednesday 14:00", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1, "triggerAtDay": [3], "triggerAtHour": 14 }] } } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-load-feedback", "name": "Load Recent Feedback", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, -20], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.FEEDBACK_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Feedback", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-load-roadmap", "name": "Load Roadmap", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 120], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.ROADMAP_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Roadmap", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-bridge", "name": "Find Bridges (AI)", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.7, "position": [300, 50], "parameters": { "resource": "text", "operation": "message", "model": { "__rl": true, "value": "={{ $env.AI_MODEL_SMART || 'gpt-4o' }}", "mode": "id" }, "messages": { "values": [{ "role": "system", "content": "Find connections between customer feedback and roadmap features. Only link when there is clear, specific overlap. Return JSON only." }, { "role": "user", "content": "FEEDBACK ({{ $('Load Recent Feedback').all().length }} items):\n{{ JSON.stringify($('Load Recent Feedback').all().slice(0,30).map(i=>i.json), null, 2) }}\n\nROADMAP ({{ $('Load Roadmap').all().length }} items):\n{{ JSON.stringify($('Load Roadmap').all().map(i=>i.json), null, 2) }}\n\nReturn JSON array of connections:\n[{ \"feedback_id\": str, \"feedback_text\": str, \"roadmap_id\": str, \"roadmap_title\": str, \"connection_score\": 1-10, \"connection_rationale\": str, \"supports_prioritization\": bool }]" }] }, "options": {} }, "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI API" } } },
    { "id": "n-parse", "name": "Build Bridge Report", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [540, 50], "parameters": { "jsCode": "let links;\ntry { links = JSON.parse(($input.first().json.message?.content||'[]').replace(/```json|```/g,'').trim()); if (!Array.isArray(links)) links = []; } catch { links = []; }\nconst strong = links.filter(l=>l.connection_score>=7);\nreturn [{ json: { date: new Date().toISOString().slice(0,10), total_links: links.length, strong_links: strong.length, links, strong } }];" } },
    { "id": "n-email", "name": "Email Bridge Report", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [780, 50], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "🔗 Feedback-Roadmap Bridges {{ $json.date }}: {{ $json.strong_links }} strong links / {{ $json.total_links }} total", "emailType": "text", "message": "Feedback-to-Roadmap Bridges — {{ $json.date }}\n\n{{ $json.strong_links }} strong connections (score ≥7) found.\n\n⭐ STRONG LINKS:\n{{ $json.strong.map(l => `• [${l.connection_score}/10] \"${l.feedback_text?.slice(0,80)}...\" → ${l.roadmap_title}\\n  ${l.connection_rationale}`).join('\\n\\n') || 'None.' }}\n\nAll {{ $json.total_links }} links logged.\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Wednesday 14:00": { "main": [[{ "node": "Load Recent Feedback", "type": "main", "index": 0 }, { "node": "Load Roadmap", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Load Recent Feedback", "type": "main", "index": 0 }, { "node": "Load Roadmap", "type": "main", "index": 0 }]] },
    "Load Recent Feedback": { "main": [[{ "node": "Find Bridges (AI)", "type": "main", "index": 0 }]] },
    "Load Roadmap": { "main": [[{ "node": "Find Bridges (AI)", "type": "main", "index": 0 }]] },
    "Find Bridges (AI)": { "main": [[{ "node": "Build Bridge Report", "type": "main", "index": 0 }]] },
    "Build Bridge Report": { "main": [[{ "node": "Email Bridge Report", "type": "main", "index": 0 }]] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "feedback" }, { "name": "roadmap" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "37-v1.0.0"
}
