workflows/03-growth-metrics/22-revenue-health-monitor/workflow.json
{
  "meta": { "id": "22", "name": "Revenue Health Monitor", "description": "Track MRR, ARR, churn rate, expansion, and contraction. Alert on revenue health deviations from targets.", "category": "Growth & Metrics", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "intermediate", "setupTime": "15 min", "requiredIntegrations": ["Google Sheets", "SMTP Email"], "optionalIntegrations": ["Stripe API", "Slack API"], "triggerType": "schedule", "aiRequired": false, "humanApproval": false, "tags": ["revenue", "MRR", "ARR", "churn", "health"] },
  "name": "22 – Revenue Health Monitor",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 22 — Revenue Health Monitor\n\n**Required:**\n- REVENUE_SHEET_ID: columns month, mrr, new_mrr, expansion_mrr, contraction_mrr, churn_mrr, customers\n- NOTIFICATION_EMAIL_TO\n- REVENUE_MRR_TARGET: target MoM growth % (e.g. 5)\n\n**Schedule:** 1st of each month at 09:00\n**Status:** Beta.", "height": 280, "width": 360, "color": 7 } },
    { "id": "n-schedule", "name": "Monthly 1st", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 1 * *" }] } } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-load", "name": "Load Revenue Data", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 40], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.REVENUE_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Revenue", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-calc", "name": "Calculate Health", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 40], "parameters": { "jsCode": "const rows = $input.all().map(i => i.json).sort((a, b) => a.month < b.month ? -1 : 1);\nconst last = rows[rows.length - 1] || {};\nconst prev = rows[rows.length - 2] || {};\nconst mrr = parseFloat(last.mrr || 0);\nconst prevMrr = parseFloat(prev.mrr || 1);\nconst mrrGrowth = ((mrr - prevMrr) / prevMrr * 100).toFixed(1);\nconst churnPct = (parseFloat(last.churn_mrr || 0) / prevMrr * 100).toFixed(2);\nconst target = parseFloat($env.REVENUE_MRR_TARGET || 5);\nconst healthy = parseFloat(mrrGrowth) >= target && parseFloat(churnPct) < 5;\nreturn [{ json: { month: last.month, mrr, arr: mrr * 12, mrr_growth_pct: mrrGrowth, churn_pct: churnPct, customers: last.customers, new_mrr: last.new_mrr, expansion_mrr: last.expansion_mrr, contraction_mrr: last.contraction_mrr, health: healthy ? 'healthy' : 'at_risk', target_growth_pct: target } }];" } },
    { "id": "n-email", "name": "Email Revenue Report", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [540, 40], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "💰 Revenue Health {{ $json.month }}: MRR ${{ $json.mrr }} ({{ $json.health.toUpperCase() }})", "emailType": "text", "message": "Revenue Health Report — {{ $json.month }}\n\nMRR: ${{ $json.mrr }}\nARR: ${{ $json.arr }}\nMoM Growth: {{ $json.mrr_growth_pct }}% (target: {{ $json.target_growth_pct }}%)\nChurn MRR: {{ $json.churn_pct }}%\nNew MRR: ${{ $json.new_mrr }}\nExpansion MRR: ${{ $json.expansion_mrr }}\nContraction MRR: ${{ $json.contraction_mrr }}\nCustomers: {{ $json.customers }}\n\nHealth: {{ $json.health.toUpperCase() }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Monthly 1st": { "main": [[{ "node": "Load Revenue Data", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Load Revenue Data", "type": "main", "index": 0 }]] },
    "Load Revenue Data": { "main": [[{ "node": "Calculate Health", "type": "main", "index": 0 }]] },
    "Calculate Health": { "main": [[{ "node": "Email Revenue Report", "type": "main", "index": 0 }]] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "revenue" }, { "name": "metrics" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "22-v1.0.0"
}
