workflows/04-customer-feedback/36-customer-win-loss-analyzer/workflow.json
{
  "meta": { "id": "36", "name": "Customer Win-Loss Analyzer", "description": "Process win/loss notes from sales calls and CRM to identify patterns, objections, and competitive advantages. Produce monthly win-loss intelligence.", "category": "Customer & Feedback", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "intermediate", "setupTime": "20 min", "requiredIntegrations": ["OpenAI API", "Google Sheets", "SMTP Email"], "triggerType": "schedule", "aiRequired": true, "humanApproval": false, "tags": ["win-loss", "sales", "competitive", "analysis"] },
  "name": "36 – Customer Win-Loss Analyzer",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 36 — Customer Win-Loss Analyzer\n\n**Required:**\n- WINLOSS_SHEET_ID: columns date, outcome (win|loss|no-decision), competitor, mrr, segment, notes, primary_reason\n- OpenAI API, SMTP Email, NOTIFICATION_EMAIL_TO\n\n**Schedule:** 1st of month at 11:00\n**Status:** Beta.", "height": 260, "width": 360, "color": 7 } },
    { "id": "n-schedule", "name": "Monthly", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 11 1 * *" }] } } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-load", "name": "Load Win-Loss Data", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 40], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.WINLOSS_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "WinLoss", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-prep", "name": "Prepare Month Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 40], "parameters": { "jsCode": "const monthAgo = new Date(); monthAgo.setDate(1); monthAgo.setMonth(monthAgo.getMonth()-1);\nconst records = $input.all().map(i=>i.json).filter(r=>r.date && new Date(r.date)>=monthAgo);\nconst wins = records.filter(r=>r.outcome==='win');\nconst losses = records.filter(r=>r.outcome==='loss');\nconst win_rate = records.length > 0 ? Math.round(wins.length/records.length*100) : 0;\nreturn [{ json: { records, wins, losses, count: records.length, win_count: wins.length, loss_count: losses.length, win_rate, total_won_mrr: wins.reduce((s,r)=>s+parseFloat(r.mrr||0),0), total_lost_mrr: losses.reduce((s,r)=>s+parseFloat(r.mrr||0),0), period: new Date().toISOString().slice(0,7) } }];" } },
    { "id": "n-analyze", "name": "Analyze Win-Loss (AI)", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.7, "position": [540, 40], "parameters": { "resource": "text", "operation": "message", "model": { "__rl": true, "value": "={{ $env.AI_MODEL_SMART || 'gpt-4o' }}", "mode": "id" }, "messages": { "values": [{ "role": "system", "content": "Analyze win-loss sales data and extract competitive intelligence. Return JSON only." }, { "role": "user", "content": "{{ $json.period }} — {{ $json.count }} deals ({{ $json.win_rate }}% win rate)\n\nWins ({{ $json.win_count }}, ${{ $json.total_won_mrr }} MRR):\n{{ JSON.stringify($json.wins, null, 2) }}\n\nLosses ({{ $json.loss_count }}, ${{ $json.total_lost_mrr }} MRR):\n{{ JSON.stringify($json.losses, null, 2) }}\n\nReturn JSON:\n{ \"summary\": str, \"why_we_win\": [{ \"reason\": str, \"count\": num }], \"why_we_lose\": [{ \"reason\": str, \"count\": num, \"is_product_gap\": bool }], \"competitor_analysis\": [{ \"competitor\": str, \"wins_vs\": num, \"losses_vs\": num, \"their_advantage\": str }], \"recommended_actions\": [str] }" }] }, "options": {} }, "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI API" } } },
    { "id": "n-parse", "name": "Build Win-Loss Report", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [780, 40], "parameters": { "jsCode": "const d = $('Prepare Month Data').first().json;\nlet analysis;\ntry { analysis = JSON.parse(($input.first().json.message?.content||'{}').replace(/```json|```/g,'').trim()); } catch { analysis = {}; }\nreturn [{ json: { period: d.period, count: d.count, win_rate: d.win_rate, total_won_mrr: d.total_won_mrr, total_lost_mrr: d.total_lost_mrr, generated_at: new Date().toISOString(), ...analysis } }];" } },
    { "id": "n-email", "name": "Email Win-Loss Report", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1020, 40], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "🏆 Win-Loss Analysis {{ $json.period }}: {{ $json.win_rate }}% win rate | ${{ $json.total_won_mrr }} won / ${{ $json.total_lost_mrr }} lost", "emailType": "text", "message": "Win-Loss Analysis — {{ $json.period }}\n\n{{ $json.count }} deals | {{ $json.win_rate }}% win rate | ${{ $json.total_won_mrr }} MRR won | ${{ $json.total_lost_mrr }} MRR lost\n\nSUMMARY\n{{ $json.summary }}\n\nWHY WE WIN:\n{{ ($json.why_we_win||[]).map(w=>`✅ ${w.reason} (×${w.count})`).join('\\n') || 'None.' }}\n\nWHY WE LOSE:\n{{ ($json.why_we_lose||[]).map(l=>`❌ ${l.reason} (×${l.count})${l.is_product_gap?' [PRODUCT GAP]':''}`).join('\\n') || 'None.' }}\n\nCOMPETITOR ANALYSIS:\n{{ ($json.competitor_analysis||[]).map(c=>`• ${c.competitor}: ${c.wins_vs}W/${c.losses_vs}L — their advantage: ${c.their_advantage}`).join('\\n') || 'None.' }}\n\nACTIONS:\n{{ ($json.recommended_actions||[]).map(a=>`→ ${a}`).join('\\n') || 'None.' }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Monthly": { "main": [[{ "node": "Load Win-Loss Data", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Load Win-Loss Data", "type": "main", "index": 0 }]] },
    "Load Win-Loss Data": { "main": [[{ "node": "Prepare Month Data", "type": "main", "index": 0 }]] },
    "Prepare Month Data": { "main": [[{ "node": "Analyze Win-Loss (AI)", "type": "main", "index": 0 }]] },
    "Analyze Win-Loss (AI)": { "main": [[{ "node": "Build Win-Loss Report", "type": "main", "index": 0 }]] },
    "Build Win-Loss Report": { "main": [[{ "node": "Email Win-Loss Report", "type": "main", "index": 0 }]] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "win-loss" }, { "name": "competitive" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "36-v1.0.0"
}
