workflows/03-growth-metrics/24-cohort-churn-detector/workflow.json
{
  "meta": { "id": "24", "name": "Cohort Churn Detector", "description": "Identify which user cohorts (by signup month or segment) are churning fastest. Flag at-risk cohorts and email a ranked churn analysis.", "category": "Growth & Metrics", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "intermediate", "setupTime": "20 min", "requiredIntegrations": ["Google Sheets", "SMTP Email"], "optionalIntegrations": ["Slack API"], "triggerType": "schedule", "aiRequired": false, "humanApproval": false, "tags": ["churn", "cohort", "retention", "growth", "metrics"] },
  "name": "24 – Cohort Churn Detector",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 24 — Cohort Churn Detector\n\n**Required:**\n- COHORT_SHEET_ID: sheet with columns: cohort_month, active_at_30d, active_at_60d, active_at_90d, churned_30d, churned_60d, churned_90d, size, segment\n- NOTIFICATION_EMAIL_TO\n- CHURN_ALERT_THRESHOLD: churn % that triggers at-risk flag (default: 20)\n\n**Schedule:** Last day of each month at 08:00\n**Status:** Beta.", "height": 300, "width": 360, "color": 7 } },
    { "id": "n-schedule", "name": "Monthly End", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 L * *" }] } } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-load", "name": "Load Cohort Data", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 40], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.COHORT_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Cohorts", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-analyze", "name": "Analyze Cohorts", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 40], "parameters": { "jsCode": "const threshold = parseFloat($env.CHURN_ALERT_THRESHOLD || 20);\nconst cohorts = $input.all().map(i => {\n  const d = i.json;\n  const size = parseInt(d.size || 1);\n  const c30 = parseFloat(d.churned_30d || 0), c60 = parseFloat(d.churned_60d || 0), c90 = parseFloat(d.churned_90d || 0);\n  const churn_30_pct = ((c30 / size) * 100).toFixed(1);\n  const churn_90_pct = (((c30 + c60 + c90) / size) * 100).toFixed(1);\n  const is_at_risk = parseFloat(churn_30_pct) >= threshold;\n  return { ...d, churn_30_pct: parseFloat(churn_30_pct), churn_90_pct: parseFloat(churn_90_pct), is_at_risk };\n}).sort((a, b) => b.churn_30_pct - a.churn_30_pct);\nconst at_risk = cohorts.filter(c => c.is_at_risk);\nreturn [{ json: { date: new Date().toISOString().slice(0, 10), total_cohorts: cohorts.length, at_risk_count: at_risk.length, threshold_pct: threshold, cohorts, at_risk } }];" } },
    { "id": "n-email", "name": "Email Churn Report", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [540, 40], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "📉 Cohort Churn {{ $json.date }}: {{ $json.at_risk_count }} cohorts at risk (>{{ $json.threshold_pct }}%)", "emailType": "text", "message": "Cohort Churn Analysis — {{ $json.date }}\n\n{{ $json.at_risk_count }} cohorts exceed the {{ $json.threshold_pct }}% 30-day churn threshold.\n\n⚠️ AT-RISK COHORTS:\n{{ $json.at_risk.map(c => `• ${c.cohort_month} [${c.segment || 'all'}]: 30d churn ${c.churn_30_pct}% | 90d churn ${c.churn_90_pct}% (size: ${c.size})`).join('\\n') || 'None.' }}\n\nALL COHORTS (ranked by 30d churn):\n{{ $json.cohorts.map(c => `${c.is_at_risk ? '⚠️' : '✅'} ${c.cohort_month}: ${c.churn_30_pct}% 30d | ${c.churn_90_pct}% 90d`).join('\\n') }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Monthly End": { "main": [[{ "node": "Load Cohort Data", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Load Cohort Data", "type": "main", "index": 0 }]] },
    "Load Cohort Data": { "main": [[{ "node": "Analyze Cohorts", "type": "main", "index": 0 }]] },
    "Analyze Cohorts": { "main": [[{ "node": "Email Churn Report", "type": "main", "index": 0 }]] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "churn" }, { "name": "retention" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "24-v1.0.0"
}
