workflows/04-customer-feedback/31-support-ticket-classifier/workflow.json
{
  "meta": { "id": "31", "name": "Support Ticket Classifier", "description": "Receive support tickets via webhook, classify by category, urgency, and sentiment, route to the right queue, and log to a tracker sheet.", "category": "Customer & Feedback", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "beginner", "setupTime": "10 min", "requiredIntegrations": ["OpenAI API", "Google Sheets", "SMTP Email"], "optionalIntegrations": ["Slack API", "Intercom", "Zendesk"], "triggerType": "webhook", "aiRequired": true, "humanApproval": false, "tags": ["support", "tickets", "classification", "routing"] },
  "name": "31 – Support Ticket Classifier",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 31 — Support Ticket Classifier\n\nReceive tickets via webhook and get instant classification.\n\n**Required:** OpenAI API, TICKET_SHEET_ID (to log), SMTP Email, NOTIFICATION_EMAIL_TO\n\n**Integrations:** Hook this webhook URL into Intercom, Zendesk, or Typeform to auto-classify incoming tickets.\n\n**Status:** Beta.", "height": 260, "width": 360, "color": 7 } },
    { "id": "n-webhook", "name": "Webhook — Ticket Received", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-200, -20], "parameters": { "path": "ticket-classifier", "httpMethod": "POST", "responseMode": "onReceived", "options": {} }, "webhookId": "ticket-classifier-webhook" },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-normalise", "name": "Normalise Ticket", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [60, 40], "parameters": { "jsCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{ json: { ticket_id: body.id || `tkt_${Date.now()}`, subject: body.subject || body.title || '', body: (body.body || body.description || body.text || '').slice(0, 3000), customer_email: body.customer_email || body.email || '', customer_segment: body.segment || '', created_at: body.created_at || new Date().toISOString() } }];" } },
    { "id": "n-classify", "name": "Classify Ticket (AI)", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.7, "position": [300, 40], "parameters": { "resource": "text", "operation": "message", "model": { "__rl": true, "value": "={{ $env.AI_MODEL_FAST || 'gpt-4o-mini' }}", "mode": "id" }, "messages": { "values": [{ "role": "system", "content": "Classify support tickets quickly and accurately. Return JSON only." }, { "role": "user", "content": "Classify this support ticket:\n\nSubject: {{ $json.subject }}\nBody: {{ $json.body }}\nSegment: {{ $json.customer_segment }}\n\nReturn JSON:\n{ \"category\": \"bug|feature_request|billing|onboarding|integration|account|other\", \"urgency\": \"critical|high|medium|low\", \"sentiment\": \"frustrated|neutral|positive\", \"is_churn_signal\": true|false, \"one_line_summary\": str, \"suggested_queue\": str, \"requires_human\": true|false }" }] }, "options": {} }, "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI API" } } },
    { "id": "n-merge", "name": "Build Classified Ticket", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [540, 40], "parameters": { "jsCode": "const ticket = $('Normalise Ticket').first().json;\nlet cls;\ntry { cls = JSON.parse(($input.first().json.message?.content||'{}').replace(/```json|```/g,'').trim()); } catch { cls = {}; }\nreturn [{ json: { ...ticket, ...cls, classified_at: new Date().toISOString() } }];" } },
    { "id": "n-log", "name": "Log to Ticket Sheet", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [780, 40], "parameters": { "operation": "append", "documentId": { "__rl": true, "value": "={{ $env.TICKET_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Tickets", "mode": "name" }, "columns": { "mappingMode": "defineBelow", "value": { "ticket_id": "={{ $json.ticket_id }}", "subject": "={{ $json.subject }}", "category": "={{ $json.category }}", "urgency": "={{ $json.urgency }}", "sentiment": "={{ $json.sentiment }}", "is_churn_signal": "={{ $json.is_churn_signal }}", "summary": "={{ $json.one_line_summary }}", "queue": "={{ $json.suggested_queue }}", "created_at": "={{ $json.created_at }}", "classified_at": "={{ $json.classified_at }}" } }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-check-urgent", "name": "Critical?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1020, 40], "parameters": { "conditions": { "conditions": [{ "leftValue": "={{ $json.urgency }}", "rightValue": "critical", "operator": { "type": "string", "operation": "equals" } }] } } },
    { "id": "n-email", "name": "Alert Critical Ticket", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1260, -20], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "🚨 CRITICAL Ticket: {{ $json.subject }} [{{ $json.category }}]", "emailType": "text", "message": "Critical support ticket received.\n\nTicket ID: {{ $json.ticket_id }}\nSubject: {{ $json.subject }}\nCategory: {{ $json.category }}\nSentiment: {{ $json.sentiment }}\nChurn signal: {{ $json.is_churn_signal }}\nQueue: {{ $json.suggested_queue }}\nSummary: {{ $json.one_line_summary }}\n\nCustomer: {{ $json.customer_email }}\nReceived: {{ $json.created_at }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Webhook — Ticket Received": { "main": [[{ "node": "Normalise Ticket", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Normalise Ticket", "type": "main", "index": 0 }]] },
    "Normalise Ticket": { "main": [[{ "node": "Classify Ticket (AI)", "type": "main", "index": 0 }]] },
    "Classify Ticket (AI)": { "main": [[{ "node": "Build Classified Ticket", "type": "main", "index": 0 }]] },
    "Build Classified Ticket": { "main": [[{ "node": "Log to Ticket Sheet", "type": "main", "index": 0 }]] },
    "Log to Ticket Sheet": { "main": [[{ "node": "Critical?", "type": "main", "index": 0 }]] },
    "Critical?": { "main": [[{ "node": "Alert Critical Ticket", "type": "main", "index": 0 }], []] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "support" }, { "name": "tickets" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "31-v1.0.0"
}
