workflows/04-customer-feedback/34-voice-of-customer-aggregator/workflow.json
{
  "meta": { "id": "34", "name": "Voice of Customer Aggregator", "description": "Pull feedback from multiple channels (reviews, surveys, support, social) and produce a weekly Voice of Customer digest with top themes and quotes.", "category": "Customer & Feedback", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "intermediate", "setupTime": "20 min", "requiredIntegrations": ["OpenAI API", "Google Sheets", "SMTP Email"], "triggerType": "schedule", "aiRequired": true, "humanApproval": false, "tags": ["voice-of-customer", "feedback", "multi-channel", "synthesis"] },
  "name": "34 – Voice of Customer Aggregator",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 34 — Voice of Customer Aggregator\n\n**Required:**\n- VOC_SHEET_ID: columns date, source (review|survey|support|social|interview), text, segment, sentiment, tags\n- OpenAI API, SMTP Email, NOTIFICATION_EMAIL_TO\n\n**Schedule:** Every Friday at 15:00\n**Status:** Beta.", "height": 260, "width": 360, "color": 7 } },
    { "id": "n-schedule", "name": "Friday 15:00", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1, "triggerAtDay": [5], "triggerAtHour": 15 }] } } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-load", "name": "Load Feedback", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 40], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.VOC_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Feedback", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-filter", "name": "Filter Past 7 Days", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 40], "parameters": { "jsCode": "const weekAgo = new Date(); weekAgo.setDate(weekAgo.getDate()-7);\nconst recent = $input.all().map(i=>i.json).filter(r=>r.date && new Date(r.date)>=weekAgo);\nreturn [{ json: { items: recent, count: recent.length, period: new Date().toISOString().slice(0,10) } }];" } },
    { "id": "n-synthesize", "name": "Synthesize VoC (AI)", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.7, "position": [540, 40], "parameters": { "resource": "text", "operation": "message", "model": { "__rl": true, "value": "={{ $env.AI_MODEL_SMART || 'gpt-4o' }}", "mode": "id" }, "messages": { "values": [{ "role": "system", "content": "Synthesize customer feedback into a Voice of Customer digest. Extract themes with supporting quotes. Preserve verbatim evidence. Return JSON only." }, { "role": "user", "content": "{{ $json.count }} feedback items this week:\n\n{{ JSON.stringify($json.items.slice(0,50), null, 2) }}\n\nReturn JSON:\n{ \"summary\": str, \"themes\": [{ \"theme\": str, \"count\": num, \"sentiment\": \"positive|neutral|negative\", \"quotes\": [str], \"product_area\": str }], \"top_positive_quotes\": [str], \"top_negative_quotes\": [str], \"emerging_signals\": [str], \"recommended_actions\": [str] }" }] }, "options": {} }, "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI API" } } },
    { "id": "n-parse", "name": "Build VoC Digest", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [780, 40], "parameters": { "jsCode": "const filter = $('Filter Past 7 Days').first().json;\nlet voc;\ntry { voc = JSON.parse(($input.first().json.message?.content||'{}').replace(/```json|```/g,'').trim()); } catch { voc = {}; }\nreturn [{ json: { period: filter.period, count: filter.count, generated_at: new Date().toISOString(), ...voc } }];" } },
    { "id": "n-email", "name": "Email VoC Digest", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1020, 40], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "🗣️ Voice of Customer Digest {{ $json.period }}: {{ $json.count }} feedback items, {{ ($json.themes||[]).length }} themes", "emailType": "text", "message": "Voice of Customer Weekly Digest — {{ $json.period }}\n({{ $json.count }} items analyzed)\n\nSUMMARY\n{{ $json.summary }}\n\nTHEMES:\n{{ ($json.themes||[]).map(t => `${t.sentiment==='positive'?'✅':t.sentiment==='negative'?'⚠️':'➡️'} ${t.theme} (×${t.count})\\n  Quote: \"${(t.quotes||[''])[0]}\"`).join('\\n\\n') }}\n\n💚 TOP POSITIVE:\n{{ ($json.top_positive_quotes||[]).map(q=>`\"${q}\"`).join('\\n') || 'None.' }}\n\n❗ TOP NEGATIVE:\n{{ ($json.top_negative_quotes||[]).map(q=>`\"${q}\"`).join('\\n') || 'None.' }}\n\nEMERGING SIGNALS:\n{{ ($json.emerging_signals||[]).map(s=>`→ ${s}`).join('\\n') || 'None.' }}\n\nRECOMMENDED ACTIONS:\n{{ ($json.recommended_actions||[]).map(a=>`• ${a}`).join('\\n') || 'None.' }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Friday 15:00": { "main": [[{ "node": "Load Feedback", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Load Feedback", "type": "main", "index": 0 }]] },
    "Load Feedback": { "main": [[{ "node": "Filter Past 7 Days", "type": "main", "index": 0 }]] },
    "Filter Past 7 Days": { "main": [[{ "node": "Synthesize VoC (AI)", "type": "main", "index": 0 }]] },
    "Synthesize VoC (AI)": { "main": [[{ "node": "Build VoC Digest", "type": "main", "index": 0 }]] },
    "Build VoC Digest": { "main": [[{ "node": "Email VoC Digest", "type": "main", "index": 0 }]] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "voice-of-customer" }, { "name": "feedback" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "34-v1.0.0"
}
