workflows/05-founder-intelligence/45-team-sentiment-monitor/workflow.json
{
  "meta": { "id": "45", "name": "Team Sentiment Monitor", "description": "Collect anonymous team pulse check responses weekly, calculate sentiment scores, detect trends, and alert leadership when team health drops below threshold.", "category": "Founder Intelligence", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "beginner", "setupTime": "10 min", "requiredIntegrations": ["Google Sheets", "SMTP Email"], "optionalIntegrations": ["Slack API"], "triggerType": "schedule", "aiRequired": false, "humanApproval": false, "tags": ["team", "sentiment", "culture", "people-ops"] },
  "name": "45 – Team Sentiment Monitor",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 45 — Team Sentiment Monitor\n\n**Required:**\n- PULSE_SHEET_ID: columns week, respondent_id (anonymous), score (1-10), morale (1-10), alignment (1-10), comment\n- PULSE_ALERT_THRESHOLD: average score below which to alert (default: 6.0)\n- NOTIFICATION_EMAIL_TO\n\n**Schedule:** Every Friday at 18:00\n**Status:** Beta.", "height": 280, "width": 360, "color": 7 } },
    { "id": "n-schedule", "name": "Friday 18:00", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1, "triggerAtDay": [5], "triggerAtHour": 18 }] } } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-load", "name": "Load Pulse Responses", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 40], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.PULSE_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Pulse", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-calc", "name": "Calculate Sentiment", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 40], "parameters": { "jsCode": "const threshold = parseFloat($env.PULSE_ALERT_THRESHOLD || 6.0);\nconst week = new Date().toISOString().slice(0,10);\nconst all = $input.all().map(i=>i.json);\nconst thisWeek = all.filter(r=>r.week === week || !r.week);\nconst avg = (arr, key) => arr.length > 0 ? (arr.reduce((s,r)=>s+parseFloat(r[key]||0),0)/arr.length).toFixed(1) : null;\nconst avgScore = avg(thisWeek, 'score');\nconst avgMorale = avg(thisWeek, 'morale');\nconst avgAlignment = avg(thisWeek, 'alignment');\n// Previous week\nconst prevDate = new Date(); prevDate.setDate(prevDate.getDate()-7);\nconst prevWeek = all.filter(r=>r.week === prevDate.toISOString().slice(0,10));\nconst prevScore = avg(prevWeek, 'score');\nconst change = prevScore !== null && avgScore !== null ? (parseFloat(avgScore)-parseFloat(prevScore)).toFixed(1) : null;\nconst alert = avgScore !== null && parseFloat(avgScore) < threshold;\nconst comments = thisWeek.map(r=>r.comment).filter(Boolean);\nreturn [{ json: { week, respondents: thisWeek.length, avg_score: parseFloat(avgScore), avg_morale: parseFloat(avgMorale), avg_alignment: parseFloat(avgAlignment), prev_avg_score: parseFloat(prevScore), change_from_prev: change !== null ? parseFloat(change) : null, threshold, alert, comments } }];" } },
    { "id": "n-email", "name": "Email Pulse Report", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [540, 40], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "{{ $json.alert ? '⚠️ TEAM ALERT' : '💚 Team Pulse' }} {{ $json.week }}: {{ $json.avg_score }}/10 ({{ $json.respondents }} responses)", "emailType": "text", "message": "Team Sentiment Pulse — {{ $json.week }}\n\nRespondents: {{ $json.respondents }}\nOverall score: {{ $json.avg_score }}/10 ({{ $json.change_from_prev !== null ? ($json.change_from_prev > 0 ? '+' : '') + $json.change_from_prev + ' from last week' : 'first week' }})\nMorale: {{ $json.avg_morale }}/10\nAlignment: {{ $json.avg_alignment }}/10\n\n{{ $json.alert ? '⚠️ ALERT: Score below threshold of ' + $json.threshold + '/10 — schedule a 1:1 or team check-in.' : '✅ Team health within expected range.' }}\n\nANONYMOUS COMMENTS:\n{{ $json.comments.map(c=>`• \"${c}\"`).join('\\n') || 'No comments this week.' }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Friday 18:00": { "main": [[{ "node": "Load Pulse Responses", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Load Pulse Responses", "type": "main", "index": 0 }]] },
    "Load Pulse Responses": { "main": [[{ "node": "Calculate Sentiment", "type": "main", "index": 0 }]] },
    "Calculate Sentiment": { "main": [[{ "node": "Email Pulse Report", "type": "main", "index": 0 }]] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "team" }, { "name": "sentiment" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "45-v1.0.0"
}
