workflows/01-discovery-research/07-survey-response-analyzer/workflow.json
{
  "meta": {
    "id": "07",
    "name": "Survey Response Analyzer",
    "description": "Process quantitative and qualitative survey responses, identify patterns, compare segments, and generate a concise research report.",
    "category": "Discovery & Research",
    "status": "beta",
    "version": "1.0.0",
    "testedN8nVersion": "2.30.0",
    "difficulty": "beginner",
    "setupTime": "15 min",
    "estimatedMonthlyCost": "$0.05–0.20 per survey",
    "requiredIntegrations": ["OpenAI API", "SMTP Email"],
    "optionalIntegrations": ["Typeform API", "Google Sheets", "Slack API"],
    "triggerType": "webhook",
    "inputTypes": ["survey export JSON", "Typeform webhook", "CSV rows"],
    "outputTypes": ["pattern report", "segment comparison", "email summary"],
    "aiRequired": true,
    "humanApproval": false,
    "selfHosted": true,
    "n8nCloud": true,
    "tags": ["survey", "quantitative", "qualitative", "research", "patterns"]
  },
  "name": "07 – Survey Response Analyzer",
  "nodes": [
    {
      "id": "node-setup",
      "name": "⚙️ SETUP",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-480, -320],
      "parameters": {
        "content": "## 07 — Survey Response Analyzer\n\n**Required:**\n- OpenAI API credential\n- SMTP Email credential\n- NOTIFICATION_EMAIL_TO\n\n**Accepts:**\n- Typeform webhook payload\n- JSON batch of survey responses\n- Manual trigger with sample data\n\n**Status:** Beta.",
        "height": 280,
        "width": 360,
        "color": 7
      }
    },
    {
      "id": "node-webhook",
      "name": "Webhook — Survey Data",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-200, -20],
      "parameters": {
        "path": "survey-analyzer",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "webhookId": "survey-analyzer-webhook"
    },
    {
      "id": "node-manual",
      "name": "Manual Trigger (Testing)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-200, 100],
      "parameters": {}
    },
    {
      "id": "node-normalise",
      "name": "Normalise Survey Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [60, 40],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n// Handle Typeform, raw array, or single survey batch\nlet responses = [];\nif (Array.isArray(body.responses)) { responses = body.responses; }\nelse if (Array.isArray(body)) { responses = body; }\nelse if (body.form_response) { responses = [body.form_response]; } // Typeform webhook\nelse { responses = [body]; }\n\nconst survey = {\n  id:        body.survey_id   || `surv_${Date.now()}`,\n  title:     body.survey_name || body.title || 'Untitled Survey',\n  total:     responses.length,\n  date:      new Date().toISOString().slice(0,10),\n  responses: responses.slice(0,200).map((r,i) => ({\n    index:   i,\n    segment: r.segment || r.customer_segment || r.plan || 'unknown',\n    answers: r.answers || r.fields || r,\n  })),\n};\nreturn [{ json: survey }];"
      }
    },
    {
      "id": "node-analyze",
      "name": "Analyze Patterns (AI)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [300, 40],
      "parameters": {
        "resource": "text",
        "operation": "message",
        "model": { "__rl": true, "value": "={{ $env.AI_MODEL_SMART || 'gpt-4o' }}", "mode": "id" },
        "messages": {
          "values": [
            { "role": "system", "content": "You are a product researcher analyzing survey responses. Identify patterns, compare segments, and highlight the most actionable insights. Return valid JSON only. Never invent data not in the responses." },
            {
              "role": "user",
              "content": "Analyze this survey: {{ $json.title }}\nResponses: {{ $json.total }}\nDate: {{ $json.date }}\n\nSample responses (up to 200):\n{{ JSON.stringify($json.responses, null, 2) }}\n\nReturn JSON:\n{\n  \"executive_summary\": \"2-3 sentences\",\n  \"top_patterns\": [{\"pattern\": str, \"frequency_pct\": num, \"evidence\": str}],\n  \"segment_comparison\": [{\"segment\": str, \"count\": num, \"key_difference\": str}],\n  \"positive_signals\": [str],\n  \"pain_points\": [str],\n  \"open_text_themes\": [str],\n  \"recommended_actions\": [str],\n  \"caveats\": [str]\n}"
            }
          ]
        },
        "options": {}
      },
      "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI API" } }
    },
    {
      "id": "node-parse",
      "name": "Build Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 40],
      "parameters": {
        "jsCode": "const survey = $('Normalise Survey Data').first().json;\nlet ai;\ntry { ai = JSON.parse(($input.first().json.message?.content||'{}').replace(/```json|```/g,'').trim()); }\ncatch { ai = {}; }\nreturn [{ json: { survey_id: survey.id, title: survey.title, total_responses: survey.total, analysis_date: survey.date, ...ai } }];"
      }
    },
    {
      "id": "node-email",
      "name": "Email Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [780, 40],
      "parameters": {
        "fromEmail":  "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}",
        "toEmail":    "={{ $env.NOTIFICATION_EMAIL_TO }}",
        "subject":    "📊 Survey Analysis: {{ $json.title }} ({{ $json.total_responses }} responses)",
        "emailType":  "text",
        "message":    "Survey Analysis Report\n\nSurvey: {{ $json.title }}\nResponses: {{ $json.total_responses }}\nDate: {{ $json.analysis_date }}\n\nSUMMARY\n{{ $json.executive_summary }}\n\nTOP PATTERNS\n{{ ($json.top_patterns||[]).map(p => `• ${p.pattern} (${p.frequency_pct}%)`).join('\\n') }}\n\nPAIN POINTS\n{{ ($json.pain_points||[]).map(p => `• ${p}`).join('\\n') }}\n\nRECOMMENDED ACTIONS\n{{ ($json.recommended_actions||[]).map(a => `→ ${a}`).join('\\n') }}\n",
        "options":    {}
      },
      "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } }
    }
  ],
  "connections": {
    "Webhook — Survey Data":   { "main": [[{ "node": "Normalise Survey Data", "type": "main", "index": 0 }]] },
    "Manual Trigger (Testing)":{ "main": [[{ "node": "Normalise Survey Data", "type": "main", "index": 0 }]] },
    "Normalise Survey Data":   { "main": [[{ "node": "Analyze Patterns (AI)", "type": "main", "index": 0 }]] },
    "Analyze Patterns (AI)":   { "main": [[{ "node": "Build Report",          "type": "main", "index": 0 }]] },
    "Build Report":            { "main": [[{ "node": "Email Report",          "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": [{ "name": "survey" }, { "name": "research" }],
  "triggerCount": 1,
  "updatedAt": "2025-01-13T00:00:00.000Z",
  "versionId": "07-v1.0.0"
}
