workflows/03-growth-metrics/27-usage-anomaly-detector/workflow.json
{
  "meta": { "id": "27", "name": "Usage Anomaly Detector", "description": "Monitor daily usage metrics, detect anomalies vs. rolling baseline, and alert when metrics deviate beyond configured thresholds.", "category": "Growth & Metrics", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "intermediate", "setupTime": "15 min", "requiredIntegrations": ["Google Sheets", "SMTP Email"], "optionalIntegrations": ["Slack API"], "triggerType": "schedule", "aiRequired": false, "humanApproval": false, "tags": ["anomaly", "usage", "monitoring", "metrics"] },
  "name": "27 – Usage Anomaly Detector",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 27 — Usage Anomaly Detector\n\n**Required:**\n- USAGE_SHEET_ID: columns date, metric_name, value\n- NOTIFICATION_EMAIL_TO\n- ANOMALY_STDDEV_THRESHOLD: number of standard deviations to flag (default: 2)\n\n**Rolling baseline:** 14-day window\n**Schedule:** Daily at 06:00\n**Status:** Beta.", "height": 280, "width": 360, "color": 7 } },
    { "id": "n-schedule", "name": "Daily 06:00", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "days", "daysInterval": 1, "triggerAtHour": 6 }] } } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-load", "name": "Load Usage Data", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 40], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.USAGE_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Usage", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-detect", "name": "Detect Anomalies", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 40], "parameters": { "jsCode": "const stddevThreshold = parseFloat($env.ANOMALY_STDDEV_THRESHOLD || 2);\nconst rows = $input.all().map(i => i.json);\nconst today = new Date().toISOString().slice(0, 10);\n\n// Group by metric\nconst byMetric = {};\nfor (const r of rows) {\n  if (!byMetric[r.metric_name]) byMetric[r.metric_name] = [];\n  byMetric[r.metric_name].push(r);\n}\n\nconst anomalies = [];\nconst all_results = [];\n\nfor (const [metric, data] of Object.entries(byMetric)) {\n  const sorted = data.sort((a, b) => a.date < b.date ? -1 : 1);\n  const latest = sorted[sorted.length - 1];\n  if (!latest || latest.date !== today) continue;\n  const window14 = sorted.slice(-15, -1); // last 14 before today\n  if (window14.length < 5) continue;\n  const vals = window14.map(r => parseFloat(r.value || 0));\n  const mean = vals.reduce((s, v) => s + v, 0) / vals.length;\n  const variance = vals.reduce((s, v) => s + Math.pow(v - mean, 2), 0) / vals.length;\n  const stddev = Math.sqrt(variance);\n  const today_val = parseFloat(latest.value || 0);\n  const z = stddev > 0 ? Math.abs((today_val - mean) / stddev) : 0;\n  const is_anomaly = z >= stddevThreshold;\n  const direction = today_val > mean ? 'spike' : 'drop';\n  const result = { metric, today_value: today_val, mean_14d: Math.round(mean * 100) / 100, stddev_14d: Math.round(stddev * 100) / 100, z_score: Math.round(z * 100) / 100, is_anomaly, direction, pct_from_mean: mean > 0 ? ((today_val - mean) / mean * 100).toFixed(1) : null };\n  all_results.push(result);\n  if (is_anomaly) anomalies.push(result);\n}\n\nreturn [{ json: { date: today, checked_metrics: all_results.length, anomaly_count: anomalies.length, anomalies, all_results, threshold_stddevs: stddevThreshold } }];" } },
    { "id": "n-check", "name": "Any Anomalies?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [540, 40], "parameters": { "conditions": { "conditions": [{ "leftValue": "={{ $json.anomaly_count }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }] } } },
    { "id": "n-email", "name": "Email Anomaly Alert", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [780, -20], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "🚨 Usage Anomaly {{ $json.date }}: {{ $json.anomaly_count }} metric(s) flagged", "emailType": "text", "message": "Usage Anomaly Alert — {{ $json.date }}\n\n{{ $json.anomaly_count }} metrics deviated more than {{ $json.threshold_stddevs }} standard deviations from the 14-day baseline.\n\n{{ $json.anomalies.map(a => `⚠️ ${a.metric}: ${a.today_value} (${a.direction}, ${a.pct_from_mean}% from mean ${a.mean_14d} | z=${a.z_score})`).join('\\n') }}\n\nAll {{ $json.checked_metrics }} metrics checked.\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Daily 06:00": { "main": [[{ "node": "Load Usage Data", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Load Usage Data", "type": "main", "index": 0 }]] },
    "Load Usage Data": { "main": [[{ "node": "Detect Anomalies", "type": "main", "index": 0 }]] },
    "Detect Anomalies": { "main": [[{ "node": "Any Anomalies?", "type": "main", "index": 0 }]] },
    "Any Anomalies?": { "main": [[{ "node": "Email Anomaly Alert", "type": "main", "index": 0 }], []] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "anomaly" }, { "name": "monitoring" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "27-v1.0.0"
}
