workflows/04-customer-feedback/35-onboarding-drop-off-detector/workflow.json
{
  "meta": { "id": "35", "name": "Onboarding Drop-off Detector", "description": "Identify where new users are dropping off in the onboarding flow, segment by cohort and plan, and alert the team with specific improvement suggestions.", "category": "Customer & Feedback", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "intermediate", "setupTime": "15 min", "requiredIntegrations": ["Google Sheets", "SMTP Email"], "optionalIntegrations": ["OpenAI API", "Slack API"], "triggerType": "schedule", "aiRequired": false, "humanApproval": false, "tags": ["onboarding", "drop-off", "activation", "ux"] },
  "name": "35 – Onboarding Drop-off Detector",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 35 — Onboarding Drop-off Detector\n\n**Required:**\n- ONBOARDING_SHEET_ID: columns step_name, step_order, started, completed, segment, plan, cohort_week\n- DROP_OFF_THRESHOLD_PCT: drop-off % to flag (default: 30)\n- NOTIFICATION_EMAIL_TO\n\n**Schedule:** Every Monday at 10:00\n**Status:** Beta.", "height": 280, "width": 360, "color": 7 } },
    { "id": "n-schedule", "name": "Weekly Monday", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1, "triggerAtDay": [1], "triggerAtHour": 10 }] } } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-load", "name": "Load Onboarding Data", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 40], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.ONBOARDING_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Onboarding", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-analyze", "name": "Find Drop-offs", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 40], "parameters": { "jsCode": "const threshold = parseFloat($env.DROP_OFF_THRESHOLD_PCT || 30);\nconst steps = $input.all().map(i=>i.json).sort((a,b)=>parseInt(a.step_order)-parseInt(b.step_order));\nconst results = steps.map(s => {\n  const started = parseInt(s.started||0);\n  const completed = parseInt(s.completed||0);\n  const drop_off_pct = started > 0 ? ((started-completed)/started*100).toFixed(1) : 0;\n  const completion_rate = started > 0 ? (completed/started*100).toFixed(1) : 0;\n  return { ...s, drop_off_pct: parseFloat(drop_off_pct), completion_rate: parseFloat(completion_rate), is_flagged: parseFloat(drop_off_pct) >= threshold };\n});\nconst flagged = results.filter(r=>r.is_flagged);\nconst worst = results.reduce((a,b)=>a.drop_off_pct>b.drop_off_pct?a:b, results[0]||{});\nreturn [{ json: { week: new Date().toISOString().slice(0,10), total_steps: results.length, flagged_count: flagged.length, threshold_pct: threshold, worst_step: worst, flagged, steps: results } }];" } },
    { "id": "n-email", "name": "Email Drop-off Report", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [540, 40], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "🚪 Onboarding Drop-off {{ $json.week }}: {{ $json.flagged_count }} steps ≥{{ $json.threshold_pct }}% drop-off | Worst: {{ $json.worst_step.step_name }}", "emailType": "text", "message": "Onboarding Drop-off Analysis — {{ $json.week }}\n\nWorst drop-off: {{ $json.worst_step.step_name }} ({{ $json.worst_step.drop_off_pct }}% drop-off)\n{{ $json.flagged_count }} of {{ $json.total_steps }} steps above {{ $json.threshold_pct }}% threshold.\n\n⚠️ FLAGGED STEPS (≥{{ $json.threshold_pct }}% drop-off):\n{{ $json.flagged.map(s => `• Step ${s.step_order}: ${s.step_name} — ${s.drop_off_pct}% drop-off (${s.started} started, ${s.completed} completed)`).join('\\n') || 'None.' }}\n\nALL STEPS:\n{{ $json.steps.map(s => `${s.is_flagged?'⚠️':'✅'} ${s.step_order}. ${s.step_name}: ${s.completion_rate}% completion (${s.drop_off_pct}% drop-off)`).join('\\n') }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Weekly Monday": { "main": [[{ "node": "Load Onboarding Data", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Load Onboarding Data", "type": "main", "index": 0 }]] },
    "Load Onboarding Data": { "main": [[{ "node": "Find Drop-offs", "type": "main", "index": 0 }]] },
    "Find Drop-offs": { "main": [[{ "node": "Email Drop-off Report", "type": "main", "index": 0 }]] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "onboarding" }, { "name": "activation" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "35-v1.0.0"
}
