workflows/05-founder-intelligence/47-competitive-pricing-scanner/workflow.json
{
  "meta": { "id": "47", "name": "Competitive Pricing Scanner", "description": "Scan competitor pricing pages and track changes over time. Alert when a competitor changes price, adds a plan, or modifies feature bundling.", "category": "Founder Intelligence", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "intermediate", "setupTime": "20 min", "requiredIntegrations": ["OpenAI API", "Google Sheets", "SMTP Email"], "optionalIntegrations": ["HTTP Request node"], "triggerType": "schedule", "aiRequired": true, "humanApproval": false, "tags": ["pricing", "competitive", "monitoring", "intelligence"] },
  "name": "47 – Competitive Pricing Scanner",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 47 — Competitive Pricing Scanner\n\n**Approach:** Store competitor pricing info in a Sheet; compare against previous snapshot to detect changes.\n\n**Required:**\n- PRICING_MONITOR_SHEET_ID: columns company, plan_name, price, billing_cycle, currency, key_features, scraped_at\n- OpenAI API, SMTP Email, NOTIFICATION_EMAIL_TO\n\n**Schedule:** Every Monday at 07:00\n**Status:** Beta.", "height": 280, "width": 380, "color": 7 } },
    { "id": "n-schedule", "name": "Weekly Monday", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1, "triggerAtDay": [1], "triggerAtHour": 7 }] } } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-load", "name": "Load Pricing Snapshots", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 40], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.PRICING_MONITOR_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "PricingHistory", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-compare", "name": "Detect Changes", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 40], "parameters": { "jsCode": "const all = $input.all().map(i=>i.json);\n// Group by company+plan, compare latest vs prev\nconst byKey = {};\nfor (const r of all) {\n  const key = `${r.company}::${r.plan_name}`;\n  if (!byKey[key]) byKey[key] = [];\n  byKey[key].push(r);\n}\nconst changes = [];\nconst current = [];\nfor (const [key, records] of Object.entries(byKey)) {\n  const sorted = records.sort((a,b)=>a.scraped_at<b.scraped_at?-1:1);\n  const latest = sorted[sorted.length-1];\n  const prev = sorted[sorted.length-2];\n  current.push(latest);\n  if (prev && (prev.price !== latest.price || prev.billing_cycle !== latest.billing_cycle)) {\n    changes.push({ company: latest.company, plan: latest.plan_name, old_price: prev.price, new_price: latest.price, old_cycle: prev.billing_cycle, new_cycle: latest.billing_cycle, detected_at: latest.scraped_at });\n  }\n}\nreturn [{ json: { date: new Date().toISOString().slice(0,10), changes_count: changes.length, changes, current_pricing: current } }];" } },
    { "id": "n-analyze", "name": "Analyze Changes (AI)", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.7, "position": [540, 40], "parameters": { "resource": "text", "operation": "message", "model": { "__rl": true, "value": "={{ $env.AI_MODEL_FAST || 'gpt-4o-mini' }}", "mode": "id" }, "messages": { "values": [{ "role": "system", "content": "Analyze competitive pricing changes and advise on strategic response. Return JSON only." }, { "role": "user", "content": "{{ $json.changes_count }} pricing changes detected this week:\n\nCHANGES:\n{{ JSON.stringify($json.changes, null, 2) }}\n\nCURRENT LANDSCAPE:\n{{ JSON.stringify($json.current_pricing, null, 2) }}\n\nReturn JSON:\n{ \"summary\": str, \"change_analysis\": [{ \"company\": str, \"change_summary\": str, \"strategic_implication\": str, \"suggested_response\": str }], \"market_trend\": str, \"recommended_actions\": [str] }" }] }, "options": {} }, "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI API" } } },
    { "id": "n-parse", "name": "Build Report", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [780, 40], "parameters": { "jsCode": "const data = $('Detect Changes').first().json;\nlet analysis;\ntry { analysis = JSON.parse(($input.first().json.message?.content||'{}').replace(/```json|```/g,'').trim()); } catch { analysis = {}; }\nreturn [{ json: { date: data.date, changes_count: data.changes_count, changes: data.changes, generated_at: new Date().toISOString(), ...analysis } }];" } },
    { "id": "n-email", "name": "Email Pricing Report", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1020, 40], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "{{ $json.changes_count > 0 ? '🔔 Pricing Change Detected' : '💲 Pricing Scan' }} {{ $json.date }}: {{ $json.changes_count }} change(s)", "emailType": "text", "message": "Competitive Pricing Scanner — {{ $json.date }}\n\n{{ $json.changes_count > 0 ? '⚠️ ' + $json.changes_count + ' price change(s) detected this week!' : '✅ No changes detected.' }}\n\n{{ $json.summary || '' }}\n\nCHANGES:\n{{ ($json.changes||[]).map(c=>`• ${c.company} / ${c.plan}: $${c.old_price}→$${c.new_price} (${c.old_cycle}→${c.new_cycle})`).join('\\n') || 'None.' }}\n\n{{ $json.changes_count > 0 ? 'ANALYSIS:\\n' + ($json.change_analysis||[]).map(a=>`• ${a.company}: ${a.strategic_implication}\\n  Action: ${a.suggested_response}`).join('\\n\\n') : '' }}\n\nACTIONS:\n{{ ($json.recommended_actions||[]).map(a=>`→ ${a}`).join('\\n') || 'None.' }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Weekly Monday": { "main": [[{ "node": "Load Pricing Snapshots", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Load Pricing Snapshots", "type": "main", "index": 0 }]] },
    "Load Pricing Snapshots": { "main": [[{ "node": "Detect Changes", "type": "main", "index": 0 }]] },
    "Detect Changes": { "main": [[{ "node": "Analyze Changes (AI)", "type": "main", "index": 0 }]] },
    "Analyze Changes (AI)": { "main": [[{ "node": "Build Report", "type": "main", "index": 0 }]] },
    "Build Report": { "main": [[{ "node": "Email Pricing Report", "type": "main", "index": 0 }]] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "pricing" }, { "name": "competitive" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "47-v1.0.0"
}
