workflows/03-growth-metrics/25-nps-pulse-tracker/workflow.json
{
  "meta": { "id": "25", "name": "NPS Pulse Tracker", "description": "Collect NPS responses via webhook, calculate current score, track trends over time, and alert when score changes significantly.", "category": "Growth & Metrics", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "beginner", "setupTime": "10 min", "requiredIntegrations": ["Google Sheets", "SMTP Email"], "optionalIntegrations": ["Typeform", "Slack API"], "triggerType": "webhook", "aiRequired": false, "humanApproval": false, "tags": ["NPS", "satisfaction", "metrics", "growth"] },
  "name": "25 – NPS Pulse Tracker",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 25 — NPS Pulse Tracker\n\nReceive NPS responses and track score trends.\n\n**Required:**\n- NPS_SHEET_ID: sheet with columns: date, email, score (0-10), segment, comment\n- NOTIFICATION_EMAIL_TO\n- NPS_ALERT_CHANGE: point drop that triggers alert (default: 5)\n\n**Trigger:** Webhook receives score from survey tool or trigger manually\n**Status:** Beta.", "height": 280, "width": 360, "color": 7 } },
    { "id": "n-webhook", "name": "Webhook — NPS Response", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-200, -40], "parameters": { "path": "nps-response", "httpMethod": "POST", "responseMode": "onReceived", "options": {} }, "webhookId": "nps-response-webhook" },
    { "id": "n-manual", "name": "Manual Trigger (Calculate Only)", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 80], "parameters": {} },
    { "id": "n-save", "name": "Save Response", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, -40], "parameters": { "operation": "append", "documentId": { "__rl": true, "value": "={{ $env.NPS_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Responses", "mode": "name" }, "columns": { "mappingMode": "defineBelow", "value": { "date": "={{ new Date().toISOString().slice(0,10) }}", "email": "={{ $json.body?.email || $json.email || '' }}", "score": "={{ $json.body?.score || $json.score || 0 }}", "segment": "={{ $json.body?.segment || $json.segment || '' }}", "comment": "={{ $json.body?.comment || $json.comment || '' }}" } }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-load-all", "name": "Load All Responses", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [300, 40], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.NPS_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Responses", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-calc", "name": "Calculate NPS", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [540, 40], "parameters": { "jsCode": "const all = $input.all().map(i => i.json);\nconst recent30 = all.filter(r => { const d = new Date(r.date); const ago = new Date(); ago.setDate(ago.getDate()-30); return d >= ago; });\nconst score = (r) => parseInt(r.score || 0);\nconst npsOf = (arr) => { if (!arr.length) return null; const p = arr.filter(r=>score(r)>=9).length/arr.length*100; const d = arr.filter(r=>score(r)<=6).length/arr.length*100; return Math.round(p-d); };\nconst nps = npsOf(recent30); const npsAll = npsOf(all);\nconst prev30 = all.filter(r => { const d=new Date(r.date); const s=new Date(); s.setDate(s.getDate()-60); const e=new Date(); e.setDate(e.getDate()-30); return d>=s && d<e; });\nconst prevNps = npsOf(prev30);\nconst change = prevNps !== null ? nps - prevNps : null;\nconst alertThreshold = parseInt($env.NPS_ALERT_CHANGE || 5);\nreturn [{ json: { date: new Date().toISOString().slice(0,10), nps_30d: nps, nps_all_time: npsAll, prev_30d_nps: prevNps, change_from_prev: change, alert: change !== null && change <= -alertThreshold, total_responses: all.length, recent_count: recent30.length } }];" } },
    { "id": "n-email", "name": "Email NPS Update", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [780, 40], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "{{ $json.alert ? '⚠️ NPS Alert' : '📊 NPS Update' }} {{ $json.date }}: Score {{ $json.nps_30d }}{{ $json.change_from_prev !== null ? ' (' + ($json.change_from_prev > 0 ? '+' : '') + $json.change_from_prev + ' pts)' : '' }}", "emailType": "text", "message": "NPS Pulse Tracker — {{ $json.date }}\n\n30-day NPS: {{ $json.nps_30d }}\nAll-time NPS: {{ $json.nps_all_time }}\nChange from previous 30d: {{ $json.change_from_prev !== null ? ($json.change_from_prev > 0 ? '+' : '') + $json.change_from_prev + ' pts' : 'N/A' }}\nTotal responses: {{ $json.total_responses }}\nRecent responses (30d): {{ $json.recent_count }}\n\n{{ $json.alert ? '⚠️ ALERT: NPS dropped ' + Math.abs($json.change_from_prev) + ' points — investigate immediately.' : '✅ NPS within expected range.' }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Webhook — NPS Response": { "main": [[{ "node": "Save Response", "type": "main", "index": 0 }]] },
    "Manual Trigger (Calculate Only)": { "main": [[{ "node": "Load All Responses", "type": "main", "index": 0 }]] },
    "Save Response": { "main": [[{ "node": "Load All Responses", "type": "main", "index": 0 }]] },
    "Load All Responses": { "main": [[{ "node": "Calculate NPS", "type": "main", "index": 0 }]] },
    "Calculate NPS": { "main": [[{ "node": "Email NPS Update", "type": "main", "index": 0 }]] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "NPS" }, { "name": "metrics" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "25-v1.0.0"
}
