workflows/02-planning-execution/16-meeting-to-action-converter/workflow.json
{
  "meta": { "id": "16", "name": "Meeting-to-Action Converter", "description": "Receive a meeting transcript, extract decisions, action items (owner + deadline), blockers, and follow-up questions, then distribute tasks to owners.", "category": "Planning & Execution", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "beginner", "setupTime": "10 min", "requiredIntegrations": ["OpenAI API", "SMTP Email"], "optionalIntegrations": ["Slack API", "Linear API", "Google Sheets", "Notion API"], "triggerType": "webhook", "aiRequired": true, "humanApproval": false, "tags": ["meetings", "action-items", "follow-up", "productivity"] },
  "name": "16 – Meeting-to-Action Converter",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 16 — Meeting-to-Action Converter\n\nPaste a meeting transcript into the webhook and get back:\n- Decisions made\n- Action items with owners + deadlines\n- Blockers and dependencies\n- Follow-up questions\n\n**Required:** OpenAI API, SMTP Email, NOTIFICATION_EMAIL_TO\n**Optional:** Connect to Linear or Jira to auto-create tickets from action items.\n\n**Status:** Beta.", "height": 300, "width": 360, "color": 7 } },
    { "id": "n-webhook", "name": "Webhook — Meeting Transcript", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-200, -20], "parameters": { "path": "meeting-actions", "httpMethod": "POST", "responseMode": "onReceived", "options": {} }, "webhookId": "meeting-actions-webhook" },
    { "id": "n-manual", "name": "Manual Trigger (Testing)", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-normalise", "name": "Normalise Meeting Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [60, 40], "parameters": { "jsCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{ json: { meeting_id: body.id || `meet_${Date.now()}`, title: body.title || body.meeting_name || 'Untitled Meeting', date: body.date || new Date().toISOString().slice(0,10), attendees: body.attendees || [], transcript: (body.transcript || body.text || body.notes || '').slice(0,12000), meeting_type: body.meeting_type || 'general' } }];" } },
    { "id": "n-extract", "name": "Extract Actions (AI)", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.7, "position": [300, 40], "parameters": { "resource": "text", "operation": "message", "model": { "__rl": true, "value": "={{ $env.AI_MODEL_SMART || 'gpt-4o' }}", "mode": "id" }, "messages": { "values": [{ "role": "system", "content": "Extract meeting actions from transcripts. Only extract what is explicitly stated. If a deadline or owner is not mentioned, use null. Return JSON only." }, { "role": "user", "content": "Meeting: {{ $json.title }}\nDate: {{ $json.date }}\nAttendees: {{ $json.attendees.join(', ') || 'Not specified' }}\n\nTranscript:\n{{ $json.transcript }}\n\nReturn JSON:\n{ \"summary\": str, \"decisions\": [{ \"decision\": str, \"made_by\": str, \"context\": str }], \"action_items\": [{ \"action\": str, \"owner\": str|null, \"deadline\": str|null, \"priority\": \"low|medium|high\", \"depends_on\": str|null }], \"blockers\": [{ \"blocker\": str, \"affects\": str, \"owner\": str|null }], \"follow_up_questions\": [{ \"question\": str, \"for\": str|null }], \"next_meeting_topics\": [str] }" }] }, "options": {} }, "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI API" } } },
    { "id": "n-parse", "name": "Build Action Summary", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [540, 40], "parameters": { "jsCode": "const meeting = $('Normalise Meeting Data').first().json;\nlet actions;\ntry { actions = JSON.parse(($input.first().json.message?.content||'{}').replace(/```json|```/g,'').trim()); } catch { actions = {}; }\nreturn [{ json: { meeting_id: meeting.meeting_id, title: meeting.title, date: meeting.date, attendees: meeting.attendees, processed_at: new Date().toISOString(), ...actions } }];" } },
    { "id": "n-email-summary", "name": "Email Action Summary", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [780, 40], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "✅ Meeting Actions: {{ $json.title }} ({{ $json.date }})", "emailType": "text", "message": "Meeting: {{ $json.title }}\nDate: {{ $json.date }}\nAttendees: {{ ($json.attendees||[]).join(', ') || 'Not specified' }}\n\nSUMMARY\n{{ $json.summary || 'No summary.' }}\n\nDECISIONS ({{ ($json.decisions||[]).length }})\n{{ ($json.decisions||[]).map(d => `• ${d.decision}${d.made_by ? ' — ' + d.made_by : ''}`).join('\\n') || 'None recorded.' }}\n\nACTION ITEMS ({{ ($json.action_items||[]).length }})\n{{ ($json.action_items||[]).map(a => `• [${a.priority.toUpperCase()}] ${a.action}${a.owner ? ' → ' + a.owner : ''}${a.deadline ? ' by ' + a.deadline : ''}`).join('\\n') || 'None recorded.' }}\n\nBLOCKERS ({{ ($json.blockers||[]).length }})\n{{ ($json.blockers||[]).map(b => `⚠️ ${b.blocker}${b.owner ? ' (owner: ' + b.owner + ')' : ''}`).join('\\n') || 'None.' }}\n\nFOLLOW-UP QUESTIONS\n{{ ($json.follow_up_questions||[]).map(q => `❓ ${q.question}${q.for ? ' — for ' + q.for : ''}`).join('\\n') || 'None.' }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": { "Webhook — Meeting Transcript": { "main": [[{ "node": "Normalise Meeting Data", "type": "main", "index": 0 }]] }, "Manual Trigger (Testing)": { "main": [[{ "node": "Normalise Meeting Data", "type": "main", "index": 0 }]] }, "Normalise Meeting Data": { "main": [[{ "node": "Extract Actions (AI)", "type": "main", "index": 0 }]] }, "Extract Actions (AI)": { "main": [[{ "node": "Build Action Summary", "type": "main", "index": 0 }]] }, "Build Action Summary": { "main": [[{ "node": "Email Action Summary", "type": "main", "index": 0 }]] } },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "meetings" }, { "name": "productivity" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "16-v1.0.0"
}
