workflows/04-customer-feedback/40-customer-case-study-miner/workflow.json
{
  "meta": { "id": "40", "name": "Customer Case Study Miner", "description": "Identify power users and high-health accounts from your customer data, draft case study outreach emails, and track approval pipeline.", "category": "Customer & Feedback", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "intermediate", "setupTime": "20 min", "requiredIntegrations": ["OpenAI API", "Google Sheets", "SMTP Email"], "triggerType": "schedule", "aiRequired": true, "humanApproval": true, "tags": ["case-study", "customer-success", "marketing", "social-proof"] },
  "name": "40 – Customer Case Study Miner",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 40 — Customer Case Study Miner\n\n**Required:**\n- ACCOUNTS_SHEET_ID: columns company, segment, mrr, health_score, tenure_months, nps_score, notable_use_case, contact_email\n- OpenAI API, SMTP Email, NOTIFICATION_EMAIL_TO\n\n**Runs:** Monthly on the 1st at 12:00\n**Status:** Beta.", "height": 260, "width": 360, "color": 7 } },
    { "id": "n-schedule", "name": "Monthly 12:00", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 12 1 * *" }] } } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-load", "name": "Load Account Data", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 40], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.ACCOUNTS_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Accounts", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-identify", "name": "Identify Candidates", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 40], "parameters": { "jsCode": "const accounts = $input.all().map(i=>i.json);\nconst candidates = accounts.filter(a => {\n  const health = parseInt(a.health_score||0,10);\n  const nps = parseInt(a.nps_score||0,10);\n  const tenure = parseInt(a.tenure_months||0,10);\n  return health >= 80 && nps >= 8 && tenure >= 3 && a.contact_email;\n}).sort((a,b)=>parseInt(b.mrr||0)-parseInt(a.mrr||0)).slice(0,5);\nreturn candidates.map(c=>({json:c}));" } },
    { "id": "n-draft-outreach", "name": "Draft Outreach (AI)", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.7, "position": [540, 40], "parameters": { "resource": "text", "operation": "message", "model": { "__rl": true, "value": "={{ $env.AI_MODEL_FAST || 'gpt-4o-mini' }}", "mode": "id" }, "messages": { "values": [{ "role": "system", "content": "Write a short, genuine outreach email asking a happy customer to participate in a case study. Be direct and personal. No fluff." }, { "role": "user", "content": "Customer: {{ $json.company }} ({{ $json.segment }})\nTenure: {{ $json.tenure_months }} months\nNotable use case: {{ $json.notable_use_case || 'not specified' }}\nHealth: {{ $json.health_score }} | NPS: {{ $json.nps_score }}\n\nWrite a case study outreach email (subject + body, max 100 words body). Return JSON: { \"subject\": str, \"body\": str }" }] }, "options": {} }, "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI API" } } },
    { "id": "n-build-list", "name": "Build Candidate List", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [780, 40], "parameters": { "jsCode": "const candidates = $('Identify Candidates').all().map(i=>i.json);\nconst drafts = $input.all();\nconst list = candidates.map((c,i) => {\n  let email = {};\n  try { email = JSON.parse((drafts[i]?.json?.message?.content||'{}').replace(/```json|```/g,'').trim()); } catch {}\n  return { ...c, draft_subject: email.subject, draft_body: email.body };\n});\nreturn [{ json: { date: new Date().toISOString().slice(0,10), total_candidates: list.length, candidates: list } }];" } },
    { "id": "n-approve", "name": "Request Approval Before Sending", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 2, "position": [1020, 40], "parameters": { "workflowId": { "__rl": true, "value": "HUMAN_APPROVAL_WORKFLOW_ID", "mode": "id" }, "mode": "each", "workflowInputs": { "mappingMode": "defineBelow", "value": { "title": "Approve Case Study Outreach: {{ $json.total_candidates }} candidates", "summary": "Review {{ $json.total_candidates }} drafted outreach emails before sending.", "details": "={{ $json }}", "approver_email": "={{ $env.NOTIFICATION_EMAIL_TO }}", "timeout_hours": 48 } } } },
    { "id": "n-check", "name": "Approved?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1260, 40], "parameters": { "conditions": { "conditions": [{ "leftValue": "={{ $json.approved }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }] } } },
    { "id": "n-email-summary", "name": "Email Candidate List", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1500, -20], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "📖 Case Study Candidates {{ $('Build Candidate List').first().json.date }}: {{ $('Build Candidate List').first().json.total_candidates }} drafted", "emailType": "text", "message": "Case Study Outreach Candidates — {{ $('Build Candidate List').first().json.date }}\n\n{{ $('Build Candidate List').first().json.candidates.map(c => `CANDIDATE: ${c.company} (${c.segment}, ${c.tenure_months}mo, $${c.mrr}/mo)\\nContact: ${c.contact_email}\\nSubject: ${c.draft_subject}\\n---\\n${c.draft_body}\\n`).join('\\n====\\n') }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Monthly 12:00": { "main": [[{ "node": "Load Account Data", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Load Account Data", "type": "main", "index": 0 }]] },
    "Load Account Data": { "main": [[{ "node": "Identify Candidates", "type": "main", "index": 0 }]] },
    "Identify Candidates": { "main": [[{ "node": "Draft Outreach (AI)", "type": "main", "index": 0 }]] },
    "Draft Outreach (AI)": { "main": [[{ "node": "Build Candidate List", "type": "main", "index": 0 }]] },
    "Build Candidate List": { "main": [[{ "node": "Request Approval Before Sending", "type": "main", "index": 0 }]] },
    "Request Approval Before Sending": { "main": [[{ "node": "Approved?", "type": "main", "index": 0 }]] },
    "Approved?": { "main": [[{ "node": "Email Candidate List", "type": "main", "index": 0 }], []] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "case-study" }, { "name": "marketing" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "40-v1.0.0"
}
