workflows/02-planning-execution/19-decision-log-keeper/workflow.json
{
  "meta": { "id": "19", "name": "Decision Log Keeper", "description": "Record product decisions with context, rationale, alternatives considered, and consequences. Provides a searchable audit trail and sends a weekly decision digest.", "category": "Planning & Execution", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "beginner", "setupTime": "10 min", "requiredIntegrations": ["Google Sheets", "SMTP Email"], "optionalIntegrations": ["Slack API", "Notion API"], "triggerType": "webhook", "aiRequired": false, "humanApproval": false, "tags": ["decisions", "documentation", "audit-trail", "planning"] },
  "name": "19 – Decision Log Keeper",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 19 — Decision Log Keeper\n\n**Required:**\n- DECISION_SHEET_ID: Google Sheet with columns: id, date, title, context, decision, rationale, alternatives, consequences, owner, reviewers, status, tags\n- NOTIFICATION_EMAIL_TO\n\n**Weekly digest:** Every Sunday at 18:00\n\n**Status:** Beta.", "height": 280, "width": 360, "color": 7 } },
    { "id": "n-webhook", "name": "Webhook — Log Decision", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-200, -60], "parameters": { "path": "decision-log", "httpMethod": "POST", "responseMode": "onReceived", "options": {} }, "webhookId": "decision-log-webhook" },
    { "id": "n-schedule", "name": "Weekly Digest Schedule", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, 60], "parameters": { "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1, "triggerAtDay": [0], "triggerAtHour": 18 }] } } },
    { "id": "n-manual", "name": "Manual Trigger (Testing)", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 160], "parameters": {} },
    { "id": "n-route", "name": "Route: Log or Digest?", "type": "n8n-nodes-base.switch", "typeVersion": 3.3, "position": [60, 60], "parameters": { "mode": "expression", "output": "={{ $json.body?.decision_id || $input.first().json.decision ? 'log' : 'digest' }}", "rules": { "rules": [{ "outputKey": "log", "conditions": { "conditions": [{ "leftValue": "={{ $input.first().json.body?.decision || $input.first().json.decision }}", "rightValue": "", "operator": { "type": "string", "operation": "notEquals" } }] } }] }, "options": {} } },
    { "id": "n-normalise", "name": "Normalise Decision", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, -40], "parameters": { "jsCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{ json: { id: body.id || `dec_${Date.now()}`, date: body.date || new Date().toISOString().slice(0,10), title: body.title || body.decision_title || 'Untitled Decision', context: body.context || '', decision: body.decision || '', rationale: body.rationale || '', alternatives: Array.isArray(body.alternatives) ? body.alternatives.join('; ') : body.alternatives || '', consequences: body.consequences || '', owner: body.owner || 'Unknown', reviewers: Array.isArray(body.reviewers) ? body.reviewers.join(', ') : body.reviewers || '', status: body.status || 'final', tags: Array.isArray(body.tags) ? body.tags.join(', ') : body.tags || '', logged_at: new Date().toISOString() } }];" } },
    { "id": "n-save", "name": "Save Decision", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [540, -40], "parameters": { "operation": "append", "documentId": { "__rl": true, "value": "={{ $env.DECISION_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Decisions", "mode": "name" }, "columns": { "mappingMode": "autoMapInputData", "value": {}, "matchingColumns": [] }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-load-digest", "name": "Load Week's Decisions", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [300, 140], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.DECISION_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Decisions", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-email-digest", "name": "Email Weekly Digest", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [540, 140], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "📋 Decision Digest: {{ new Date().toISOString().slice(0,10) }}", "emailType": "text", "message": "Weekly Decision Log Digest\n\n{{ $input.all().filter(i => { const d = new Date(i.json.date); const weekAgo = new Date(); weekAgo.setDate(weekAgo.getDate()-7); return d >= weekAgo; }).map(i => `• ${i.json.title} — ${i.json.owner} (${i.json.date})\\n  Decision: ${i.json.decision}\\n  Rationale: ${i.json.rationale}`).join('\\n\\n') || 'No decisions logged this week.' }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": { "Webhook — Log Decision": { "main": [[{ "node": "Route: Log or Digest?", "type": "main", "index": 0 }]] }, "Weekly Digest Schedule": { "main": [[{ "node": "Load Week's Decisions", "type": "main", "index": 0 }]] }, "Manual Trigger (Testing)": { "main": [[{ "node": "Route: Log or Digest?", "type": "main", "index": 0 }]] }, "Route: Log or Digest?": { "main": [[{ "node": "Normalise Decision", "type": "main", "index": 0 }], [{ "node": "Load Week's Decisions", "type": "main", "index": 0 }]] }, "Normalise Decision": { "main": [[{ "node": "Save Decision", "type": "main", "index": 0 }]] }, "Load Week's Decisions": { "main": [[{ "node": "Email Weekly Digest", "type": "main", "index": 0 }]] } },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "decisions" }, { "name": "documentation" }], "triggerCount": 2, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "19-v1.0.0"
}
