workflows/05-founder-intelligence/48-press-mention-aggregator/workflow.json
{
  "meta": { "id": "48", "name": "Press Mention Aggregator", "description": "Monitor RSS feeds and news sources for brand mentions, competitor mentions, and industry news. Compile a weekly press digest with sentiment.", "category": "Founder Intelligence", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "beginner", "setupTime": "10 min", "requiredIntegrations": ["OpenAI API", "SMTP Email"], "optionalIntegrations": ["RSS Feeds", "Google Sheets"], "triggerType": "schedule", "aiRequired": true, "humanApproval": false, "tags": ["press", "media", "monitoring", "brand"] },
  "name": "48 – Press Mention Aggregator",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 48 — Press Mention Aggregator\n\n**Required:**\n- BRAND_NAME: your company/product name\n- COMPETITOR_NAMES: comma-separated competitor names\n- PRESS_RSS_URL_1 / _2: RSS feeds for tech/industry news\n- OpenAI API, SMTP Email, NOTIFICATION_EMAIL_TO\n\n**Schedule:** Every Tuesday and Friday at 09:00\n**Status:** Beta.", "height": 260, "width": 360, "color": 7 } },
    { "id": "n-schedule", "name": "Tue & Fri 09:00", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 * * 2,5" }] } } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-feed1", "name": "Fetch RSS Feed 1", "type": "n8n-nodes-base.rssFeedRead", "typeVersion": 1.1, "position": [60, -20], "parameters": { "url": "={{ $env.PRESS_RSS_URL_1 || 'https://techcrunch.com/feed/' }}" } },
    { "id": "n-feed2", "name": "Fetch RSS Feed 2", "type": "n8n-nodes-base.rssFeedRead", "typeVersion": 1.1, "position": [60, 100], "parameters": { "url": "={{ $env.PRESS_RSS_URL_2 || 'https://news.ycombinator.com/rss' }}" } },
    { "id": "n-filter", "name": "Filter Relevant Mentions", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 40], "parameters": { "jsCode": "const brand = ($env.BRAND_NAME || '').toLowerCase();\nconst competitors = ($env.COMPETITOR_NAMES || '').toLowerCase().split(',').map(s=>s.trim()).filter(Boolean);\nconst watchTerms = [brand, ...competitors].filter(Boolean);\nconst threeDaysAgo = new Date(); threeDaysAgo.setDate(threeDaysAgo.getDate()-3);\nconst items = $input.all().map(i=>i.json).filter(item => {\n  if (!watchTerms.length) return true;\n  const text = ((item.title||'')+(item.contentSnippet||item.content||'')).toLowerCase();\n  const recent = !item.isoDate || new Date(item.isoDate) >= threeDaysAgo;\n  return recent && watchTerms.some(t=>t && text.includes(t));\n}).map(i=>({ title: i.title, link: i.link, date: i.isoDate?.slice(0,10), snippet: (i.contentSnippet||'').slice(0,300), source: i.meta?.link || 'RSS' }));\nreturn [{ json: { date: new Date().toISOString().slice(0,10), count: items.length, items, brand_name: $env.BRAND_NAME || 'Unknown' } }];" } },
    { "id": "n-analyze", "name": "Classify Mentions (AI)", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.7, "position": [540, 40], "parameters": { "resource": "text", "operation": "message", "model": { "__rl": true, "value": "={{ $env.AI_MODEL_FAST || 'gpt-4o-mini' }}", "mode": "id" }, "messages": { "values": [{ "role": "system", "content": "Analyze press mentions and news snippets. Classify sentiment, relevance and significance. Return JSON only." }, { "role": "user", "content": "Brand: {{ $json.brand_name }}\nDate: {{ $json.date }}\n{{ $json.count }} relevant mentions:\n\n{{ JSON.stringify($json.items, null, 2) }}\n\nReturn JSON:\n{ \"summary\": str, \"mentions\": [{ \"title\": str, \"link\": str, \"type\": \"brand|competitor|industry\", \"sentiment\": \"positive|neutral|negative\", \"significance\": \"high|medium|low\", \"one_liner\": str }], \"brand_score\": \"positive|neutral|negative\", \"action_items\": [str] }" }] }, "options": {} }, "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI API" } } },
    { "id": "n-parse", "name": "Build Digest", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [780, 40], "parameters": { "jsCode": "const data = $('Filter Relevant Mentions').first().json;\nlet analysis;\ntry { analysis = JSON.parse(($input.first().json.message?.content||'{}').replace(/```json|```/g,'').trim()); } catch { analysis = {}; }\nreturn [{ json: { date: data.date, brand_name: data.brand_name, raw_count: data.count, generated_at: new Date().toISOString(), ...analysis } }];" } },
    { "id": "n-email", "name": "Email Press Digest", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1020, 40], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "📰 Press Digest {{ $json.date }}: {{ $json.raw_count }} mentions | {{ $json.brand_score }} brand sentiment", "emailType": "text", "message": "Press Mention Digest — {{ $json.date }}\n({{ $json.raw_count }} mentions for {{ $json.brand_name }} and competitors)\n\nSUMMARY: {{ $json.summary }}\nBrand Sentiment: {{ $json.brand_score?.toUpperCase() }}\n\nTOP MENTIONS:\n{{ ($json.mentions||[]).filter(m=>m.significance==='high').map(m => `${m.sentiment==='positive'?'✅':m.sentiment==='negative'?'⚠️':'➡️'} [${m.type.toUpperCase()}] ${m.title}\\n  ${m.one_liner}\\n  ${m.link}`).join('\\n\\n') || 'No high-significance mentions.' }}\n\nALL MENTIONS:\n{{ ($json.mentions||[]).map(m => `• [${m.type}/${m.sentiment}] ${m.title}`).join('\\n') }}\n\n{{ ($json.action_items||[]).length > 0 ? 'ACTIONS:\\n' + $json.action_items.map(a=>`→ ${a}`).join('\\n') : '' }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Tue & Fri 09:00": { "main": [[{ "node": "Fetch RSS Feed 1", "type": "main", "index": 0 }, { "node": "Fetch RSS Feed 2", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Fetch RSS Feed 1", "type": "main", "index": 0 }, { "node": "Fetch RSS Feed 2", "type": "main", "index": 0 }]] },
    "Fetch RSS Feed 1": { "main": [[{ "node": "Filter Relevant Mentions", "type": "main", "index": 0 }]] },
    "Fetch RSS Feed 2": { "main": [[{ "node": "Filter Relevant Mentions", "type": "main", "index": 0 }]] },
    "Filter Relevant Mentions": { "main": [[{ "node": "Classify Mentions (AI)", "type": "main", "index": 0 }]] },
    "Classify Mentions (AI)": { "main": [[{ "node": "Build Digest", "type": "main", "index": 0 }]] },
    "Build Digest": { "main": [[{ "node": "Email Press Digest", "type": "main", "index": 0 }]] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "press" }, { "name": "monitoring" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "48-v1.0.0"
}
