workflows/02-planning-execution/20-retrospective-insight-extractor/workflow.json
{
  "meta": { "id": "20", "name": "Retrospective Insight Extractor", "description": "Process sprint retrospective notes, cluster feedback themes, identify systemic patterns across multiple retros, and track action items to completion.", "category": "Planning & Execution", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "beginner", "setupTime": "15 min", "requiredIntegrations": ["OpenAI API", "SMTP Email"], "optionalIntegrations": ["Google Sheets", "Slack API", "Linear API"], "triggerType": "webhook", "aiRequired": true, "humanApproval": false, "tags": ["retrospective", "agile", "improvement", "team", "planning"] },
  "name": "20 – Retrospective Insight Extractor",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 20 — Retrospective Insight Extractor\n\nPaste retro notes to the webhook (went well, could improve, action items) and receive:\n- Themed clusters of feedback\n- Pattern detection across recent retros\n- Action item tracking\n- Summary report\n\n**Required:** OpenAI API, SMTP Email, NOTIFICATION_EMAIL_TO\n\n**Status:** Beta.", "height": 280, "width": 360, "color": 7 } },
    { "id": "n-webhook", "name": "Webhook — Retro Notes", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-200, -20], "parameters": { "path": "retro-extractor", "httpMethod": "POST", "responseMode": "onReceived", "options": {} }, "webhookId": "retro-extractor-webhook" },
    { "id": "n-manual", "name": "Manual Trigger (Testing)", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-normalise", "name": "Normalise Retro Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [60, 40], "parameters": { "jsCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{ json: { retro_id: body.id || `retro_${Date.now()}`, sprint: body.sprint || body.sprint_number || 'Unknown', team: body.team || 'Unknown', date: body.date || new Date().toISOString().slice(0,10), went_well: Array.isArray(body.went_well) ? body.went_well : [body.went_well || ''], could_improve: Array.isArray(body.could_improve) ? body.could_improve : [body.could_improve || ''], action_items: Array.isArray(body.action_items) ? body.action_items : [], facilitator: body.facilitator || 'Unknown', participants: body.participants || [], raw_notes: body.raw_notes || body.notes || '' } }];" } },
    { "id": "n-analyze", "name": "Analyze Retro (AI)", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.7, "position": [300, 40], "parameters": { "resource": "text", "operation": "message", "model": { "__rl": true, "value": "={{ $env.AI_MODEL_FAST || 'gpt-4o-mini' }}", "mode": "id" }, "messages": { "values": [{ "role": "system", "content": "Analyze sprint retrospective notes and extract actionable insights. Group feedback into themes. Return JSON only." }, { "role": "user", "content": "Sprint: {{ $json.sprint }}\nTeam: {{ $json.team }}\nDate: {{ $json.date }}\n\nWent well:\n{{ $json.went_well.join('\\n') }}\n\nCould improve:\n{{ $json.could_improve.join('\\n') }}\n\nAction items:\n{{ $json.action_items.map(a => typeof a === 'string' ? a : JSON.stringify(a)).join('\\n') }}\n\nRaw notes:\n{{ $json.raw_notes }}\n\nReturn JSON:\n{ \"summary\": str, \"themes_went_well\": [{ \"theme\": str, \"items\": [str] }], \"themes_to_improve\": [{ \"theme\": str, \"items\": [str], \"systemic\": true|false }], \"action_items_structured\": [{ \"action\": str, \"owner\": str|null, \"due\": str|null, \"priority\": \"high|medium|low\" }], \"team_health_signal\": \"healthy|caution|at_risk\", \"patterns\": [str], \"recommended_experiments\": [str] }" }] }, "options": {} }, "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI API" } } },
    { "id": "n-parse", "name": "Build Retro Report", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [540, 40], "parameters": { "jsCode": "const retro = $('Normalise Retro Data').first().json;\nlet analysis;\ntry { analysis = JSON.parse(($input.first().json.message?.content||'{}').replace(/```json|```/g,'').trim()); } catch { analysis = {}; }\nreturn [{ json: { retro_id: retro.retro_id, sprint: retro.sprint, team: retro.team, date: retro.date, participants: retro.participants, processed_at: new Date().toISOString(), ...analysis } }];" } },
    { "id": "n-email", "name": "Email Retro Report", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [780, 40], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "🔄 Retro Insights: Sprint {{ $json.sprint }} — {{ $json.team }} ({{ $json.team_health_signal?.toUpperCase() || 'UNKNOWN' }})", "emailType": "text", "message": "Sprint {{ $json.sprint }} Retrospective — {{ $json.date }}\nTeam: {{ $json.team }} | Health: {{ $json.team_health_signal?.toUpperCase() || '?' }}\n\nSUMMARY\n{{ $json.summary }}\n\n✅ WENT WELL\n{{ ($json.themes_went_well||[]).map(t => `${t.theme}:\\n${(t.items||[]).map(i=>`  • ${i}`).join('\\n')}`).join('\\n\\n') }}\n\n⚠️ TO IMPROVE\n{{ ($json.themes_to_improve||[]).map(t => `${t.theme}${t.systemic?' [SYSTEMIC]':''}:\\n${(t.items||[]).map(i=>`  • ${i}`).join('\\n')}`).join('\\n\\n') }}\n\nACTION ITEMS\n{{ ($json.action_items_structured||[]).map(a => `• [${a.priority}] ${a.action}${a.owner?' → '+a.owner:''}${a.due?' by '+a.due:''}`).join('\\n') || 'None.' }}\n\nRECOMMENDED EXPERIMENTS\n{{ ($json.recommended_experiments||[]).map(e=>`→ ${e}`).join('\\n') || 'None.' }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": { "Webhook — Retro Notes": { "main": [[{ "node": "Normalise Retro Data", "type": "main", "index": 0 }]] }, "Manual Trigger (Testing)": { "main": [[{ "node": "Normalise Retro Data", "type": "main", "index": 0 }]] }, "Normalise Retro Data": { "main": [[{ "node": "Analyze Retro (AI)", "type": "main", "index": 0 }]] }, "Analyze Retro (AI)": { "main": [[{ "node": "Build Retro Report", "type": "main", "index": 0 }]] }, "Build Retro Report": { "main": [[{ "node": "Email Retro Report", "type": "main", "index": 0 }]] } },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "retrospective" }, { "name": "agile" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "20-v1.0.0"
}
