workflows/04-customer-feedback/39-renewal-risk-alerter/workflow.json
{
  "meta": { "id": "39", "name": "Renewal Risk Alerter", "description": "Identify accounts whose contracts are expiring in the next 60 days and who show low health scores. Alert the CS team with a prioritized renewal risk list.", "category": "Customer & Feedback", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "beginner", "setupTime": "15 min", "requiredIntegrations": ["Google Sheets", "SMTP Email"], "optionalIntegrations": ["Slack API"], "triggerType": "schedule", "aiRequired": false, "humanApproval": false, "tags": ["renewals", "retention", "customer-success", "at-risk"] },
  "name": "39 – Renewal Risk Alerter",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 39 — Renewal Risk Alerter\n\n**Required:**\n- RENEWALS_SHEET_ID: columns customer_id, company, segment, mrr, contract_end_date, health_score, csm_owner\n- RENEWAL_WINDOW_DAYS: days ahead to look (default: 60)\n- RENEWAL_HEALTH_THRESHOLD: health score below which to flag (default: 70)\n- NOTIFICATION_EMAIL_TO\n\n**Schedule:** Every Monday at 08:30\n**Status:** Beta.", "height": 300, "width": 380, "color": 7 } },
    { "id": "n-schedule", "name": "Monday 08:30", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1, "triggerAtDay": [1], "triggerAtHour": 8, "triggerAtMinute": 30 }] } } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-load", "name": "Load Account Data", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 40], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.RENEWALS_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Accounts", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-filter", "name": "Find At-Risk Renewals", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 40], "parameters": { "jsCode": "const windowDays = parseInt($env.RENEWAL_WINDOW_DAYS || 60, 10);\nconst healthThreshold = parseInt($env.RENEWAL_HEALTH_THRESHOLD || 70, 10);\nconst today = new Date();\nconst cutoff = new Date(); cutoff.setDate(today.getDate() + windowDays);\nconst accounts = $input.all().map(i=>i.json);\nconst expiring = accounts.filter(a => {\n  if (!a.contract_end_date) return false;\n  const end = new Date(a.contract_end_date);\n  return end >= today && end <= cutoff;\n}).map(a => {\n  const end = new Date(a.contract_end_date);\n  const days_to_renewal = Math.ceil((end-today)/86400000);\n  const health = parseInt(a.health_score || 100, 10);\n  const is_at_risk = health < healthThreshold;\n  const priority = (days_to_renewal <= 30 && is_at_risk) ? 'critical' : is_at_risk ? 'high' : days_to_renewal <= 30 ? 'medium' : 'low';\n  return { ...a, days_to_renewal, health_score: health, is_at_risk, priority };\n}).sort((a,b) => { const order = {critical:0,high:1,medium:2,low:3}; return order[a.priority]-order[b.priority] || a.days_to_renewal-b.days_to_renewal; });\nconst critical = expiring.filter(a=>a.priority==='critical');\nconst high = expiring.filter(a=>a.priority==='high');\nconst total_mrr_at_risk = expiring.filter(a=>a.is_at_risk).reduce((s,a)=>s+parseFloat(a.mrr||0),0);\nreturn [{ json: { week: today.toISOString().slice(0,10), window_days: windowDays, health_threshold: healthThreshold, total_expiring: expiring.length, critical_count: critical.length, high_count: high.length, total_mrr_at_risk: Math.round(total_mrr_at_risk), expiring, critical, high } }];" } },
    { "id": "n-email", "name": "Email Renewal Risk List", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [540, 40], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "🔔 Renewal Risk {{ $json.week }}: {{ $json.total_expiring }} accounts in {{ $json.window_days }}d | ${{ $json.total_mrr_at_risk }} at-risk MRR", "emailType": "text", "message": "Renewal Risk Alert — {{ $json.week }}\n\n{{ $json.total_expiring }} accounts renewing in the next {{ $json.window_days }} days.\n${{ $json.total_mrr_at_risk }} MRR at risk (health < {{ $json.health_threshold }}).\n\n🔴 CRITICAL (expiring ≤30d + at risk) — {{ $json.critical_count }}:\n{{ $json.critical.map(a => `• ${a.company} [${a.segment}] $${a.mrr}/mo — Renews in ${a.days_to_renewal}d — Health: ${a.health_score} — CSM: ${a.csm_owner||'?'}`).join('\\n') || 'None.' }}\n\n🟠 HIGH (at risk, expiring >30d) — {{ $json.high_count }}:\n{{ $json.high.map(a => `• ${a.company} — Renews in ${a.days_to_renewal}d — Health: ${a.health_score}`).join('\\n') || 'None.' }}\n\nAll {{ $json.total_expiring }} expiring accounts:\n{{ $json.expiring.map(a => `${a.priority==='critical'?'🔴':a.priority==='high'?'🟠':a.priority==='medium'?'🟡':'🟢'} ${a.company}: ${a.days_to_renewal}d | ${a.health_score} health | $${a.mrr}/mo`).join('\\n') }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Monday 08:30": { "main": [[{ "node": "Load Account Data", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Load Account Data", "type": "main", "index": 0 }]] },
    "Load Account Data": { "main": [[{ "node": "Find At-Risk Renewals", "type": "main", "index": 0 }]] },
    "Find At-Risk Renewals": { "main": [[{ "node": "Email Renewal Risk List", "type": "main", "index": 0 }]] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "renewals" }, { "name": "retention" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "39-v1.0.0"
}
