workflows/03-growth-metrics/23-conversion-funnel-analyzer/workflow.json
{
  "meta": { "id": "23", "name": "Conversion Funnel Analyzer", "description": "Load funnel step data, calculate conversion rates between steps, identify the biggest drop-off, and email a prioritized analysis.", "category": "Growth & Metrics", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "intermediate", "setupTime": "15 min", "requiredIntegrations": ["Google Sheets", "SMTP Email"], "triggerType": "schedule", "aiRequired": false, "humanApproval": false, "tags": ["funnel", "conversion", "growth", "metrics"] },
  "name": "23 – Conversion Funnel Analyzer",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 23 — Conversion Funnel Analyzer\n\n**Required:**\n- FUNNEL_SHEET_ID: sheet with columns: step_name, step_order, users_entered, period\n- NOTIFICATION_EMAIL_TO\n\n**Schedule:** Every Monday at 08:00\n**Status:** Beta.", "height": 240, "width": 340, "color": 7 } },
    { "id": "n-schedule", "name": "Weekly Schedule", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1, "triggerAtDay": [1], "triggerAtHour": 8 }] } } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-load", "name": "Load Funnel Data", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 40], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.FUNNEL_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Funnel", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-analyze", "name": "Analyze Funnel", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 40], "parameters": { "jsCode": "const steps = $input.all().map(i => i.json).sort((a, b) => parseInt(a.step_order) - parseInt(b.step_order));\nconst results = steps.map((step, i) => {\n  const entered = parseInt(step.users_entered || 0);\n  const prevEntered = i > 0 ? parseInt(steps[i-1].users_entered || 1) : entered;\n  const topOfFunnel = parseInt(steps[0].users_entered || 1);\n  const step_cr = i > 0 ? ((entered / prevEntered) * 100).toFixed(1) : 100;\n  const overall_cr = ((entered / topOfFunnel) * 100).toFixed(1);\n  const drop_off = i > 0 ? prevEntered - entered : 0;\n  return { ...step, step_conversion_rate: parseFloat(step_cr), overall_conversion_rate: parseFloat(overall_cr), drop_off_users: drop_off };\n});\nconst worstStep = results.slice(1).reduce((a, b) => a.step_conversion_rate < b.step_conversion_rate ? a : b, results[1] || {});\nreturn [{ json: { week: new Date().toISOString().slice(0,10), steps: results, biggest_drop_off: worstStep, overall_end_to_end_cr: results[results.length-1]?.overall_conversion_rate || 0 } }];" } },
    { "id": "n-email", "name": "Email Funnel Report", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [540, 40], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "🔻 Funnel Analysis {{ $json.week }} — End-to-end: {{ $json.overall_end_to_end_cr }}% | Biggest drop: {{ $json.biggest_drop_off.step_name }}", "emailType": "text", "message": "Conversion Funnel Analysis — {{ $json.week }}\n\nEnd-to-end conversion: {{ $json.overall_end_to_end_cr }}%\nBiggest drop-off: {{ $json.biggest_drop_off.step_name }} ({{ $json.biggest_drop_off.step_conversion_rate }}% step CR, {{ $json.biggest_drop_off.drop_off_users }} users lost)\n\nFUNNEL STEPS:\n{{ $json.steps.map(s => `${s.step_order}. ${s.step_name}: ${s.users_entered} users (step CR: ${s.step_conversion_rate}% | overall CR: ${s.overall_conversion_rate}%)`).join('\\n') }}\n\n🎯 Priority: Optimize '{{ $json.biggest_drop_off.step_name }}' to recover {{ $json.biggest_drop_off.drop_off_users }} lost users.\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Weekly Schedule": { "main": [[{ "node": "Load Funnel Data", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Load Funnel Data", "type": "main", "index": 0 }]] },
    "Load Funnel Data": { "main": [[{ "node": "Analyze Funnel", "type": "main", "index": 0 }]] },
    "Analyze Funnel": { "main": [[{ "node": "Email Funnel Report", "type": "main", "index": 0 }]] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "funnel" }, { "name": "growth" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "23-v1.0.0"
}
