workflows/03-growth-metrics/30-pricing-signal-collector/workflow.json
{
  "meta": { "id": "30", "name": "Pricing Signal Collector", "description": "Collect pricing objections, willingness-to-pay data, and competitor pricing signals from multiple sources and synthesize a pricing intelligence report.", "category": "Growth & Metrics", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "intermediate", "setupTime": "20 min", "requiredIntegrations": ["OpenAI API", "Google Sheets", "SMTP Email"], "optionalIntegrations": ["Slack API"], "triggerType": "schedule", "aiRequired": true, "humanApproval": false, "tags": ["pricing", "intelligence", "growth", "strategy"] },
  "name": "30 – Pricing Signal Collector",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 30 — Pricing Signal Collector\n\n**Required:**\n- PRICING_SHEET_ID: columns date, source, signal_type (objection|wtp|competitor), text, segment, amount\n- OpenAI API\n- NOTIFICATION_EMAIL_TO\n\n**Schedule:** Biweekly (1st and 15th) at 10:00\n**Status:** Beta.", "height": 280, "width": 360, "color": 7 } },
    { "id": "n-schedule", "name": "Biweekly", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 10 1,15 * *" }] } } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-load", "name": "Load Pricing Signals", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 40], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.PRICING_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Signals", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-synthesize", "name": "Synthesize Pricing Intel (AI)", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.7, "position": [300, 40], "parameters": { "resource": "text", "operation": "message", "model": { "__rl": true, "value": "={{ $env.AI_MODEL_SMART || 'gpt-4o' }}", "mode": "id" }, "messages": { "values": [{ "role": "system", "content": "You are a pricing strategist. Synthesize pricing signals into actionable insights. Only work with the evidence provided. Return JSON only." }, { "role": "user", "content": "Here are {{ $input.all().length }} pricing signals:\n\n{{ JSON.stringify($input.all().map(i=>i.json), null, 2) }}\n\nProvide pricing intelligence:\n{ \"summary\": str, \"objections\": [{ \"objection\": str, \"frequency\": num, \"segment\": str }], \"wtp_insights\": [{ \"segment\": str, \"price_point\": str, \"evidence\": str }], \"competitor_signals\": [{ \"competitor\": str, \"price_point\": str, \"advantage\": str }], \"recommendations\": [str], \"risks\": [str] }" }] }, "options": {} }, "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI API" } } },
    { "id": "n-parse", "name": "Build Report", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [540, 40], "parameters": { "jsCode": "let intel;\ntry { intel = JSON.parse(($input.first().json.message?.content||'{}').replace(/```json|```/g,'').trim()); } catch { intel = {}; }\nreturn [{ json: { generated_at: new Date().toISOString(), signals_count: $('Load Pricing Signals').all().length, ...intel } }];" } },
    { "id": "n-email", "name": "Email Pricing Report", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [780, 40], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "💲 Pricing Intelligence {{ new Date().toISOString().slice(0,10) }}: {{ $json.signals_count }} signals analyzed", "emailType": "text", "message": "Pricing Signal Intelligence — {{ $json.generated_at.slice(0,10) }}\n\nSUMMARY ({{ $json.signals_count }} signals)\n{{ $json.summary }}\n\nOBJECTIONS:\n{{ ($json.objections||[]).map(o => `• ${o.objection} [${o.segment}] (×${o.frequency})`).join('\\n') || 'None.' }}\n\nWILLINGNESS TO PAY:\n{{ ($json.wtp_insights||[]).map(w => `• ${w.segment}: ${w.price_point} — ${w.evidence}`).join('\\n') || 'None.' }}\n\nCOMPETITOR SIGNALS:\n{{ ($json.competitor_signals||[]).map(c => `• ${c.competitor}: ${c.price_point} — ${c.advantage}`).join('\\n') || 'None.' }}\n\nRECOMMENDATIONS:\n{{ ($json.recommendations||[]).map(r => `→ ${r}`).join('\\n') || 'None.' }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Biweekly": { "main": [[{ "node": "Load Pricing Signals", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Load Pricing Signals", "type": "main", "index": 0 }]] },
    "Load Pricing Signals": { "main": [[{ "node": "Synthesize Pricing Intel (AI)", "type": "main", "index": 0 }]] },
    "Synthesize Pricing Intel (AI)": { "main": [[{ "node": "Build Report", "type": "main", "index": 0 }]] },
    "Build Report": { "main": [[{ "node": "Email Pricing Report", "type": "main", "index": 0 }]] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "pricing" }, { "name": "growth" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "30-v1.0.0"
}
