workflows/02-planning-execution/17-risk-dependency-tracker/workflow.json
{
  "meta": { "id": "17", "name": "Risk and Dependency Tracker", "description": "Collect risks and dependencies from team members weekly, score them for probability and impact, flag critical items, and send a consolidated risk report.", "category": "Planning & Execution", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "beginner", "setupTime": "15 min", "requiredIntegrations": ["Google Sheets", "SMTP Email"], "optionalIntegrations": ["Slack API", "Jira API"], "triggerType": "schedule", "aiRequired": false, "humanApproval": false, "tags": ["risk", "dependencies", "planning", "tracking"] },
  "name": "17 – Risk and Dependency Tracker",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 17 — Risk and Dependency Tracker\n\n**Required:**\n- RISK_SHEET_ID: sheet with columns: id, title, type (risk|dependency), probability (1-5), impact (1-5), owner, mitigation, status, due_date\n- NOTIFICATION_EMAIL_TO\n\n**Critical threshold:** RISK_CRITICAL_SCORE (default: 15, max 25)\n**Schedule:** Every Thursday at 09:00\n\n**Status:** Beta.", "height": 300, "width": 360, "color": 7 } },
    { "id": "n-schedule", "name": "Thursday Schedule", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1, "triggerAtDay": [4], "triggerAtHour": 9 }] } } },
    { "id": "n-manual", "name": "Manual Trigger (Testing)", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-load", "name": "Load Risk Register", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 40], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.RISK_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Risks", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-score", "name": "Score and Triage", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 40], "parameters": { "jsCode": "const threshold = parseInt($env.RISK_CRITICAL_SCORE || 15, 10);\nconst items = $input.all().map(i => {\n  const d = i.json;\n  if (d.status === 'resolved' || d.status === 'closed') return null;\n  const P = parseInt(d.probability || 1, 10), I = parseInt(d.impact || 1, 10);\n  const score = P * I;\n  return { ...d, risk_score: score, severity: score >= threshold ? 'critical' : score >= 10 ? 'high' : score >= 5 ? 'medium' : 'low' };\n}).filter(Boolean);\nconst critical = items.filter(r => r.severity === 'critical');\nconst high = items.filter(r => r.severity === 'high');\nreturn [{ json: { week: new Date().toISOString().slice(0,10), total: items.length, critical_count: critical.length, high_count: high.length, items: items.sort((a,b)=>b.risk_score-a.risk_score), critical, high } }];" } },
    { "id": "n-email", "name": "Email Risk Report", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [540, 40], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "⚠️ Risk Report {{ $json.week }}: {{ $json.critical_count }} critical, {{ $json.high_count }} high", "emailType": "text", "message": "Risk & Dependency Report — {{ $json.week }}\n\nSummary: {{ $json.total }} open items ({{ $json.critical_count }} critical, {{ $json.high_count }} high)\n\n🔴 CRITICAL (score ≥ {{ $env.RISK_CRITICAL_SCORE || 15 }})\n{{ $json.critical.map(r => `• ${r.title} [${r.type}] — P:${r.probability}×I:${r.impact}=${r.risk_score} — Owner: ${r.owner||'?'} — Mitigation: ${r.mitigation||'None'}`).join('\\n') || 'None.' }}\n\n🟠 HIGH\n{{ $json.high.map(r => `• ${r.title} [${r.type}] — Score: ${r.risk_score} — Owner: ${r.owner||'?'}`).join('\\n') || 'None.' }}\n\nAll {{ $json.total }} items ranked by risk score have been reviewed.\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": { "Thursday Schedule": { "main": [[{ "node": "Load Risk Register", "type": "main", "index": 0 }]] }, "Manual Trigger (Testing)": { "main": [[{ "node": "Load Risk Register", "type": "main", "index": 0 }]] }, "Load Risk Register": { "main": [[{ "node": "Score and Triage", "type": "main", "index": 0 }]] }, "Score and Triage": { "main": [[{ "node": "Email Risk Report", "type": "main", "index": 0 }]] } },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "risk" }, { "name": "planning" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "17-v1.0.0"
}
