workflows/05-founder-intelligence/43-investor-update-composer/workflow.json
{
  "meta": { "id": "43", "name": "Investor Update Composer", "description": "Compile investor update data (metrics, milestones, asks) and generate a polished monthly investor update email ready for review and send.", "category": "Founder Intelligence", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "beginner", "setupTime": "15 min", "requiredIntegrations": ["OpenAI API", "SMTP Email", "Google Sheets"], "triggerType": "schedule", "aiRequired": true, "humanApproval": true, "tags": ["investor", "update", "fundraising", "founder"] },
  "name": "43 – Investor Update Composer",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 43 — Investor Update Composer\n\n**Required:**\n- INVESTOR_SHEET_ID: tabs: Metrics (MRR, customers, growth, burn), Milestones (achieved, upcoming), Asks (what help you need)\n- OpenAI API, SMTP Email, NOTIFICATION_EMAIL_TO\n\n**Schedule:** 5th of each month at 09:00\n**Status:** Beta.", "height": 260, "width": 360, "color": 7 } },
    { "id": "n-schedule", "name": "Monthly 5th", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 5 * *" }] } } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-metrics", "name": "Load Metrics", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, -20], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.INVESTOR_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Metrics", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-milestones", "name": "Load Milestones", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 100], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.INVESTOR_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Milestones", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-asks", "name": "Load Asks", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 220], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.INVESTOR_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Asks", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-draft", "name": "Draft Investor Update (AI)", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.7, "position": [300, 100], "parameters": { "resource": "text", "operation": "message", "model": { "__rl": true, "value": "={{ $env.AI_MODEL_SMART || 'gpt-4o' }}", "mode": "id" }, "messages": { "values": [{ "role": "system", "content": "Write a professional, transparent, concise investor update email. Be honest about challenges. Structure: metrics → progress → challenges → asks. Max 400 words. Return JSON only." }, { "role": "user", "content": "Month: {{ new Date(new Date().setDate(1)).toLocaleString('default',{month:'long',year:'numeric'}) }}\n\nMetrics:\n{{ JSON.stringify($('Load Metrics').all().map(i=>i.json), null, 2) }}\n\nMilestones:\n{{ JSON.stringify($('Load Milestones').all().map(i=>i.json), null, 2) }}\n\nAsks:\n{{ JSON.stringify($('Load Asks').all().map(i=>i.json), null, 2) }}\n\nReturn JSON:\n{ \"subject\": str, \"headline\": str, \"metrics_section\": str, \"progress_section\": str, \"challenges_section\": str, \"asks_section\": str, \"full_email\": str }" }] }, "options": {} }, "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI API" } } },
    { "id": "n-parse", "name": "Parse Draft", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [540, 100], "parameters": { "jsCode": "let draft;\ntry { draft = JSON.parse(($input.first().json.message?.content||'{}').replace(/```json|```/g,'').trim()); } catch { draft = {}; }\nreturn [{ json: { generated_at: new Date().toISOString(), status: 'draft', ...draft } }];" } },
    { "id": "n-approve", "name": "Founder Review", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 2, "position": [780, 100], "parameters": { "workflowId": { "__rl": true, "value": "HUMAN_APPROVAL_WORKFLOW_ID", "mode": "id" }, "mode": "each", "workflowInputs": { "mappingMode": "defineBelow", "value": { "title": "Review Investor Update Draft: {{ $json.subject }}", "summary": "Investor update draft ready. Review and approve before sending.", "details": "={{ $json }}", "approver_email": "={{ $env.NOTIFICATION_EMAIL_TO }}", "timeout_hours": 72 } } } },
    { "id": "n-check", "name": "Approved?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1020, 100], "parameters": { "conditions": { "conditions": [{ "leftValue": "={{ $json.approved }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }] } } },
    { "id": "n-email", "name": "Email Draft for Sending", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1260, 40], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "APPROVED: {{ $('Parse Draft').first().json.subject }}", "emailType": "text", "message": "Investor update approved. Send the following:\n\nTO: [your investor list]\nSUBJECT: {{ $('Parse Draft').first().json.subject }}\n\n---\n{{ $('Parse Draft').first().json.full_email }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Monthly 5th": { "main": [[{ "node": "Load Metrics", "type": "main", "index": 0 }, { "node": "Load Milestones", "type": "main", "index": 0 }, { "node": "Load Asks", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Load Metrics", "type": "main", "index": 0 }, { "node": "Load Milestones", "type": "main", "index": 0 }, { "node": "Load Asks", "type": "main", "index": 0 }]] },
    "Load Metrics": { "main": [[{ "node": "Draft Investor Update (AI)", "type": "main", "index": 0 }]] },
    "Load Milestones": { "main": [[{ "node": "Draft Investor Update (AI)", "type": "main", "index": 0 }]] },
    "Load Asks": { "main": [[{ "node": "Draft Investor Update (AI)", "type": "main", "index": 0 }]] },
    "Draft Investor Update (AI)": { "main": [[{ "node": "Parse Draft", "type": "main", "index": 0 }]] },
    "Parse Draft": { "main": [[{ "node": "Founder Review", "type": "main", "index": 0 }]] },
    "Founder Review": { "main": [[{ "node": "Approved?", "type": "main", "index": 0 }]] },
    "Approved?": { "main": [[{ "node": "Email Draft for Sending", "type": "main", "index": 0 }], []] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "investor" }, { "name": "founder" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "43-v1.0.0"
}
