workflows/03-growth-metrics/21-metrics-dashboard-mailer/workflow.json
{
  "meta": { "id": "21", "name": "Metrics Dashboard Mailer", "description": "Pull key metrics from a Google Sheet and email a formatted weekly dashboard with trend indicators and target comparisons.", "category": "Growth & Metrics", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "beginner", "setupTime": "10 min", "requiredIntegrations": ["Google Sheets", "SMTP Email"], "triggerType": "schedule", "aiRequired": false, "humanApproval": false, "tags": ["metrics", "dashboard", "reporting", "weekly"] },
  "name": "21 – Metrics Dashboard Mailer",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 21 — Metrics Dashboard Mailer\n\n**Required:**\n- METRICS_SHEET_ID: sheet with columns metric, value, previous, unit, target, category\n- NOTIFICATION_EMAIL_TO\n\n**Schedule:** Every Monday at 07:30\n**Status:** Beta.", "height": 240, "width": 340, "color": 7 } },
    { "id": "n-schedule", "name": "Monday 07:30", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "weeks", "weeksInterval": 1, "triggerAtDay": [1], "triggerAtHour": 7, "triggerAtMinute": 30 }] } } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-load", "name": "Load Metrics", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 40], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.METRICS_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Metrics", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-calc", "name": "Calculate Changes", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 40], "parameters": { "jsCode": "const items = $input.all().map(i => {\n  const d = i.json;\n  const curr = parseFloat(d.value || 0);\n  const prev = parseFloat(d.previous || 0);\n  const delta = prev > 0 ? ((curr - prev) / prev * 100).toFixed(1) : null;\n  const vs_target = d.target ? ((curr / parseFloat(d.target)) * 100).toFixed(1) : null;\n  const trend = delta > 0 ? 'up' : delta < 0 ? 'down' : 'flat';\n  return { ...d, delta_pct: delta, vs_target_pct: vs_target, trend };\n});\nreturn [{ json: { week: new Date().toISOString().slice(0, 10), metrics: items } }];" } },
    { "id": "n-email", "name": "Email Dashboard", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [540, 40], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "📊 Weekly Metrics — {{ $json.week }}", "emailType": "text", "message": "Weekly Metrics Dashboard — {{ $json.week }}\n\n{{ $json.metrics.map(m => `${m.trend === 'up' ? '📈' : m.trend === 'down' ? '📉' : '➡️'} ${m.metric}: ${m.value} ${m.unit || ''} ${m.delta_pct !== null ? '(' + m.delta_pct + '%)' : ''} ${m.vs_target_pct ? '| Target: ' + m.vs_target_pct + '%' : ''}`).join('\\n') }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "Monday 07:30": { "main": [[{ "node": "Load Metrics", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Load Metrics", "type": "main", "index": 0 }]] },
    "Load Metrics": { "main": [[{ "node": "Calculate Changes", "type": "main", "index": 0 }]] },
    "Calculate Changes": { "main": [[{ "node": "Email Dashboard", "type": "main", "index": 0 }]] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "metrics" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "21-v1.0.0"
}
