workflows/05-founder-intelligence/50-board-deck-data-collector/workflow.json
{
  "meta": { "id": "50", "name": "Board Deck Data Collector", "description": "Automatically gather all board deck data points (metrics, milestones, pipeline, team, financials) from Sheets, assemble a structured deck brief, and send to the founder for final preparation.", "category": "Founder Intelligence", "status": "beta", "version": "1.0.0", "testedN8nVersion": "2.30.0", "difficulty": "intermediate", "setupTime": "20 min", "requiredIntegrations": ["OpenAI API", "Google Sheets", "SMTP Email"], "triggerType": "schedule", "aiRequired": true, "humanApproval": true, "tags": ["board", "deck", "governance", "founder", "fundraising"] },
  "name": "50 – Board Deck Data Collector",
  "nodes": [
    { "id": "n-setup", "name": "⚙️ SETUP", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-480, -320], "parameters": { "content": "## 50 — Board Deck Data Collector\n\nThe final workflow. Gathers all board deck data automatically before each board meeting.\n\n**Required:**\n- BOARD_SHEET_ID: tabs: Metrics, Milestones, Pipeline, Financials, Team, Risks, Asks\n- BOARD_MEETING_DATE: ISO date of next board meeting\n- OpenAI API, SMTP Email, NOTIFICATION_EMAIL_TO\n\n**Schedule:** 10 days before each board meeting (configured monthly)\n**Status:** Beta.", "height": 300, "width": 400, "color": 7 } },
    { "id": "n-schedule", "name": "10 Days Before Board", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-200, -20], "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 20 * *" }] } } },
    { "id": "n-manual", "name": "Manual Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [-200, 100], "parameters": {} },
    { "id": "n-metrics", "name": "Load Metrics", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, -60], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.BOARD_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Metrics", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-milestones", "name": "Load Milestones", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 40], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.BOARD_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Milestones", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-financials", "name": "Load Financials", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 140], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.BOARD_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Financials", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-risks", "name": "Load Risks & Asks", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 240], "parameters": { "operation": "read", "documentId": { "__rl": true, "value": "={{ $env.BOARD_SHEET_ID }}", "mode": "id" }, "sheetName": { "__rl": true, "value": "Risks", "mode": "name" }, "options": {} }, "credentials": { "googleSheetsOAuth2Api": { "id": "SHEETS_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } } },
    { "id": "n-assemble", "name": "Assemble Board Brief (AI)", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.7, "position": [300, 100], "parameters": { "resource": "text", "operation": "message", "model": { "__rl": true, "value": "={{ $env.AI_MODEL_SMART || 'gpt-4o' }}", "mode": "id" }, "messages": { "values": [{ "role": "system", "content": "You are preparing a board deck data brief for a startup founder. Compile everything into a structured, executive-level narrative. Be crisp, accurate, and direct. Return JSON only." }, { "role": "user", "content": "Board meeting: {{ $env.BOARD_MEETING_DATE || 'upcoming' }}\n\nMETRICS:\n{{ JSON.stringify($('Load Metrics').all().map(i=>i.json), null, 2) }}\n\nMILESTONES:\n{{ JSON.stringify($('Load Milestones').all().map(i=>i.json), null, 2) }}\n\nFINANCIALS:\n{{ JSON.stringify($('Load Financials').all().map(i=>i.json), null, 2) }}\n\nRISKS & ASKS:\n{{ JSON.stringify($('Load Risks & Asks').all().map(i=>i.json), null, 2) }}\n\nReturn JSON:\n{ \"board_date\": str, \"executive_summary\": str, \"business_health\": \"on-track|behind|ahead\", \"sections\": { \"metrics\": str, \"milestones\": str, \"financials\": str, \"risks\": str, \"asks\": str }, \"talking_points\": [str], \"data_gaps\": [str], \"preparation_checklist\": [str] }" }] }, "options": {} }, "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI API" } } },
    { "id": "n-parse", "name": "Parse Board Brief", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [540, 100], "parameters": { "jsCode": "let brief;\ntry { brief = JSON.parse(($input.first().json.message?.content||'{}').replace(/```json|```/g,'').trim()); } catch { brief = {}; }\nreturn [{ json: { generated_at: new Date().toISOString(), meeting_date: $env.BOARD_MEETING_DATE || 'upcoming', ...brief } }];" } },
    { "id": "n-approve", "name": "Founder Review", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 2, "position": [780, 100], "parameters": { "workflowId": { "__rl": true, "value": "HUMAN_APPROVAL_WORKFLOW_ID", "mode": "id" }, "mode": "each", "workflowInputs": { "mappingMode": "defineBelow", "value": { "title": "Board Deck Brief Ready: {{ $json.meeting_date }}", "summary": "Board deck data brief is ready for your review. Check data gaps and preparation checklist.", "details": "={{ $json }}", "approver_email": "={{ $env.NOTIFICATION_EMAIL_TO }}", "timeout_hours": 96 } } } },
    { "id": "n-email", "name": "Email Board Brief", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1020, 100], "parameters": { "fromEmail": "={{ $env.EMAIL_FROM || 'noreply@yourcompany.com' }}", "toEmail": "={{ $env.NOTIFICATION_EMAIL_TO }}", "subject": "📋 Board Deck Brief — {{ $('Parse Board Brief').first().json.meeting_date }} | {{ $('Parse Board Brief').first().json.business_health?.toUpperCase() }}", "emailType": "text", "message": "Board Deck Data Brief — {{ $('Parse Board Brief').first().json.meeting_date }}\nGenerated: {{ $('Parse Board Brief').first().json.generated_at.slice(0,10) }}\n\nEXECUTIVE SUMMARY\n{{ $('Parse Board Brief').first().json.executive_summary }}\n\nBusiness Health: {{ $('Parse Board Brief').first().json.business_health?.toUpperCase() }}\n\n📊 METRICS\n{{ $('Parse Board Brief').first().json.sections?.metrics }}\n\n✅ MILESTONES\n{{ $('Parse Board Brief').first().json.sections?.milestones }}\n\n💰 FINANCIALS\n{{ $('Parse Board Brief').first().json.sections?.financials }}\n\n⚠️ RISKS\n{{ $('Parse Board Brief').first().json.sections?.risks }}\n\n🙋 ASKS\n{{ $('Parse Board Brief').first().json.sections?.asks }}\n\nTALKING POINTS:\n{{ ($('Parse Board Brief').first().json.talking_points||[]).map(t=>`• ${t}`).join('\\n') }}\n\nDATA GAPS:\n{{ ($('Parse Board Brief').first().json.data_gaps||[]).map(g=>`❌ ${g}`).join('\\n') || 'None — data complete.' }}\n\nPREPARATION CHECKLIST:\n{{ ($('Parse Board Brief').first().json.preparation_checklist||[]).map(c=>`☐ ${c}`).join('\\n') }}\n", "options": {} }, "credentials": { "smtp": { "id": "SMTP_CREDENTIAL_ID", "name": "SMTP Email" } } }
  ],
  "connections": {
    "10 Days Before Board": { "main": [[{ "node": "Load Metrics", "type": "main", "index": 0 }, { "node": "Load Milestones", "type": "main", "index": 0 }, { "node": "Load Financials", "type": "main", "index": 0 }, { "node": "Load Risks & Asks", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Load Metrics", "type": "main", "index": 0 }, { "node": "Load Milestones", "type": "main", "index": 0 }, { "node": "Load Financials", "type": "main", "index": 0 }, { "node": "Load Risks & Asks", "type": "main", "index": 0 }]] },
    "Load Metrics": { "main": [[{ "node": "Assemble Board Brief (AI)", "type": "main", "index": 0 }]] },
    "Load Milestones": { "main": [[{ "node": "Assemble Board Brief (AI)", "type": "main", "index": 0 }]] },
    "Load Financials": { "main": [[{ "node": "Assemble Board Brief (AI)", "type": "main", "index": 0 }]] },
    "Load Risks & Asks": { "main": [[{ "node": "Assemble Board Brief (AI)", "type": "main", "index": 0 }]] },
    "Assemble Board Brief (AI)": { "main": [[{ "node": "Parse Board Brief", "type": "main", "index": 0 }]] },
    "Parse Board Brief": { "main": [[{ "node": "Founder Review", "type": "main", "index": 0 }]] },
    "Founder Review": { "main": [[{ "node": "Email Board Brief", "type": "main", "index": 0 }]] }
  },
  "pinData": {}, "settings": { "executionOrder": "v1", "saveManualExecutions": true }, "tags": [{ "name": "board" }, { "name": "governance" }], "triggerCount": 1, "updatedAt": "2025-01-13T00:00:00.000Z", "versionId": "50-v1.0.0"
}
